Repository runelite/runelite, pull requests merged in 2018-10, with the labels that each got.

#5453 runelite-client: Don't duplicate chatbox input when widget ids are wrong
  runelite-client/src/main/scripts/ChatboxInputHandler.rs2asm
  runelite-client/src/main/scripts/ChatboxInputInit.rs2asm
Labels: bug, enhancement

#5735 Widget: expose drag methods
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInfoTableModel.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWidget.java
Labels: hooks

#5734 Make raids scout overlay not show at Olm
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
Labels: enhancement

#5736 Use ColorUtil functions instead of creating the color tag manually
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/wasdcamera/WASDCameraPlugin.java
Labels: enhancement

#5739 Update location for terrorchick cage hot/cold
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#5737 corp plugin: Fix settings description typo
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpConfig.java
Labels: enhancement

#5578 Add option to require control to be held for zooming
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomPlugin.java
  runelite-client/src/main/scripts/ScrollWheelZoomHandler.hash
  runelite-client/src/main/scripts/ScrollWheelZoomHandler.rs2asm
  runelite-client/src/main/scripts/ZoomHandler.hash
  runelite-client/src/main/scripts/ZoomHandler.rs2asm
Labels: feature-request

#5750 update stamina potion timer to include shared stamina potions
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#5748 world map plugin: Update fairy ring icon
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/fairy_ring_travel.png
Labels: enhancement

#5746 Interface Styles: Adjust tab icon offsets for 2010 style
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/WidgetOffset.java
Labels: bug

#5740 Implemented NPC name truncation in loot tracker
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
Labels: bug

#5732 Add default cc info chatcolor and change cc info highlight to red
  runelite-client/src/main/java/net/runelite/client/config/ChatColorConfig.java
Labels: bug

#5671 Update VarPlayer MEMBERSHIP_DAYS to 1780
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
Labels: bug, regression

#5747 Chat Commands: Add hints to config description
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: enhancement

#3635 Add currently hovered tile to TileIndicators
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/tileindicators/TileIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/tileindicators/TileIndicatorsOverlay.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#5730 Add location for Salty Peter clue scroll
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#5716 Add sand collection to idle notifier
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#5755 cluescrolls: add bullroarer to items list for bullroarer clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#5759 Added some missing wilderness slayer tasks
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#5760 Added ALL remaining missing wilderness tasks
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#5752 Fix BlastFurnace access levels and subscriber names
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceClickBoxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceCofferOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnacePlugin.java
Labels: enhancement

#5753 Fix screenshot plugin access levels
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: enhancement

#5754 Fix special counter access levels and subscriber names
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/Boss.java
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounterPlugin.java
Labels: enhancement

#5767 Require spade on map dig clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: feature-request

#5741 Implemented the ability to hide both globes and xp tracker after 99
  runelite-api/src/main/java/net/runelite/api/Experience.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
Labels: feature-request

#5738 Add support for examine price to clue scroll reward
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
Labels: clues, enhancement

#5757 Add support for parsing Wilderness assignment updates to slayer plugin
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#5785 Added more weiss agility obstacles
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#5796 Revert "Truncate NPC name instead of subtitle in Loot Tracker (#5740)"
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
Labels: regression

#4687 Add solutions for 3 step cryptic master clues (continued from #3352)
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/HotColdClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/LocationsClueScroll.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/NpcClueScroll.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/ObjectClueScroll.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/ThreeStepCrypticClue.java
Labels: clues, feature-request

#5803 Fix Burthorpe spelling in Discord Rich Presence
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: bug

#5782 Partner support for slayer plugin
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#5800 Add new Al-Kharid palace agility shortcuts
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#5790 Add ultimate force notification trigger to NMZ Plugin
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
Labels: feature-request

#5751 Run unsafe widget accesses on client thread
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankValuePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInfoTableModel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInspector.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSWidgetMixin.java
Labels: bug

#5758 fairyring: Don't loose scroll position
  runelite-client/src/main/java/net/runelite/client/plugins/fairyring/FairyRingPlugin.java
Labels: bug

#5786 Add default skill color to XP globes
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/ui/SkillColor.java
Labels: feature-request

#5784 Improve readability of stackformatter tests
  runelite-client/src/test/java/net/runelite/client/util/StackFormatterTest.java
Labels: enhancement

#5603 Interface plugin: Added 2005 chatbox
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/SpriteOverride.java
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/1017.png
Labels: enhancement

#5826 Fix Raids plugin varbit access not happening on client thread
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: bug

#5761 Add support for making the boost colour yellow if below boost threshold
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostIndicator.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsOverlay.java
Labels: enhancement

#5528 More accurate NPC hp overlay when max hp is known
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
Labels: enhancement

#5816 Add additional search tags for interface styles and pvm plugins
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginListItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/demonicgorilla/DemonicGorillaPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCavePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: enhancement

#5843 Removing unused variable
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
Labels: enhancement

#5835 Stop CoX party size from showing before varb is loaded
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPointsOverlay.java
Labels: bug

#5833 Update osrs wiki link
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
Labels: enhancement

#5648 Optimize clue scrolls
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
Labels: bug, clues, enhancement

#5855 Add buy limit for cavalier hats to GE plugin
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: enhancement

#5845 Increase XP tracker accuracy to 2 decimal places
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpSnapshotSingle.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpStateSingle.java
Labels: feature-request

#5850 Fix examine text for stackable untradables to not show a GE value
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
Labels: bug

#5863 Remove idle alerts from Lunar Spells shared animation
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-api/src/main/java/net/runelite/api/GraphicID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: bug

#3647 Add valuable ground item notifications
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: feature-request

#5856 XP Globes - Move progress bar display from tooltip to globe
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
Labels: enhancement

#5832 Skip empty spots in Loot Tracker when getting items
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: bug

#5874 Kingdom Plugin: fix throne completion state check
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomPlugin.java
Labels: bug

#5870 mouse tooltips: Don't add a tooltip if another is present
  runelite-api/src/main/java/net/runelite/api/VarClientInt.java
  runelite-client/src/main/java/net/runelite/client/plugins/mousehighlight/MouseHighlightOverlay.java
Labels: bug

#5798 Fix chat notification highlight words split regex
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPluginTest.java
Labels: bug

#5880 Fix snapped overlays above chatbox not being rendered
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug

#5866 Move item search client side
  http-api/src/main/java/net/runelite/http/api/item/ItemPrice.java
  http-service/src/main/java/net/runelite/http/service/item/ItemController.java
  http-service/src/main/java/net/runelite/http/service/item/ItemEntry.java
  http-service/src/main/java/net/runelite/http/service/item/ItemService.java
  http-service/src/main/java/net/runelite/http/service/item/PriceEntry.java
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
Labels: enhancement

#5871 chat message manager: add support for coloring to/from
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/scripts/ChatBuilder.hash
  runelite-client/src/main/scripts/ChatBuilder.rs2asm
  runelite-client/src/main/scripts/ChatSplitBuilder.hash
  runelite-client/src/main/scripts/ChatSplitBuilder.rs2asm
Labels: feature-request

#5879 Change regen meter stroke end-cap style to CAP_BUTT
  runelite-client/src/main/java/net/runelite/client/plugins/regenmeter/RegenMeterOverlay.java
Labels: enhancement

#5886 Fix spelling of Burthorpe Games Room in Discord Rich Presence
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: bug, discord

#5884 2010 styles: Fix offsets
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/WidgetOffset.java
Labels: enhancement

#5908 Use TAG_SEARCH const instead of hardcoding "tag:" in Bank Tags
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: enhancement

#5911 Fix NPE in Grand Exchange search caused by null entry
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: bug

#5906 Fix tags resetting when bank window is closed and active tab matching for long tags
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#5915 Properly reset search when deleting active tag tab
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#5934 Don't fetch itemid of Change Icon menu option on tabs
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#5926 Do not reset equipment/inventory in clues croll plugin each tick
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
Labels: bug, regression

#5928 Fix spellbook widget ids
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
Labels: bug, regression

#5935 Fix raid scout overlay not rendering at bank
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
Labels: bug, regression

#5944 Remove duplicate "Patches" from time track overview
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/OverviewTabPanel.java
Labels: regression

#5947 Add Gout Tuber heal info to Item Stats plugin
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement

#5480 ConfigManager: don't post an update if the values are the same
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
Labels: enhancement

#5939 Zoom fix
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomPlugin.java
  runelite-client/src/main/scripts/OptionsPanelRebuilder.hash
  runelite-client/src/main/scripts/OptionsPanelRebuilder.rs2asm
  runelite-client/src/main/scripts/OptionsPanelZoomMouseListener.hash
  runelite-client/src/main/scripts/OptionsPanelZoomMouseListener.rs2asm
  runelite-client/src/main/scripts/OptionsPanelZoomUpdater.hash
  runelite-client/src/main/scripts/OptionsPanelZoomUpdater.rs2asm
  runelite-client/src/main/scripts/ScrollWheelZoomHandler.hash
  runelite-client/src/main/scripts/ScrollWheelZoomHandler.rs2asm
  runelite-client/src/main/scripts/ZoomHandler.hash
  runelite-client/src/main/scripts/ZoomHandler.rs2asm
Labels: regression

#5860 Fix OSB price duplication on delayed lookup
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
Labels: bug

#5910 Don't limit bank search and title explicitly to 15 characters
  runelite-client/src/main/scripts/BankSearchFilter.rs2asm
  runelite-client/src/main/scripts/BankSearchLayout.rs2asm
Labels: bug, jagex-bug

#5905 Move raid scouter layout to title
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
Labels: enhancement

#5946 time tracking: Remove deprecated config migration
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TimeTrackingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingTracker.java
Labels: enhancement

#5949 Add option to remember last opened tag tab
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: feature-request

#5960 Fix cave kraken boss task name
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: bug

#5640 Make bounty hunter stats widget layoutable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: feature-request

#5965 Properly reorder menu entry config & add swaps for quick pass/travel/start
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#5969 Disable bury and harpoon swaps by default
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
Labels: enhancement

#5829 WidgetOverlay: Make k/d counter moveable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: feature-request

#5973 Limit widget overlay bounds to parent
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: bug

#5967 GameEventManager: Simulate Actor spawn events
  runelite-client/src/main/java/net/runelite/client/util/GameEventManager.java
Labels: enhancement

#5977 Fix for #5938 - PM chat recoloring do not works for pmods/jmods
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
Labels: bug

#5975 slayer: Add combat bracelet task update handling
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: feature-request

#5898 Implement locking and corrupted file sanitization to ConfigManager
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
Labels: bug

#5986 Mystic Mist Staff buy limit corrected from 6 to 8
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: bug

#4805 DiscordPlugin: Add MLM
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: feature-request

#5989 Update slayer task based on VarPlayer value if available
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: enhancement

#5995 Sort config panel options by name as well
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
Labels: enhancement

#6000 Fix lava maze dungeon cryptic clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#5992 Add raiding activity to Discord plugin
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordAreaType.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
Labels: discord, feature-request

#6007 Remove switch case for swapQuick
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug

#6001 Log error when encountering an unmatched clue string
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
Labels: enhancement

#6003 Make 3 step cryptic clues more robust
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/ThreeStepCrypticClue.java
Labels: bug, enhancement

#6011 Fix ASGARNIA_MIAZRQA Hot-Cold clue location.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: bug, clues

#6023 Revert #5989
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: bug

#5990 Add option to choose interface (layoutable) overlay font
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: feature-request

#5988 Bank tags: add ability to tag inventory/equipment
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: feature-request

#6025 Tag tabs: Add to existing tags instead of overwriting them from inv/eq
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/TagManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#3641 Use terminal-notifier when available for OSX
  runelite-client/src/main/java/net/runelite/client/Notifier.java
Labels: feature-request

#4465 Add toggle for displaying username in title
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: feature-request

#6024 Add ability to import/export tag tabs with clipboard
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/TagManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: feature-request

#6037 Unify calls for getting real item id for bank tag
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/TagManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: enhancement

#6038 Make Zeah Mess Hall display layoutable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: feature-request

#6020 widget: expose itemQuantityMode
  runelite-api/src/main/java/net/runelite/api/widgets/ItemQuantityMode.java
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInfoTableModel.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWidget.java
Labels: hooks

#2756 Add examine info to dev tools
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
Labels: feature-request

#6042 Added diamond bolts to the ge limits
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: feature-request

#6043 Invoke GameEventManager events on ClientThread
  runelite-client/src/main/java/net/runelite/client/util/GameEventManager.java
Labels: bug

#6045 Added lockpick requirement to magical axe hut clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, feature-request

#6050 Clear hint arrow when switching 3 step NPCs
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
Labels: bug

#6066 Relate worn weight reducing items to their inventory version
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
Labels: bug

#6063 Update active tag tab containing edited tag
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#6064 Filter > 0 when tagging inventory/equipment
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#6067 Don't show recent chats if account is new enough
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
Labels: bug

#6072 Change 'username' to 'display name' in usernameInTitle
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
Labels: enhancement

#5725 Allow hop-to option in clan chat menu when target player is a friend and their private chat is off
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
Labels: bug

#6070 Merge common config options in Timers config together + sort by name
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: enhancement

#6071 Remove position config from menu entry swapper
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
Labels: enhancement

#6052 Add idle notification for mixing ultracompost
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#6031 Make special attack counter respect ids and npc deaths
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/Boss.java
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounterPlugin.java
Labels: bug

#5994 Add swap for "Admire" and "Teleport/Spellbook" for mounted capes
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#6085 Rename unknownSoundValues2 to queuedSoundEffectDelays
  runelite-mixins/src/main/java/net/runelite/mixins/PlaySoundEffectMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: hooks

#6083 Add POH incense burner timers
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/BurnerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/IncenseBurner.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohPlugin.java
Labels: feature-request

#6100 Remove pointless int cast
  runelite-client/src/main/java/net/runelite/client/plugins/mta/alchemy/AlchemyRoom.java
Labels: enhancement

#6080 Prevent tag tab scrolling to scroll bank interface
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#6081 Make HiScore lookup always deprioritized
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
Labels: bug

#6099 Add missing dot to "She's small" cryptic
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#6105 puzzlesolver: break out blank tile value into a constant
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/PuzzleSolverOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/solver/PuzzleSolver.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/solver/PuzzleState.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/solver/heuristics/ManhattanDistance.java
Labels: enhancement

#6131 Swap also "quick pass" in Cerb lair
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#6096 Added tears of guthix rock obstacle to agility obstacles
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#6112 Added draynor stilte obstacle to agility plugin
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#6117 mta telekinetic room: Fix finish point comparison
  runelite-client/src/main/java/net/runelite/client/plugins/mta/telekinetic/TelekineticRoom.java
Labels: bug

#5359 Make colon (":") enter chat in WASD mode
  runelite-client/src/main/java/net/runelite/client/plugins/wasdcamera/WASDCameraListener.java
Labels: enhancement

#6082 XpGlobes: Use correct target XP
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobe.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerService.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerServiceImpl.java
Labels: bug

#6074 Force clan chat names to a specific format
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/Text.java
Labels: bug

#6144 Keep WidgetOverlay always on UNDER_WIDGETS layer
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayManager.java
Labels: bug

#5991 Agility plugin: highlight multiple marks
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
Labels: bug

#6153 Optimize Loottracker
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
Labels: bug

#6139 Various ChatboxPanelManager fixes
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxTextInput.java
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxTextMenuInput.java
Labels: bug

#6158 Removed Ardougne cloak from the menu entry swapper plugin
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
Labels: enhancement

#6172 cluescrolls: Add STASH unit object ids to emote clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/STASHUnit.java
Labels: feature-request

#6186 XPglobes: capitalize XP in globe tooltip
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
Labels: enhancement

#6189 Add consistency to capitalization of timer in Timers settings
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
Labels: enhancement

#6193 cluescrolls: Move trollheim emote clue to Trollheim
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#6169 cluescrolls: Move Druids' circle clue to the stash
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues
