Repository runelite/runelite, pull requests merged in 2018-07, with the labels that each got.

#3805 Ignore level goals which have been passed
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpStateSingle.java
Labels: feature-request

#4084 AgilityPlugin: Add obstacles north or pirate ship
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#4121 puzzle solver: add lightbox solver
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/PuzzleSolverPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/lightbox/Combination.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/lightbox/LightBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/lightbox/LightboxSolution.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/lightbox/LightboxSolver.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/lightbox/LightboxState.java
  runelite-client/src/test/java/net/runelite/client/plugins/puzzlesolver/lightbox/LightboxSolverTest.java
Labels: feature-request

#4034 Fix zamorak brews
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: bug

#4127 Fix empty GE search render bug
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
Labels: bug

#3959 Slayer overlay items refresh on render
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: bug

#4059 #4054 Represent decimals as .'s not ,'s
  runelite-client/src/main/java/net/runelite/client/util/StackFormatter.java
  runelite-client/src/test/java/net/runelite/client/util/StackFormatterTest.java
Labels: feature-request

#4145 skill calculator: Fix combined items with decimals
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/UIActionSlot.java
Labels: bug, skill-calc

#4125 farmingtracker: Correct several patch timings
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/PatchImplementation.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/Produce.java
  runelite-client/src/test/java/net/runelite/client/plugins/farmingtracker/PatchImplementationTest.java
Labels: bug

#4085 item stats: Add negative attack bonus to wines
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: bug

#2899 Add minigames/bosses/cities/dungeons to Discord plugin
  runelite-client/src/main/java/net/runelite/client/discord/DiscordService.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordAreaType.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordState.java
Labels: feature-request

#4168 Reset Discord state if now > updated + timeout
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordState.java
Labels: bug

#4167 Make !clues command respect account type
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: bug

#4177 Update scripts to 171-6
  runelite-scripts/scripts/OptionsPanelRebuilder.hash
  runelite-scripts/scripts/OptionsPanelRebuilder.rs2asm
  runelite-scripts/scripts/OptionsPanelZoomUpdater.hash
  runelite-scripts/scripts/OptionsPanelZoomUpdater.rs2asm
Labels: bug

#4191 clues: Fix SW-of-deserted-keep hot-cold location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#4194 Remove WorldClient usages from xp tracker plugin
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/SkillColor.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpSnapshotTotal.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpWorldType.java
Labels: enhancement

#4209 Fix 4208 - Prayer bonus for suffering RI
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerItems.java
Labels: bug

#4158 Fix agility pyramid laps
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityArenaTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilitySession.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Courses.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/LapCounterOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: bug

#3702 Set oculus speed to 36 (x3) in DevTools
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: enhancement

#4199 Fix SlayerPlugin NPEs
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/TargetMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#4237 Add Varp Commands To Developer Tools
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: feature-request

#4236 Fix !kc abbreviations and add more abbreviations
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: bug, feature-request

#3879 Add prayer bar to prayer plugin
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerBarOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerPlugin.java
Labels: feature-request

#3917 Add debuff/buff change indicators
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostIndicator.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/StatChangeIndicator.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxOverlay.java
  runelite-client/src/main/resources/net/runelite/client/plugins/boosts/buffed.png
  runelite-client/src/main/resources/net/runelite/client/plugins/boosts/debuffed.png
Labels: bug, feature-request

#3475 Add stream progress overlay for Tears of Guthix minigame
  runelite-client/src/main/java/net/runelite/client/plugins/tearsofguthix/TearsOfGuthixOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/tearsofguthix/TearsOfGuthixPlugin.java
Labels: feature-request

#4234 Do not explode on illegal unicode char in settings
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
Labels: bug

#4155 Add a notification when a runepouch degrades
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftPlugin.java
Labels: feature-request

#4193 xp drop plugin: Move text to use hidden icon's space
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
Labels: enhancement

#4109 Fix #4101 - Add swap options for Decant
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#4265 Correctly reset boosts when on NEVER
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
Labels: bug

#4241 Fixed line breaking on right side
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/LineComponent.java
Labels: bug

#4304 Remove investigate menu entry swap
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#4271 Slayer tooltip fix
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#4301 ScreenshotPlugin: Fix widget ids after update
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
Labels: bug, regression

#4245 ScreenshotPlugin: Bugfixes
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: bug

#4319 farmingtracker: Fix cactus implementation
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/PatchImplementation.java
Labels: bug

#4330 ScreenshotPlugin: fix naming of onWidgetLoaded event
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: enhancement

#4322 Slayer overlay code structure and query refactoring.
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerOverlay.java
Labels: enhancement

#4226 Model Viewer Improvements and Additions
  cache/src/main/java/net/runelite/cache/definitions/ModelDefinition.java
  model-viewer/src/main/java/net/runelite/modelviewer/ModelKey.java
  model-viewer/src/main/java/net/runelite/modelviewer/ModelManager.java
  model-viewer/src/main/java/net/runelite/modelviewer/ModelViewer.java
  model-viewer/src/main/java/net/runelite/modelviewer/Scene.java
  model-viewer/src/main/java/net/runelite/modelviewer/SceneTilePaint.java
Labels: feature-request

#4255 ChatCommandsPlugin: Update boss kc when looking at RoW
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: feature-request

#4345 Add fairy ring information to King Percival clue #4344
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
Labels: clues, enhancement

#4351 Rename Region to Scene
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/CollisionData.java
  runelite-api/src/main/java/net/runelite/api/Constants.java
  runelite-api/src/main/java/net/runelite/api/GameObject.java
  runelite-api/src/main/java/net/runelite/api/Scene.java
  runelite-api/src/main/java/net/runelite/api/Tile.java
  runelite-api/src/main/java/net/runelite/api/coords/LocalPoint.java
  runelite-api/src/main/java/net/runelite/api/coords/WorldArea.java
  runelite-api/src/main/java/net/runelite/api/coords/WorldPoint.java
  runelite-api/src/main/java/net/runelite/api/hooks/Callbacks.java
  runelite-api/src/main/java/net/runelite/api/queries/TileObjectQuery.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/plugins/PluginManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMineRockOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/LocationOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/SceneTileManager.java
  runelite-mixins/src/main/java/net/runelite/mixins/CameraMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/EntityHiderMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/MinimapMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSGameObjectMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSSceneMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSTileMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSScene.java
Labels: enhancement

#4352 runelite-api: Update autogenerated ID files to 171-7
  runelite-api/src/main/java/net/runelite/api/ItemID.java
  runelite-api/src/main/java/net/runelite/api/NpcID.java
  runelite-api/src/main/java/net/runelite/api/NullObjectID.java
  runelite-api/src/main/java/net/runelite/api/ObjectID.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerItems.java
Labels: enhancement

#4357 text: Fix removeTags for isolated < and > chars
  runelite-client/src/main/java/net/runelite/client/util/Text.java
  runelite-client/src/test/java/net/runelite/client/util/TextTest.java
Labels: bug

#4341 Skill calc additions
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_construction.json
Labels: skill-calc

#4246 Tob screenshots
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: feature-request

#4376 timers plugin: Reduce visibilities
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimerTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: enhancement

#3602 Remove freeze timer on Vorkath Zombified spawn death
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: bug

#4390 clue scroll plugin: Remove useless null check
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
Labels: enhancement

#4391 Fix camels type in varrock museum quiz
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/VarrockMuseumAnswer.java
Labels: bug

#4114 Add pause skill timing feature to the XP Tracker
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPauseState.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPauseStateSingle.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpState.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpStateSingle.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/components/DimmableJPanel.java
  runelite-client/src/main/java/net/runelite/client/ui/components/ProgressBar.java
Labels: feature-request

#4396 Renaming NPC from Blue Moon Inn to Bartender
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#4403 mixins: Don't post mouse events that have already been posted
  runelite-mixins/src/main/java/net/runelite/mixins/RSMouseInputMixin.java
Labels: bug, regression

#3841 Render abyss rift portals as soon as visible
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/AbyssOverlay.java
Labels: enhancement

#4181 BankValuePlugin: Add option to display exact value
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankTitle.java
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankValueConfig.java
Labels: feature-request

#4397 cluescrolls: Move banana plantation clue out of tree
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#4372 Add chat kc abbreviations #4369
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: feature-request

#4388 perspective: fix regression caused by 2599db2
  runelite-api/src/main/java/net/runelite/api/Perspective.java
Labels: bug

#4430 Use the supplied actor passed to ActorQuery#isInteractingWith
  runelite-api/src/main/java/net/runelite/api/queries/ActorQuery.java
Labels: bug

#4432 opponent info plugin: Fix SDMM hiscore lookup
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoPlugin.java
Labels: bug

#4436 Inventory viewer: make padding between items same as in inventory.
  runelite-client/src/main/java/net/runelite/client/plugins/inventoryviewer/InventoryViewerOverlay.java
Labels: feature-request

#4417 Add JMod clan member rank
  runelite-api/src/main/java/net/runelite/api/ClanMemberRank.java
  runelite-client/src/main/java/net/runelite/client/game/ClanManager.java
  runelite-client/src/main/resources/net/runelite/client/game/JMod_clan_rank.png
Labels: enhancement

#4412 Add support for mod public chat to ChatCommands
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: bug

#4205 Follow GitHub templates for bug report and issue
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Custom.md
  .github/ISSUE_TEMPLATE/Feature_request.md
Labels: enhancement

#4428 Abyssal Sire Stun Countdown
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#4399 cluescrolls: Add description to map clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues, enhancement

#3820 Use correct widget when hiding resizable minimap
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/minimap/MinimapPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerDoseOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerFlickOverlay.java
Labels: bug

#4442 Fix plugins rendering over hidden minimap
  runelite-api/src/main/java/net/runelite/api/Perspective.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSWidgetMixin.java
Labels: bug

#4350 runelite-client: Consume hotkeys in HotkeyListener
  runelite-client/src/main/java/net/runelite/client/config/Keybind.java
  runelite-client/src/main/java/net/runelite/client/util/HotkeyListener.java
Labels: enhancement

#2251 Add level requirements to diaries
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/DiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/DiaryRequirementsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/GenericDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/Requirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/RequirementStringBuilder.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/ArdougneDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/DesertDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/FaladorDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/FremennikDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/KandarinDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/KaramjaDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/LumbridgeDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/MorytaniaDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/VarrockDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/WesternDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/WildernessDiaryRequirement.java
Labels: feature-request

#4447 Update frame config when needed
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug, regression

#4469 Fix XP Timing regression
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpStateSingle.java
Labels: bug, regression

#4468 Fix level 126 next goal to be max XP (200,000,000) instead of -1 xp
  runelite-api/src/main/java/net/runelite/api/Experience.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpSnapshotSingle.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpStateSingle.java
Labels: bug

#4494 clues: Fix menaphite emote requirements
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#4482 Propagate height to ground items
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: bug, regression

#4048 Allow alt search while grand exchange inventory is active
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeInputListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
Labels: bug

#4505 Fix loading of chat colors on startup
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
Labels: bug, regression

#4492 mixins: Prevent runScript from being called recursively
  runelite-mixins/src/main/java/net/runelite/mixins/ScriptVMMixin.java
Labels: enhancement

#4523 achievement diary plugin: Fix Abyssal demon req
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/MorytaniaDiaryRequirement.java
Labels: bug

#4524 Fix the coordinate of the dig position of the West Barbarian Village …
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#4519 kourend library plugin: Use correct enum naming convention
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/LibraryCustomer.java
Labels: enhancement

#4532 Centre minimap highlight dot over target location
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayUtil.java
Labels: bug

#4507 Use consistent API and order for title and sides
  runelite-client/src/main/java/net/runelite/client/events/NavigationButtonAdded.java
  runelite-client/src/main/java/net/runelite/client/events/NavigationButtonRemoved.java
  runelite-client/src/main/java/net/runelite/client/events/TitleToolbarButtonAdded.java
  runelite-client/src/main/java/net/runelite/client/events/TitleToolbarButtonRemoved.java
  runelite-client/src/main/java/net/runelite/client/plugins/account/AccountPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculatorPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientPluginToolbar.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientTitleToolbar.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientToolbar.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/NavigationButton.java
  runelite-client/src/main/java/net/runelite/client/ui/TitleToolbar.java
Labels: enhancement, regression

#4320 fishing plugin: add minnows overlay
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpotOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/MinnowSpot.java
Labels: feature-request

#4479 Pack and show frame only after properties update
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: enhancement

#4534 Properly use javax.inject.Provider
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/chat/CommandManager.java
  runelite-client/src/main/java/net/runelite/client/game/ClanManager.java
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/PluginManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/tooltip/TooltipOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/worldmap/WorldMapOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/worldmap/WorldMapOverlayMouseListener.java
  runelite-client/src/main/java/net/runelite/client/util/SceneTileManager.java
Labels: enhancement

#4420 TimerPlugin: Fix prayer enhance length
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
Labels: regression

#4489 Added missing killcount command config
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: enhancement

#4538 Add Meyerditch to agility obstacles
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: enhancement

#4072 Add color utility class
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/menus/WidgetMenuOption.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/DiaryRequirementsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/RequirementStringBuilder.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/friendnotes/FriendNotesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorytags/InventoryTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerDoseOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/PuzzleSolverPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/RunepouchOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/util/ColorUtil.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
  runelite-client/src/test/java/net/runelite/client/util/ColorUtilTest.java
Labels: enhancement

#4558 Fix NPE when trying to draw null names
  runelite-api/src/main/java/net/runelite/api/Perspective.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayUtil.java
Labels: bug

#4481 Add simple info log with startup time
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
Labels: feature-request

#4575 Account for plane in TileObject canvas location
  runelite-mixins/src/main/java/net/runelite/mixins/TileObjectMixin.java
Labels: bug, regression

#4552 Fix Assembler tests when autocrlf=true on Windows
  cache/src/test/java/net/runelite/cache/script/assembler/AssemblerTest.java
Labels: bug

#4585 Add spade requirement reminder to fairy ring clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FairyRingClue.java
Labels: enhancement

#3882 Add prayer bar flick
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerBarOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerFlickLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerFlickOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerPlugin.java
Labels: feature-request

#4589 Fix FontManagerTest package
  runelite-client/src/test/java/net/runelite/client/ui/FontManagerTest.java
Labels: enhancement

#4596 Add alternative dragon pickaxes to emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#4600 Fixes issue with no Idle Notification when crafting leather
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#4602 Clarify wording of default message
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
Labels: enhancement
