Repository runelite/runelite, pull requests merged in 2018-08, with the labels that each got.

#4608 Fix ToB inventoryID
  runelite-api/src/main/java/net/runelite/api/InventoryID.java
Labels: bug

#4612 clues: Fix Lumbridge swamp cave emote clue location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#4588 runelite-client: Make hotkeys run on KeyPressed
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/HotkeyListener.java
Labels: bug

#4547 Prevent crash when updating the fairy ring filter
  runelite-client/src/main/java/net/runelite/client/callback/ClientThread.java
  runelite-client/src/main/java/net/runelite/client/chat/CommandManager.java
  runelite-client/src/main/java/net/runelite/client/game/ChatboxInputManager.java
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/game/SpriteManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatKeyboardListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/demonicgorilla/DemonicGorillaPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fairyring/FairyRingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/reportbutton/ReportButtonPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: bug, regression

#4580 Fix tile setting and tile height ArrayOutOfBounds
  runelite-api/src/main/java/net/runelite/api/Perspective.java
Labels: bug, regression

#4611 agility: Add Ungael obstacles
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#4615 Fix LootManager zulrah location
  runelite-client/src/main/java/net/runelite/client/game/LootManager.java
Labels: bug

#4632 instance map: properly remove mouse listener on shutdown
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapPlugin.java
Labels: bug

#4638 Reverse ClientUI sidebar condition
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug, regression

#4625 fix menu entry swapper shiftModifier getting stuck on focus lost
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug

#4641 Remove special cased wizard death from loot manage
  runelite-client/src/main/java/net/runelite/client/game/LootManager.java
Labels: bug

#4654 achievement diary plugin: Fix coal mining req
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/KandarinDiaryRequirement.java
Labels: bug

#4626 chat history: clear public chat when menu option is clicked
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatHistoryPlugin.java
Labels: bug

#4664 Add pharaoh's sceptres, tome of fire, and toxic staff of the dead item mappings
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: bug

#4640 Use correct marker name when cancelling edit
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ui/ScreenMarkerPanel.java
Labels: bug

#4631 menu entry swapper: fix fairy ring swaps not working for zanaris ring, arceuus ring and PoH tree-ring combo
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/FairyRingMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug

#4630 Account for linked item id, format tooltip
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerItemEntry.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: bug, enhancement

#4592 Fix order of loading session settings
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
Labels: bug, regression

#4627 item stats: fix tooltip not appearing when hovering over item
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
Labels: bug

#4655 chat commands plugin: Use consistent message check
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: enhancement

#4711 Add two rock ids for agility shortcuts in trollheim
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#4706 Add tablet creation animation to idle notifier
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#4703 Add obstacles to Werewolf court
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Courses.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#4709 Add null-check for game canvas
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#4683 Add Tournament world type
  http-api/src/main/java/net/runelite/http/api/worlds/WorldType.java
  http-service/src/main/java/net/runelite/http/service/worlds/ServiceWorldType.java
  runelite-api/src/main/java/net/runelite/api/WorldType.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpWorldType.java
Labels: bug

#4673 Remove unnecessary headers from plugin panels
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculatorPanel.java
Labels: enhancement

#4635 mixins: Fix camera pitch relaxer not fully relaxing after a screen shake
  runelite-mixins/src/main/java/net/runelite/mixins/CameraMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: bug

#3808 chat commands: add !cmb command
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: feature-request

#4605 Remove unused @Slf4j annotations and imports
  cache-updater/src/main/java/net/runelite/cache/updater/CacheStorage.java
  http-api/src/main/java/net/runelite/http/api/session/SessionClient.java
  http-service/src/main/java/net/runelite/http/service/feed/blog/BlogService.java
  http-service/src/main/java/net/runelite/http/service/feed/osrsnews/OSRSNewsService.java
  http-service/src/main/java/net/runelite/http/service/feed/twitter/TwitterService.java
  http-service/src/main/java/net/runelite/http/service/item/ItemController.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/game/ChatboxInputManager.java
  runelite-client/src/main/java/net/runelite/client/game/ClanManager.java
  runelite-client/src/main/java/net/runelite/client/game/HiscoreManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityArenaTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
  runelite-client/src/main/java/net/runelite/client/plugins/cerberus/CerberusOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/demonicgorilla/DemonicGorillaPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCaveOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeItemPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/alchemy/AlchemyRoomTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohIcons.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/PuzzleSolverOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/reorderprayers/ReorderPrayersPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/reportbutton/ReportButtonPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/roguesden/RoguesDenOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/roguesden/RoguesDenPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerMouseListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TimeTrackingPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TimeTrackingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientPanel.java
  runelite-client/src/main/java/net/runelite/client/ui/components/materialtabs/MaterialTab.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/tooltip/TooltipOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/worldmap/WorldMapOverlay.java
Labels: enhancement

#4667 Move isOverlayOutdated to IndexDatabase
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/IndexDataBase.java
  runelite-api/src/main/java/net/runelite/api/hooks/Callbacks.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSIndexDataBaseMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: enhancement

#4745 Optimize death indicator plugin
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/DeathIndicatorPlugin.java
Labels: enhancement

#4413 Add support for preserving raids scouter inside raid + fix checking for raids state on plugin state changes
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: bug, enhancement, feature-request

#4639 runelite-client: Always use the mapped price for items
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankCalculation.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: enhancement, feature-request

#4463 Add support for making XP globes moveable
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
Labels: feature-request

#4696 cache-client: Return failure to the handshake Future
  cache-client/src/main/java/net/runelite/cache/client/HandshakeResponseHandler.java
Labels: bug

#4743 Update nightmare zone widget ID
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
Labels: bug, regression

#4742 Update pest control widget IDs
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
Labels: bug, regression

#4740 Update chatbox widget IDs
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
Labels: bug, regression

#4813 DiscordPlugin: Add Woodcutting Guild to Activities
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: feature-request

#4815 DiscordPlugin: Add Wintertodt to Activities
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: discord, feature-request

#4799 Fix adding of raid timer multiple times in Raids
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: bug, regression

#4811 time tracking: fix detection of state for seaweed patches
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TimeTrackingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/hunter/BirdHouseTracker.java
Labels: bug

#4844 Cluescrolls: Added fairy ring code to Kalphite Lair Entrance clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
Labels: clues, feature-request

#4846 Fix Entangle timer description typo
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
Labels: enhancement

#3451 UI: Add a clear button (×) to IconTextField
  runelite-client/src/main/java/net/runelite/client/ui/components/IconTextField.java
Labels: feature-request

#4863 Fix FlatTextField unsafe swing access
  runelite-client/src/main/java/net/runelite/client/ui/components/IconTextField.java
Labels: bug

#4868 Add Grotesque Guardian special case to loot tracker
  runelite-client/src/main/java/net/runelite/client/game/LootManager.java
Labels: bug, loot-tracker

#4878 Add Lumber Yard Fence to Agility Plugin
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: enhancement

#4884 Fix exp tracker UI margin incosistency
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
Labels: enhancement

#4898 clues: allow any imbued crystal bow for emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2958 Fps indicator improvements
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsOverlay.java
Labels: bug, feature-request

#4899 clues: add fairy ring to sinclair mansion clue solution
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#2449 Update NPC health data
  runelite-client/src/main/resources/npc_health.json
Labels: enhancement

#4871 Actually add special case for Grotesque Guardians
  runelite-client/src/main/java/net/runelite/client/game/LootManager.java
Labels: bug

#4905 runelite-client: Don't consume keyReleased events
  runelite-client/src/main/java/net/runelite/client/util/HotkeyListener.java
Labels: bug

#4874 Add wasd camera plugin
  cache/src/main/java/net/runelite/cache/io/OutputStream.java
  cache/src/test/java/net/runelite/cache/definitions/savers/ScriptSaverTest.java
  cache/src/test/java/net/runelite/cache/io/OutputStreamTest.java
  cache/src/test/java/net/runelite/cache/script/assembler/AssemblerTest.java
  cache/src/test/resources/net/runelite/cache/script/assembler/Unicode.rs2asm
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/wasdcamera/WASDCameraConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/wasdcamera/WASDCameraListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/wasdcamera/WASDCameraPlugin.java
  runelite-client/src/main/scripts/ChatboxInputWidgetBuilder.hash
  runelite-client/src/main/scripts/ChatboxInputWidgetBuilder.rs2asm
  runescape-api/src/main/java/net/runelite/rs/api/RSWidget.java
Labels: feature-request

#4918 World hopper data refreshing
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldSwitcherPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableHeader.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableRow.java
Labels: bug

#4926 Do not add Hop-to option to chatbox and raiding party
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
Labels: enhancement

#4924 More World hopper bug fixes
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldSwitcherPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableRow.java
Labels: bug

#3954 Add CHAT_SCROLLBAR_ON_LEFT Varbit
  runelite-api/src/main/java/net/runelite/api/Varbits.java
Labels: enhancement

#4979 fix fire surge icon and remove redundant smithing entries
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_magic.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_smithing.json
Labels: enhancement

#4937 Wilderness obelisk teleport spots on map
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/obelisk_icon.png
Labels: feature-request

#4954 timers plugin: Add fall/winter DMM teleblock timers
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: enhancement

#4976 Add "Fairy Ring CKS" to Ulizius clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#4936 worldhopper: fix spam in chatbox when trying to open switcher in bank
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
Labels: bug

#4941 World hopper activity ordering improvements
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldSwitcherPanel.java
Labels: enhancement

#4977 Fix pest control ui
  runelite-client/src/main/java/net/runelite/client/plugins/pestcontrol/Game.java
  runelite-client/src/main/java/net/runelite/client/plugins/pestcontrol/PestControlOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/pestcontrol/PestControlPlugin.java
Labels: bug

#4998 Ardougne cloak map teleport icon
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ardougne_cloak_icon.png
Labels: feature-request

#5002 Add Bastion and Battlemage potions
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: feature-request

#4990 Fix sidebar hotkey leaking into game client
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/UiKeyListener.java
Labels: bug

#5003 Fix KBD respawn timer
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
Labels: enhancement

#5005 Add debugging to npc highlighter plugin
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
Labels: enhancement

#5016 Omit empty strings in NPC indicators
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPluginTest.java
Labels: bug

#5028 Added other Falador grapple highlight
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#5014 TimeTracking: Add support for intuitive time notations like "1h 30m 10s"
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/clocks/ClockPanel.java
Labels: enhancement

#5027 Missing Achievement Diary Teleport Map Icons
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/desert_amulet_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/explorers_ring_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/fremennik_boots_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/kandarin_headgear_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/karamja_gloves_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/morytania_legs_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/western_banner_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/wilderness_sword_icon.png
Labels: feature-request

#5048 Added agility shortcut (North River Salve)
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#4992 Make pressing BkSPACE with empty chat exit chat
  runelite-client/src/main/java/net/runelite/client/plugins/wasdcamera/WASDCameraListener.java
Labels: enhancement

#5030 Added boss skill screenshots
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: enhancement

#5058 Change boss kill screenshot naming
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: enhancement

#5063 screenmarker plugin: Remove extra images
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ui/ScreenMarkerPanel.java
  runelite-client/src/main/resources/net/runelite/client/plugins/screenmarkers/no_border_color_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/screenmarkers/no_fill_color_icon.png
Labels: enhancement

#5093 Added Tree Gnome Village Loose_Railing shortcut
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#5072 Fix Hot/Cold Nardah Genie Cave tile
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: bug, clues

#5083 corp: hide damage overlay
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpDamageOverlay.java
Labels: feature-request

#4997 Add camera setters (X, Y, Z, Pitch, and Yaw).
  runelite-api/src/main/java/net/runelite/api/Client.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#4886 Add friends list title counter
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/friendlist/FriendListPlugin.java
Labels: feature-request

#3412 Idle notifier fix combat notifications, reset notifications on interaction
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPluginTest.java
Labels: bug, enhancement

#5116 Add special patches to overview tab
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/OverviewTabPanel.java
Labels: enhancement

#5126 Add pause all button to xp tracker
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
Labels: feature-request

#5139 #5068 fix: cant quick hop to w26
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
Labels: bug

#5142 Remove dupe PVP_HR entry in world hopper
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
Labels: bug

#5141 Fix setting of barrows kc from chat
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: bug

#5125 Add Hop-To option in chat
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
Labels: feature-request

#5107 Teamcapes plugin: Teamcape image instead of text
  runelite-client/src/main/java/net/runelite/client/plugins/teamcapes/TeamCapesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/teamcapes/TeamCapesPlugin.java
Labels: feature-request

#4804 Implement Client.getWeight() and add RunEnergyPlugin
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/runenergy/RunEnergyConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/runenergy/RunEnergyOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/runenergy/RunEnergyPlugin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#4568 Properly shutdown everything on window close
  runelite-api/src/main/java/net/runelite/api/GameEngine.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/plugins/PluginManager.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runescape-api/src/main/java/net/runelite/rs/api/RSGameEngine.java
Labels: enhancement

#5207 Cache code 2018 08 30 rev174
  runelite-api/src/main/java/net/runelite/api/ItemID.java
  runelite-api/src/main/java/net/runelite/api/NullObjectID.java
  runelite-api/src/main/java/net/runelite/api/ObjectID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
Labels: bug, regression

#5174 Add trade-with swap to menu entry swapper
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#5217 Fix dense essence idle animation
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: bug

#5198 Change 's to s'
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingWorld.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
Labels: enhancement

#4793 cache: Properly produce `\n` only on windows on jdk9+
  cache/src/main/java/net/runelite/cache/util/IDClass.java
Labels: bug

#4792 cache: Do not depend on Index insertion ordering
  cache/src/main/java/net/runelite/cache/fs/Store.java
Labels: bug
