Repository runelite/runelite, pull requests merged in 2018-02, with the labels that each got.

#553 Use rs-api to render Runepouch images
  runelite-api/src/main/java/net/runelite/api/ItemID.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/RuneImageCache.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/RunepouchOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/Runes.java
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Air.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Astral.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Blood.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Body.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Chaos.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Cosmic.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Death.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Dust.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Earth.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Fire.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Lava.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Law.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Mind.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Mist.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Mud.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Nature.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Smoke.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Soul.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Steam.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Water.png
  runelite-client/src/main/resources/net/runelite/client/plugins/runepouch/Wrath.png
Labels: enhancement

#551 Fix logging inside info panel plugin
  runelite-client/src/main/java/net/runelite/client/plugins/info/JRichTextPane.java
Labels: enhancement

#560 Raw injector for script VM
  deobfuscator/src/main/java/net/runelite/asm/attributes/code/instructions/IfNe.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-mixins/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-mixins/src/main/java/net/runelite/mixins/ScriptVMMixin.java
  runelite-scripts/scripts/OptionsPanelRebuilder.rs2asm
  runelite-scripts/scripts/OptionsPanelZoomMouseListener.rs2asm
  runelite-scripts/scripts/OptionsPanelZoomUpdater.rs2asm
  runelite-scripts/scripts/ScrollWheelZoomHandler.rs2asm
  runescape-api/src/main/java/net/runelite/rs/api/RSScriptEvent.java
  runescape-client-injector-plugin/src/main/java/net/runelite/injector/Inject.java
  runescape-client-injector-plugin/src/main/java/net/runelite/injector/MixinInjector.java
  runescape-client-injector-plugin/src/main/java/net/runelite/injector/raw/ScriptVM.java
  runescape-client/src/main/java/FrameMap.java
  runescape-client/src/main/java/ScriptState.java
  runescape-client/src/main/java/class84.java
Labels: enhancement

#561 slayer plugin: add check for cachedXp when xp changes
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: bug

#546 runecraft plugin: show click boxes of abyss rifts
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/AbyssOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftConfig.java
Labels: feature-request

#558 Add Nightmare Zone plugin
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/AbsorptionCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
Labels: feature-request

#568 injector: Allow injection of <init> and <clinit>
  runelite-mixins/src/main/java/net/runelite/api/mixins/Inject.java
  runescape-client-injector-plugin/src/main/java/net/runelite/injector/MixinInjector.java
Labels: enhancement

#564 Fix removing items from the TitleToolbar
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/TitleToolbar.java
Labels: bug

#541 Add Blast furnace plugin
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BarsOres.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceCofferOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnacePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/ConveyorBeltOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCaveOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ImagePanelComponent.java
Labels: feature-request

#577 Use client Varbit for index, lsb, msb
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/Setting.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackindicator/AttackIndicatorPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/specorb/SpecOrbOverlay.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/VarbitMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSNodeCache.java
  runescape-api/src/main/java/net/runelite/rs/api/RSVarbit.java
Labels: enhancement

#569 Remove duplicate tracking info in fishing/woodcutting overlays
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSession.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingSession.java
Labels: enhancement

#596 Add support for Karambwan/Karambwanji to fishing
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: feature-request

#589 Fix screenshot plugin not capturing Hunter levelups + naming files incorrectly
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: bug

#611 item service: background price fetching
  http-service/src/main/java/net/runelite/http/service/SpringBootWebApplication.java
  http-service/src/main/java/net/runelite/http/service/item/ItemController.java
  http-service/src/main/java/net/runelite/http/service/item/ItemService.java
  http-service/src/test/java/net/runelite/http/service/SpringBootWebApplicationTest.java
Labels: enhancement

#588 injector: Choose the right constructor if multiple exist
  runescape-client-injector-plugin/src/main/java/net/runelite/injector/InjectConstruct.java
Labels: bug

#592 Disable configuration button when all items hidden
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
Labels: bug

#585 Minimap modifiable dots
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/minimap/MinimapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/minimap/MinimapDot.java
  runelite-client/src/main/java/net/runelite/client/plugins/minimap/MinimapPlugin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#597 Display tooltips for widget actions
  runelite-client/src/main/java/net/runelite/client/plugins/mousehighlight/MouseHighlightOverlay.java
Labels: feature-request

#609 Fix color of text in the NMZ absorption infobox
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/AbsorptionCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
Labels: feature-request

#605 Add chat history plugin
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/events/ChatMessage.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/chat/QueuedMessage.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatHistoryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#612 Add kourend library plugin
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-api/src/main/java/net/runelite/api/Perspective.java
  runelite-api/src/main/java/net/runelite/api/Point3D.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Book.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/BookPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Bookcase.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Library.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/LibraryCustomer.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/SolvedState.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13514.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13515.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13516.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13517.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13518.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13519.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13520.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13521.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13522.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13523.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13524.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13525.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13526.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13527.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13528.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13529.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13530.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13531.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13532.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13533.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13534.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13535.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13536.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/13537.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/19637.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/items/21756.png
  runelite-client/src/main/resources/net/runelite/client/plugins/kourendlibrary/panel_icon.png
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: feature-request

#619 Render modicons in tooltips
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TooltipComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/tooltip/TooltipOverlay.java
Labels: feature-request, quality-of-life

#622 Fix the game freezing when screenshots are being taken
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: bug

#637 Fix PuzzleSolverOverlay layer
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/PuzzleSolverOverlay.java
Labels: bug

#620 Ground items: Add a highlight items only option
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: feature-request

#623 Add imp boxes to the hunter plugin
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/TrapOverlay.java
Labels: feature-request

#644 Sort the PluginToolbar
  runelite-client/src/main/java/net/runelite/client/ui/NavigationButton.java
  runelite-client/src/main/java/net/runelite/client/ui/PluginToolbar.java
Labels: feature-request

#664 poh plugin: Remove unnecessary toggles
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohOverlay.java
Labels: enhancement

#678 Fix overlays not being rendered
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug

#643 image component: fix images being off-centered
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ImagePanelComponent.java
Labels: enhancement

#682 cache: Add get_is_mobile opcode.
  cache/src/main/java/net/runelite/cache/script/Instructions.java
  cache/src/main/java/net/runelite/cache/script/Opcodes.java
Labels: enhancement

#680 Rename "Low memory" to "Low detail" plugin
  runelite-client/src/main/java/net/runelite/client/plugins/lowmemory/LowMemoryPlugin.java
Labels: enhancement

#677 Add ability to set custom colors for player indicators
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsOverlay.java
Labels: feature-request

#628 Change boss timers to use ItemID images instead of resource images
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/BossTimersPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/RespawnTimer.java
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/arma.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/bando.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/callisto.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/chaos_fanatic.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/corp.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/crazy_arch.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/kbd.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/mole.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/prime.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/rex.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/sara.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/scorpia.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/supreme.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/venenatis.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/vetion.png
  runelite-client/src/main/resources/net/runelite/client/plugins/bosstimer/zammy.png
Labels: enhancement

#671 Add option to relax the camera's upper pitch limit
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/CameraMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/DecorativeObject.java
  runescape-client/src/main/java/Region.java
  runescape-client/src/main/java/Script.java
  runescape-client/src/main/java/VertexNormal.java
  runescape-client/src/main/java/WorldMapType2.java
  runescape-client/src/main/java/class19.java
  runescape-client/src/main/java/class225.java
  runescape-client/src/main/java/class33.java
  runescape-client/src/main/java/class94.java
Labels: feature-request

#666 Use the address returned by the worldlist api instead of building our own
  http-service/src/main/java/net/runelite/http/service/updatecheck/UpdateCheckService.java
Labels: bug

#655 Hunter maniacal monkeys
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/CatchrateOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterTrap.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSTileMixin.java
Labels: feature-request

#626 Add default timeout of 10 seconds to notify-send on Linux
  runelite-client/src/main/java/net/runelite/client/Notifier.java
Labels: bug

#675 Fix minor issues with Raids plugin
  runelite-client/src/main/java/net/runelite/client/plugins/raids/Raid.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidRoom.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/solver/Layout.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/solver/LayoutSolver.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/solver/RotationSolver.java
Labels: enhancement

#649 Use normal font weight for input field
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
Labels: enhancement

#695 Add Pharaoh's sceptre to the jewellery count
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryCharges.java
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryType.java
Labels: feature-request

#687 Fix crash in ClienUI configChanged event
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#701 Fix Perspective when near tall terain
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-mixins/src/main/java/net/runelite/mixins/CameraMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/DecorativeObject.java
  runescape-client/src/main/java/Script.java
  runescape-client/src/main/java/VertexNormal.java
  runescape-client/src/main/java/WorldMapType2.java
  runescape-client/src/main/java/class225.java
  runescape-client/src/main/java/class33.java
Labels: bug

#683 Pyramid plunder
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/pyramidplunder/PyramidPlunderOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/pyramidplunder/PyramidPlunderPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/pyramidplunder/PyramidTimer.java
Labels: feature-request

#464 Fix panel expanding inconsistency
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: enhancement

#706 Fix Widget#isHidden returning incorrect state
  runelite-api/src/main/java/net/runelite/api/queries/InventoryWidgetItemQuery.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSWidgetMixin.java
Labels: bug

#689 Xp orb fixes
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/OrbCentering.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
Labels: enhancement

#724 Fix ArrayIndexOutOfBoundsException on getting vertices of certain gameobjects
  runelite-mixins/src/main/java/net/runelite/mixins/RSModelMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSModel.java
Labels: bug

#565 Add missing cancel menu action
  runelite-api/src/main/java/net/runelite/api/MenuAction.java
Labels: enhancement

#729 hiscoreplugin: show skill details on hover instead of click
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
Labels: feature-request

#723 Add missing agility courses
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/Obstacles.java
Labels: feature-request

#721 notifier: add option to disable notification sounds
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
Labels: feature-request

#718 examineplugin: only capture menuactions with the option "Examine"
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
Labels: bug

#716 Fix NPE in minimap plugin
  runelite-client/src/main/java/net/runelite/client/plugins/minimap/MinimapPlugin.java
Labels: bug

#703 Add guide prices and equipment window support to InventoryWidgetItemQuery
  runelite-api/src/main/java/net/runelite/api/queries/InventoryWidgetItemQuery.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
Labels: feature-request

#707 opponentinfo: display the name of the target of your target
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
Labels: feature-request

#741 Name world map classes
  runescape-client/src/main/java/Area.java
  runescape-client/src/main/java/ClanMemberManager.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/Coordinates.java
  runescape-client/src/main/java/FileOnDisk.java
  runescape-client/src/main/java/GrandExchangeEvents.java
  runescape-client/src/main/java/LoginPacket.java
  runescape-client/src/main/java/MapIcon.java
  runescape-client/src/main/java/MapIconReference.java
  runescape-client/src/main/java/MapLabel.java
  runescape-client/src/main/java/RenderOverview.java
  runescape-client/src/main/java/Script.java
  runescape-client/src/main/java/SoundTask.java
  runescape-client/src/main/java/SourceDataSoundSystem.java
  runescape-client/src/main/java/VarPlayerType.java
  runescape-client/src/main/java/VertexNormal.java
  runescape-client/src/main/java/WorldComparator.java
  runescape-client/src/main/java/WorldMapManager.java
  runescape-client/src/main/java/WorldMapType1.java
  runescape-client/src/main/java/WorldMapType2.java
  runescape-client/src/main/java/class162.java
  runescape-client/src/main/java/class176.java
  runescape-client/src/main/java/class225.java
  runescape-client/src/main/java/class277.java
  runescape-client/src/main/java/class29.java
  runescape-client/src/main/java/class299.java
  runescape-client/src/main/java/class31.java
  runescape-client/src/main/java/class34.java
  runescape-client/src/main/java/class44.java
Labels: enhancement

#732 Add platform-specific code to enable native fullscreen mode on OSX
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/util/OSType.java
Labels: feature-request

#717 Remove animation checks and catchrate from hunter
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/CatchrateOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterPlugin.java
Labels: bug
