Repository runelite/runelite, pull requests merged in 2018-12, with the labels that each got.

#6775 slayer plugin: show initial assignment amount in infobox tooltip
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: feature-request

#6799 loot tracker: validate boxes after rebuilding
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
Labels: bug

#6780 Fix black overlays behind gradients in GPU plugin
  runelite-mixins/src/main/java/net/runelite/mixins/Rasterizer2DMixin.java
Labels: bug, gpu

#6797 Make Kourend favour a moveable widget
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: feature-request

#6810 worldmap: add pharaoh's sceptre teleport icons
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/pharaohs_sceptre_teleport_icon.png
Labels: feature-request

#6724 Remove the fight cave plugin
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCaveOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCavePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/JadAttack.java
Labels: discussion

#6762 Screenshot on valuable/untradeable item drop
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: feature-request

#6816 grounditems: add option to only show loot
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: feature-request

#6842 Fix "Only show loot" ground items
  runelite-client/src/main/java/net/runelite/client/game/ItemStack.java
  runelite-client/src/main/java/net/runelite/client/game/LootManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: bug

#6837 Change papaya fruit health restore
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: bug

#6827 Correct Oak Armchair level requirement in Construction Skill Calc
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_construction.json
Labels: bug, skill-calc

#6818 Add Xeric's aid and revitalisation potions to itemstats plugin
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/SaradominBrew.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/SuperRestore.java
Labels: enhancement

#5283 world switcher: add ping
  runelite-client/pom.xml
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldSwitcherPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableHeader.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableRow.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/ping/IPHlpAPI.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/ping/IcmpEchoReply.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/ping/Ping.java
Labels: feature-request

#6578 Try to enable compute shaders on GL 4.2
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/comp.glsl
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/comp_small.glsl
Labels: enhancement, gpu

#6786 Vengeance active indicator
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameIndicator.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/IndicatorIndicator.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#6877 Notify on Full Special Attack
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPluginTest.java
Labels: feature-request

#6893 Fix widget naming
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: enhancement

#6900 Added wyvern cave stairs to agility plugin obstacles
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#6909 Fix freeze on disabling GPU plugin
  runelite-api/src/main/java/net/runelite/api/GameEngine.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
Labels: bug, gpu

#6370 Add support for equipment stats to item stats plugin
  http-api/src/main/java/net/runelite/http/api/RuneLiteAPI.java
  http-api/src/main/java/net/runelite/http/api/item/ItemClient.java
  http-api/src/main/java/net/runelite/http/api/item/ItemEquipmentStats.java
  http-api/src/main/java/net/runelite/http/api/item/ItemStats.java
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
Labels: feature-request

#6916 runelite-client: Write logs to log directory instead of cwd
  runelite-client/src/main/resources/logback.xml
Labels: bug, regression

#6919 Fix Item Stats overlay with null equipement container
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
Labels: bug

#6660 Add timestamp plugin
  runelite-api/src/main/java/net/runelite/api/MessageNode.java
  runelite-api/src/main/java/net/runelite/api/events/SetMessage.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/chat/QueuedMessage.java
  runelite-client/src/main/java/net/runelite/client/config/ChatColorConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatHistoryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timestamp/TimestampPlugin.java
  runelite-client/src/main/scripts/ChatBuilder.rs2asm
  runelite-mixins/src/main/java/net/runelite/mixins/RSMessageNodeMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSMessageNode.java
Labels: feature-request

#6941 Fix party hat buy limits
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: feature-request

#6904 xp drop on a set tick for efficient skilling
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
Labels: feature-request

#6935 Make GL version choosing platform specific
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/comp.glsl
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/comp_small.glsl
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/comp_unordered.glsl
Labels: enhancement, regression

#6989 Add Bottle of Wine stats to item stats plugin
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: feature-request

#6970 Fix the description of the wintertodt plugin and add boss tag
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/WintertodtPlugin.java
Labels: enhancement

#6990 Move Level 37 wilderness hot clue step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#6963 Add missing clue requirement "Salute in warriors guild"
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#6710 Add Item overlay to show when monsters are weak enough to finish off
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/TargetWeaknessOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: feature-request

#6955 Add space after timestamp
  runelite-client/src/main/java/net/runelite/client/plugins/timestamp/TimestampPlugin.java
Labels: enhancement

#6912 OverlayRenderer: Prevent overlays rendering if fullscreen map is open
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WorldMapLocationOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WorldMapRegionOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayLayer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/worldmap/WorldMapOverlay.java
Labels: bug

#7002 Add missing empty ammo slot to the remaining emote steps.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#7000 Cooking plugin
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingSession.java
Labels: feature-request

#7018 Add silver jewelry to crafting skill calculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_crafting.json
Labels: feature-request

#7010 Send config updates on close
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#7019 fix charge water orb xp in skill calc
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_magic.json
Labels: bug, skill-calc

#7056 Fix Typo in ItemStats: "substracted" to "subtracted"
  http-api/src/main/java/net/runelite/http/api/item/ItemStats.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
Labels: enhancement, item-stats

#7034 Add GE limits
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: enhancement

#6895 Add intermediate progress markers for xptracker plugin
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/components/ProgressBar.java
Labels: feature-request

#7082 gpu: limit msaa samples to supported value
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
Labels: gpu

#7086 Flip state and details in Discord status
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: discord, enhancement

#7068 Display persistent data inside Loot Tracker UI
  http-api/src/main/java/net/runelite/http/api/loottracker/LootTrackerClient.java
  http-service/src/main/java/net/runelite/http/service/loottracker/LootTrackerController.java
  http-service/src/main/java/net/runelite/http/service/loottracker/LootTrackerService.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request

#5985 Add object indicators plugin
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectPoint.java
Labels: feature-request

#7088 Barbarian mix timers
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#7026 Add wilderness cannon spots
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: feature-request

#7076 Add separate "pause all" and "unpause all" option to the XpPanel.
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
Labels: feature-request

#7105 Add farming patch type to tooltips on world map
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FarmingPatchLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FarmingPatchPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
Labels: feature-request

#7115 Fix NPE Object Indicators Plugin
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
Labels: bug

#7123 Added weiss agilility obstacles
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request
