Repository runelite/runelite, pull requests merged in 2018-05, with the labels that each got.

#2201 farmingtracker: Prevent saving when teleporting
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerPlugin.java
Labels: bug

#2206 Fix Beckon in Digsite clue location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2196 Fix master clue emote: Entrana church
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2189 Brother Tranquility 'talk-to' & ''transport' option swap
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#2190 Adds skill progress bar to hiscore panel
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
Labels: feature-request

#2227 Add anim, gfx and logger command to devtools
  runelite-api/src/main/java/net/runelite/api/Actor.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSActor.java
Labels: feature-request

#2187 Add 3rd Age Axe and 3rd Age Pickaxe animations to Idle Notifier
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: enhancement

#2244 Use British floor numbering in clue scroll hints
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#2101 opponent info: reduce padding size
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
Labels: enhancement

#2266 Verify game's minimum size
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#2270 Use only southermost ghost wave for cerb plugin
  runelite-client/src/main/java/net/runelite/client/plugins/cerberus/CerberusOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cerberus/CerberusPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/cerberus/CerberusPluginTest.java
Labels: bug

#2283 Add Elite map clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues

#2263 Fix master fire cape emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2242 Allow "degree" and "minute" in coordinate clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
Labels: bug, clues

#1944 Add a way to get AccountType
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/vars/AccountType.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: enhancement

#2161 Add missing overhead icons to API
  runelite-api/src/main/java/net/runelite/api/HeadIcon.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSNpcCompositionMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSPlayerMixin.java
Labels: enhancement

#2171 runelite-client: Cleanup cli arguments
  runelite-client/src/main/java/net/runelite/client/ClientLoader.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/UpdateCheckMode.java
Labels: enhancement

#2180 Add 2 new notifications modes (message, flash)
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
Labels: feature-request

#2271 Fix negative total XP calculation when skill starts
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpStateSingle.java
Labels: bug

#2237 Show missing fishing spots in Rellekka in overlay.
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: feature-request

#2297 Add missing anagram clue, fix dagganoth king cryptic
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#2302 Fix hard Entrana cryptic clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#2306 Add Elite Map clue at Zul-andra
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues

#2292 Demonic gorilla plugin: Capitalise plugin name
  runelite-client/src/main/java/net/runelite/client/plugins/demonicgorilla/DemonicGorillaPlugin.java
Labels: enhancement

#1643 Add special Attack Counter
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/Boss.java
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialWeapon.java
Labels: feature-request

#2330 Use Immenizz's in-game name
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: clues

#1350 Fps plugin
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsDrawListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsLimitMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsPlugin.java
Labels: feature-request

#2345 Make farming tracker use english for dates by default
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerPanel.java
Labels: feature-request

#2355 Fix "No boots" requirement in Mausoleum clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2352 Update to Solution of speaking to Falo the Bard
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues, feature-request

#2150 BossTimerPlugin: Add missing bosses
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
Labels: feature-request

#2336 WorldMapOverlay: Add check for current plane
  runelite-api/src/main/java/net/runelite/api/WorldMapData.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/worldmap/WorldMapOverlay.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWorldMapData.java
Labels: enhancement

#2374 FPS plugin: fix startup not applying limits
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsPlugin.java
Labels: bug

#2239 Add barrows chest value message
  runelite-api/src/main/java/net/runelite/api/InventoryID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
Labels: feature-request

#2370 Fix agility laps left counter
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilitySession.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Courses.java
Labels: bug

#2380 Fix monastery clue position
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2386 Disable filtering on logback.xml
  runelite-client/pom.xml
Labels: bug

#2385 impling plugin: use spawn events
  runelite-client/src/main/java/net/runelite/client/plugins/implings/Impling.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingType.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingsPlugin.java
Labels: enhancement

#2408 Add xp per hour to xp globes mouse-over tooltip
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerService.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerServiceImpl.java
Labels: feature-request

#2414 Move the xp/hr in globes to new system
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
Labels: bug

#2417 Add range to Argdougne emote clue item requirement
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2416 Fix Shadow dungeon emote clue location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2434 Clear children in LocationOverlay
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/LocationOverlay.java
Labels: bug

#2426 Cleanup npcindicators
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcClickboxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcMinimapOverlay.java
Labels: enhancement

#2428 Rename fields in ScriptEvent
  runescape-api/src/main/java/net/runelite/rs/api/RSScriptEvent.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/FontName.java
  runescape-client/src/main/java/MapIconReference.java
  runescape-client/src/main/java/ScriptEvent.java
  runescape-client/src/main/java/VerticalAlignment.java
  runescape-client/src/main/java/WorldMapRectangle.java
  runescape-client/src/main/java/class61.java
  runescape-client/src/main/java/class64.java
  runescape-client/src/main/java/class7.java
  runescape-client/src/main/java/class90.java
  runescape-client/src/main/java/class95.java
Labels: enhancement

#2415 Sanitize player indicators options
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsService.java
Labels: enhancement

#2448 Updated cryptic clue solution for Kalphite area
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#1977 Improve client window functionality
  runelite-client/src/main/java/net/runelite/client/config/ExpandResizeType.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/ContainableFrame.java
Labels: bug, feature-request

#1753 Various clue scroll fixes
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/SlotLimitationRequirement.java
Labels: clues

#2468 Fix Sinclair Mansion emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2412 Add hot-cold clue scroll plugin
  runelite-api/src/main/java/net/runelite/api/coords/WorldPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/HotColdClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdArea.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: feature-request

#2492 Fix warmer/colder consideration for hot-cold plugin
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/HotColdClue.java
Labels: bug

#2478 HunterPlugin: Fix deadfall traps
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterPlugin.java
Labels: bug

#2498 runelite-client: Make notification options not mutually excusive
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
Labels: feature-request

#2450 Move system tray icon to be created before the client requests focus
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#2505 Add Burgh de Rott map clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues

#2499 Refactor raster line methods
  runescape-client/src/main/java/Graphics3D.java
Labels: enhancement

#1272 Suppress checkstyle warnings in runescape-client package
  suppressions.xml
Labels: enhancement

#2452 Add tooltip font type dropdown
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TooltipComponent.java
Labels: feature-request

#2465 Add trap overlay for agility plugin
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#2467 Add Elf Area Obstacles
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#2475 Opponent info panel improvements
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ProgressBarComponent.java
Labels: enhancement

#2496 Add Anti Drag Plugin
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#2506 http-api: Print a more helpful error message when maven has not worked
  http-api/src/main/java/net/runelite/http/api/RuneLiteAPI.java
Labels: enhancement

#2497 Slayer bracelet overlay
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: feature-request

#2578 Clear previous image components in fight caves overlay
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCaveOverlay.java
Labels: bug

#2595 groundmarkers: Fix NPE in drawTile
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerOverlay.java
Labels: bug

#2524 Add ItemLayer height to GroundItems overlay
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: enhancement

#2609 Fixed % on opponent health
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ProgressBarComponent.java
Labels: bug

#2530 Make VarbitChanged only fire once, after everything has settled
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: enhancement

#2550 Fix World Map widget check in Hooks.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapPlugin.java
Labels: bug

#2584 Fix Warrior's guild emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2583 Show GE and high alch prices for shop items that are examined
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
Labels: feature-request

#2596 runelite-api: Annotate Perspective methods with `@Nonnull`
  runelite-api/src/main/java/net/runelite/api/Perspective.java
Labels: enhancement

#2597 kourendlibrary: Fix for rev 170 menu code
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
Labels: bug

#2605 Make existing config options for highlighting marks of grace also affect the overlay color
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityOverlay.java
Labels: feature-request

#2607 Reset Fight Cave plugin prayer background color
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCaveOverlay.java
Labels: bug

#2637 Fix Gypsy Aris cryptic clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#2619 Use British floor numbering in cipher clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
Labels: clues, enhancement

#2634 Fix updating of Hot/Cold clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/HotColdClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/LocationsClueScroll.java
Labels: bug, clues

#2641 Fix overlay system sizing
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/PanelComponent.java
Labels: bug

#2651 Fix typo cryptic clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#2642 Do not floor percentage in progress bars
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ProgressBarComponent.java
Labels: feature-request

#2673 overlayutil: reset stroke for renderpolygon
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayUtil.java
Labels: bug

#2628 Normalize elite cryptic clue messages
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#2685 Fixed typo in master clue.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2681 fix: Hide vanilla raid points box when inside chambers of xeric
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: bug

#947 Plug-in: Skilling Calculator
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/CacheSkillData.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/CalculatorType.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculatorPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculatorPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/UIActionSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/UICalculatorInputArea.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/UICombinedActionSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/beans/SkillData.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/beans/SkillDataBonus.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/beans/SkillDataEntry.java
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/calc.png
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_agility.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_construction.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_cooking.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_crafting.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_farming.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_firemaking.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_fishing.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_fletching.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_herblore.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_hunter.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_magic.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_mining.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_prayer.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_runecraft.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_smithing.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_thieving.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_woodcutting.json
Labels: feature-request

#2729 Fix hot cold location south of gnome stronghold
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#2724 Add " fps" after the number of FPS
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsOverlay.java
Labels: feature-request

#2735 Rename varc fields
  runescape-api/src/main/java/net/runelite/rs/api/RSVarcs.java
  runescape-client/src/main/java/Varcs.java
Labels: enhancement

#2909 CluePlugin: Fix clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2714 Friend notes plugin: Add documentation and increase code readability
  runelite-client/src/main/java/net/runelite/client/plugins/friendnotes/FriendNoteOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/friendnotes/FriendNotesPlugin.java
Labels: enhancement

#2833 Restore Plugin Toolbar Button Tooltips
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculatorPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/NavigationButton.java
  runelite-client/src/main/java/net/runelite/client/ui/PluginToolbar.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: bug

#2971 Fixed typo in a cryptic clue solution
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#2907 Add Gem rocks to mining calculator plugin
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_mining.json
Labels: skill-calc

#2875 Fix bounds for west bookcases in Kourend Library
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Bookcase.java
Labels: bug

#2877 Delay setting of low detail mode
  runelite-client/src/main/java/net/runelite/client/plugins/lowmemory/LowMemoryPlugin.java
Labels: bug

#2964 SetOpaque UI performance fix
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingPatchPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeItemPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/BookPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/UIActionSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/UICombinedActionSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: bug

#3046 Add puzzle box indicator to Drunken Dwarf clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: clues

#2987 Fix til next level time for low xp amounts
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpStateSingle.java
Labels: bug

#2985 Improve stretched fixed mode performance
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsDrawListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/DrawManager.java
Labels: enhancement

#3059 Fix friend note not displaying due to color tags
  runelite-client/src/main/java/net/runelite/client/plugins/friendnotes/FriendNotesPlugin.java
Labels: bug

#3058 Fix setting of hiscore stats after combat level
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
Labels: bug

#3073 Change Anti-Drag plugin to work only with SHIFT
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragPlugin.java
Labels: feature-request

#3025 added commas into ground item quantities
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: enhancement

#3075 Var inspector
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/events/VarClientIntChanged.java
  runelite-api/src/main/java/net/runelite/api/events/VarClientStrChanged.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/VarInspector.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/VarTracker.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSVarcsMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/VarbitMixin.java
Labels: feature-request

#3083 Clue Scrolls: fix dark warrior fortress clue crate coordinates
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues

#3060 WorldMap: Add teleport destinations for spells and jewellery
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/JewelleryTeleportLocationData.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/JewelleryTeleportPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/MagicTeleportLocationData.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/MagicTeleportPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportType.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/worldmap/WorldMapPointManager.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/amulet_of_glory_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/annakarl_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ape_atoll_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ape_atoll_teleport_icon_arceuus.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ardougne_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/barbarian_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/barrows_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/burning_amulet_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/camelot_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/carrallangar_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/catherby_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/cemetery_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/combat_bracelet_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/dareeyak_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/digsite_pendant_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/draynor_manor_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/falador_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/fenkenstrains_castle_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/fishing_guild_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/games_necklace_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ghorrock_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/harmony_island_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/house_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ice_plateau_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/kharyrll_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/khazard_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/kourend_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/lassar_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/lumbridge_graveyard_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/lumbridge_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/mind_altar_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/moonclan_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/necklace_of_passage_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ourania_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/paddewwa_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/respawn_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ring_of_dueling_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ring_of_wealth_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/salve_graveyard_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/senntisten_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/skills_necklace_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/slayer_ring_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/trollheim_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/varrock_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/watchtower_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/waterbirth_teleport_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/west_ardougne_teleport_icon.png
Labels: feature-request

#3064 Brimhaven Agility arena plugin
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityArenaTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/agility/agilityarenaticket.png
Labels: feature-request

#2869 WorldMap: Add agility shortcut level requirements
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/AgilityShortcutLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/AgilityShortcutPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/nope_icon.png
Labels: feature-request

#3111 WorldMap: Fix jewellery item name loading bugs
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/JewelleryTeleportLocationData.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/JewelleryTeleportPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
Labels: bug

#3114 varinspector: Lazily initialize var arrays
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/VarInspector.java
Labels: bug

#3096 Corsair fishing spot overlay
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: feature-request

#3061 Obsidian redesign tweaks
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/ui/components/IconTextField.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: bug, enhancement

#3068 Fix 2005 gameframe
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/SpriteOverride.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/WidgetOffset.java
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/1582.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/1583.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/1584.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/773.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/788.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/789.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/790.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/791.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/792.png
Labels: bug, enhancement

#3099 Add Gu'Tanoth bridge obstacles
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: enhancement

#3043 UI element mouse hover improvements
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeItemPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPanel.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: feature-request

#3132 Add Burgh de Rott fishing spots to fishing overlays
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: feature-request

#3129 interfacestyles: Run on game thread
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
Labels: bug

#3084 emoteclues: display when item is in inventory
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, enhancement

#2963 Daily Task Indicators: delay the varbit check to allow them to initialize
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksPlugin.java
Labels: bug

#3150 slayerplugin: cancel task when leaving fight caves
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: bug

#3170 Fix 2010 gameframe highlight and accuracy
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/SpriteOverride.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/WidgetOffset.java
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1026.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1027.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1028.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1029.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1030.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1032.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1036.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1173.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1174.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1175.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1180.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/1181.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/539.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/540.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/541.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/902.png
Labels: enhancement

#3166 Change hot/cold overlay to only show outline of dig area
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/HotColdClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: enhancement

#3230 Allow imbued Ring of Wealth for emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#3212 Fix coordinates for venenatis hot cold clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: bug, clues

#3231 Fix location for West Ardougne emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#3159 idlenotifier: add support for gilded altar
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#3252 timers: use correct capitalisation for antifire in settings
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
Labels: enhancement

#2882 Unify Highlight and Tag colors for NPC indicators, cleanup code
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcClickboxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcMinimapOverlay.java
Labels: enhancement, feature-request

#3247 Fix Hiscore auto-complete
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/ui/components/FlatTextField.java
  runelite-client/src/main/java/net/runelite/client/ui/components/IconTextField.java
Labels: bug, regression

#3242 Skill calcs performance improvement
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculatorPanel.java
Labels: bug

#3265 Fix for confirm dialog appearing behind main UI window
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ui/ScreenMarkerPanel.java
Labels: bug

#3217 slayerplugin: read bracelet charges directly from chat
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: enhancement

#3213 Reset gorillas in demonic gorilla plugin on startup and world hop
  runelite-client/src/main/java/net/runelite/client/plugins/demonicgorilla/DemonicGorillaPlugin.java
Labels: bug

#3192 Add support for fullscreen mode
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/util/OSXUtil.java
Labels: feature-request

#3301 Fix world map configuration typos
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
Labels: enhancement

#3307 Exclude ironmen from daily herb box notifications
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksPlugin.java
Labels: enhancement

#3189 slayerplugin: fix current task regex and new task via npc contact regex
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#3299 Remove feed refresh button
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPanel.java
  runelite-client/src/main/resources/net/runelite/client/plugins/feed/reset.png
Labels: bug

#3320 Fix Grand Tree mushrooms clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#2878 Change TextField to TextArea that can span multiple lines
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/PluginPanel.java
Labels: enhancement

#3304 Refactor ClientUI using CardLayout
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#3249 Account for slightly different dimensions of first and second/third f…
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Bookcase.java
Labels: bug

#3340 Properly set preferredSize of navContainer
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#3343 Add top margin to the error panel
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
Labels: bug, enhancement

#3345 Fix ArrayIndexOutOfBoundsException when an empty command is typed
  runelite-client/src/main/java/net/runelite/client/chat/CommandManager.java
Labels: bug

#3306 Improve boss respawn timer
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/BossTimersPlugin.java
Labels: bug

#3365 dev-tools: Add camera position overlay
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/CameraOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
Labels: feature-request
