Repository runelite/runelite, pull requests merged in 2018-06, with the labels that each got.

#3543 slayer plugin: fix expeditious regex pattern
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug, regression

#3482 Fix null names for quest objects in cryptic clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#3513 Fix Dad hot-cold clue hint
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#3546 Improve Material Tabs Code
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculatorPanel.java
  runelite-client/src/main/java/net/runelite/client/ui/components/materialtabs/MaterialTab.java
Labels: enhancement

#3509 Add hyperlinks to project layout in README
  README.md
Labels: enhancement

#3485 Use pie component in Tithe farm plugin
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPlantOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPlugin.java
Labels: enhancement

#3548 Fix emote clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#3568 Remove Skill Calculator unused code
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculatorPanel.java
Labels: enhancement

#3575 farmingtracker - Change tickrate for giant seaweed from 10 to 5
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/Produce.java
Labels: bug

#3560 regen plugin: don't show regen if the minimap orb is hidden
  runelite-client/src/main/java/net/runelite/client/plugins/regenmeter/RegenMeterOverlay.java
Labels: bug

#3588 Fix Jarvis infinite loop
  runelite-api/src/main/java/net/runelite/api/model/Jarvis.java
Labels: bug

#3529 Add a Charge timer
  runelite-api/src/main/java/net/runelite/api/GraphicID.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/timers/charge.png
Labels: feature-request

#3558 Add Death Indicator Plugin
  runelite-client/src/main/java/net/runelite/client/config/ConfigInvocationHandler.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/DeathIndicatorConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/DeathIndicatorPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/deathindicator/DeathWorldMapPoint.java
  runelite-client/src/main/resources/net/runelite/client/plugins/deathindicator/bones.png
  runelite-client/src/main/resources/net/runelite/client/plugins/deathindicator/clue_arrow.png
Labels: feature-request

#3593 Fix Charge timer showing with every teleport
  runelite-api/src/main/java/net/runelite/api/GraphicID.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: bug

#3594 Fix some chat colour issues
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/config/ChatColorConfig.java
Labels: bug

#3499 Fix remember screen bounds for KEEP_GAME_SIZE
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/ContainableFrame.java
Labels: bug

#3579 Fix Callisto and Venenatis Boss Timers using the incorrect ID
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
Labels: bug, regression

#3600 Fixed clue scroll typo
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: clues

#2840 Add Prayer indicator plugin by merging prayer flick plugin
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerFlickOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerType.java
Labels: feature-request

#3587 Add charged shields to ItemMapping
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: feature-request

#3131 runelite-client: Require assertions when developer mode is on
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
Labels: feature-request

#3535 Add Tile location tooltip option to dev tools
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
Labels: feature-request

#3590 Allow drawing of screen markers in every direction
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerMouseListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerPlugin.java
Labels: feature-request

#3554 ScreenshotPlugin: Screenshot receiving pet
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: feature-request

#3578 Update Screenshot plugin to have option to automatically take screenshot for PvP kills
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: feature-request

#3565 Added Menu Entry Swapper options for house portal.
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/HouseMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#3618 Update tooltip for Grand Exchange panel icon to "Grand Exchange"
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
Labels: enhancement

#2879 Add support for launcher version
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/RuneLiteProperties.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPanel.java
Labels: feature-request

#3492 Simpler GE Notifications
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeNotification.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeNotificationHandler.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
Labels: enhancement

#3603 Fix hot cold clue locations
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#3608 Fix Guard Vemmeldo anagram clue location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: clues

#3486 Adds idles to spells bake pie & string jewlery
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#3626 Npc indicators fix
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
Labels: bug

#3617 ScreenshotPlugin: Stop overwrite
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: bug

#3613 runelite-client: Allow developer-tools to run from the launcher
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/RuneLiteProperties.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPanel.java
Labels: bug

#3661 Fix Hero's guild emote clue location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#3664 Fix demonic gorilla overlay position on fixed screen
  runelite-client/src/main/java/net/runelite/client/plugins/demonicgorilla/DemonicGorillaOverlay.java
Labels: enhancement

#3632 Remove auto-expanding from PanelComponent
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/PanelComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TitleComponent.java
Labels: bug

#3609 runelite-client: Don't fail on invalid config values
  runelite-api/src/main/java/net/runelite/api/Actor.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigInvocationHandler.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
Labels: enhancement

#3675 Batch xteas in one request
  http-api/src/main/java/net/runelite/http/api/xtea/XteaClient.java
  runelite-api/src/main/java/net/runelite/api/events/MapRegionChanged.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xtea/XteaPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: enhancement

#3638 Remove 'Actions left' and 'Xp per hour' from Xp Globes when Xp Tracker is disabled
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
Labels: feature-request

#3688 runelite-client: add detached camera devtool
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#3583 Make Color config options show their colour instead of "Pick a color"
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
Labels: feature-request

#1079 Add Blast Mine plugin
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMineOreCountOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMinePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMinePluginConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMineRock.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMineRockOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMineRockType.java
Labels: feature-request, help wanted

#3707 Fix JColorChooser text not updating properly
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
Labels: bug

#3706 [chat-color] Add support for Public Chat from Mods
  runelite-api/src/main/java/net/runelite/api/ChatMessageType.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
Labels: bug

#3729 Add Isafdar fishing spots
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: enhancement

#3704 Small contributing.md clarification
  .github/CONTRIBUTING.md
Labels: enhancement

#3696 Fix NMZ points overlay appearing in the KBD instance lair
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
Labels: bug

#3685 Add notification when skill boosts get low
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
Labels: feature-request

#3701 Change the Jewellery Count plugin to Item Charges and added more options.
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeType.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemWithCharge.java
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryCharges.java
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryCountConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmInventoryOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPluginConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/WateringCan.java
Labels: enhancement, feature-request

#3677 [Chat Color] Add ability to change public chat friend name color in config
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/config/ChatColorConfig.java
Labels: feature-request

#3636 Add Chat Highlighting and Chat Notifications
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPlugin.java
Labels: feature-request

#3489 add CrystalMathLabs plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/crystalmathlabs/CrystalMathLabs.java
Labels: feature-request

#3126 Skill Calc - Fix combined action slot not updating when an input field was changed
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
Labels: bug, skill-calc

#3294 Add support for configurable infobox sizes
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerRenderable.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ImageComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/InfoBoxComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/LayoutableRenderableEntity.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/LineComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/PanelComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ProgressBarComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TitleComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBox.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxManager.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxOverlay.java
Labels: feature-request

#3761 chat commands: alow clearing words and chat with ctrl w/backspace
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatKeyboardListener.java
  runelite-mixins/src/main/java/net/runelite/mixins/VarbitMixin.java
Labels: feature-request

#3775 Fix spelling of highlight
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsConfig.java
Labels: enhancement

#3780 Fix zeah hot cold dig locations
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#3777 Add missing elite map clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues

#3791 runelite-client: Prevent recursion when chat notifier notifies to chat
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPlugin.java
Labels: bug

#3789 Consider anything with GE > 0 as tradeable too
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: bug, regression

#3796 Ground item changes (as requested by people in Discord)
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: feature-request

#3798 Fix south-of-mausoleum hot-cold clue location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#3572 Material Tabs in Hiscores + OnTabSelected event
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculatorPanel.java
  runelite-client/src/main/java/net/runelite/client/ui/components/materialtabs/MaterialTab.java
  runelite-client/src/main/java/net/runelite/client/ui/components/materialtabs/MaterialTabGroup.java
Labels: feature-request

#3813 Reduce code duplicity in resetOverlay method, fix overlay saving
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayManager.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxOverlay.java
Labels: bug, enhancement, regression

#3819 Change ground items box size from 6 px to 8 px
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: regression

#3818 Fix UnsupportedOperationException in ground items
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: bug

#3802 Fixed item ID for some zenyte and onyx items
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_crafting.json
Labels: bug

#3778 Prevent NPC tagging from interrupting actions
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
Labels: bug

#3832 configPanel: remove tooltips for JTextArea
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
Labels: enhancement

#3831 agilityShortcutLocation: Fix shilo village agility marker
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/AgilityShortcutLocation.java
Labels: enhancement

#3762 Add Staff of the Dead timer
  runelite-api/src/main/java/net/runelite/api/GraphicID.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/timers/staffofthedead.png
Labels: feature-request

#3737 Add tooltip to absorption panel
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/AbsorptionCounter.java
Labels: enhancement

#3827 Disable OSB prices by default
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeConfig.java
Labels: feature-request

#3597 Add wiki link to info panel
  runelite-client/src/main/java/net/runelite/client/RuneLiteProperties.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPanel.java
  runelite-client/src/main/resources/net/runelite/client/plugins/info/wiki_icon.png
  runelite-client/src/main/resources/net/runelite/client/runelite.properties
Labels: feature-request

#3834 Toggle confirmation on exit
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/config/WarningOnExit.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: feature-request

#3862 Fix ground item swapped price values
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: bug

#3089 Add Plugin: Prayer Stats / Dose Indicator
  runelite-api/src/main/java/net/runelite/api/Prayer.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerDoseOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerFlickOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerItems.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerRestoreType.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: feature-request

#3770 Disable camera zoom by default (because all options inside are anyway disabled by default)
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomPlugin.java
Labels: enhancement

#3779 Fix ancient cavern emote clue location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#3859 small code cleanup
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
  runelite-client/src/main/java/net/runelite/client/plugins/cerberus/CerberusPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/TrapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/JRichTextPane.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/components/ComboBoxListRenderer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxManager.java
Labels: enhancement

#3886 Fix Slayer Tower emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#3888 Hot cold clue location fixes
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#3678 Created dodgy necklace charge overlay and break notification.
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemcharges/ItemChargePluginTest.java
Labels: feature-request

#3880 Fix ground marker plugin layer
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerInputListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerOverlay.java
Labels: enhancement

#3530 Preserve prayer tracking in boost timer
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
Labels: feature-request

#3797 CONTRIBUTING.md - Provide link to coding conventions
  .github/CONTRIBUTING.md
Labels: enhancement

#3811 Optional support for recoloring right-click menu
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: bug, feature-request

#3723 Bulk prices
  http-api/src/main/java/net/runelite/http/api/item/ItemClient.java
  http-service/src/main/java/net/runelite/http/service/cache/CacheService.java
  http-service/src/main/java/net/runelite/http/service/item/ItemController.java
  http-service/src/main/java/net/runelite/http/service/item/ItemService.java
  http-service/src/main/java/net/runelite/http/service/item/PendingLookup.java
  http-service/src/test/resources/application.properties
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/game/ItemPriceLoader.java
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankCalculation.java
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankValuePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
Labels: discussion, enhancement

#3895 Add option to highlight tiles
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: feature-request

#3906 Fix stepping stone object IDs east of Shilo Village
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: bug

#3607 kourendlibrary: Hide navbutton when not in the library
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
Labels: enhancement

#3596 Add MTA Plugin
  runelite-api/src/main/java/net/runelite/api/Actor.java
  runelite-api/src/main/java/net/runelite/api/NpcID.java
  runelite-api/src/main/java/net/runelite/api/ProjectileID.java
  runelite-api/src/main/java/net/runelite/api/coords/WorldArea.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/MTAConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/MTAInventoryOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/MTAPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/MTARoom.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/MTASceneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/alchemy/AlchemyItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/alchemy/AlchemyRoom.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/alchemy/AlchemyRoomTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/alchemy/Cupboard.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/enchantment/EnchantmentRoom.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/graveyard/GraveyardCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/graveyard/GraveyardRoom.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/telekinetic/Maze.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/telekinetic/TelekineticRoom.java
  runelite-client/src/main/resources/net/runelite/client/plugins/mta/alchemy/reset.png
  runescape-api/src/main/java/net/runelite/rs/api/RSActor.java
Labels: feature-request

#3918 prayer: Remove the ring of the gods from the holy wrench list
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerRestoreType.java
Labels: bug

#3934 kourendlibrary: Make hiding the navbutton optional
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
Labels: feature-request, regression

#3928 Fix NPC indicators to not consume tags clicks on non-NPCs
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
Labels: bug, regression

#3854 screenshot plugin: Allow hotkey to be changed from insert
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/config/Keybind.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/HotkeyButton.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/HotkeyListener.java
Labels: feature-request

#3902 runelite-client: add outdated dialog
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: feature-request

#3870 Menu Swapper - Add Age/Assignment Swapping
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#3961 #3911 - Update library plugin encapsulation
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Book.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/BookPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Bookcase.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Library.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/LibraryCustomer.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/SolvedState.java
Labels: enhancement

#3962 Update prayer plugin encapsulation
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerDoseOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerFlickOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerItems.java
Labels: enhancement

#3973 Clue chat commands
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: feature-request

#2972 Add inventory tagging plugin
  runelite-api/src/main/java/net/runelite/api/SpritePixels.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorytags/InventoryTagsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorytags/InventoryTagsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorytags/InventoryTagsPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSSpritePixelsMixin.java
Labels: feature-request

#3984 Add inventory viewer plugin
  runelite-client/src/main/java/net/runelite/client/plugins/inventoryviewer/InventoryViewerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventoryviewer/InventoryViewerPlugin.java
Labels: feature-request

#3989 Clue-chat-command fix: Set to correct function call
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: bug

#3976 Update documentation for Callbacks interface
  runelite-api/src/main/java/net/runelite/api/hooks/Callbacks.java
Labels: enhancement

#3963 Even more hot-cold clue fixes
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#3990 agilityShortcutLocation: Fix SE Karamja agility marker
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/AgilityShortcutLocation.java
Labels: bug

#3988 Add corporeal beast plugin
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/events/InteractingChanged.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CoreOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpDamageOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSActorMixin.java
Labels: feature-request

#4007 timers plugin: Create timer for stamina mixes
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#3830 Center stretched fixed mode horizontally
  runelite-mixins/src/main/java/net/runelite/mixins/RSGameCanvasMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/StretchedFixedModeMixin.java
Labels: enhancement

#4002 Add battlestaff crafting to idle notifier
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#3949 Make Fight Cave plugin more accurate
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCaveOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCavePlugin.java
Labels: bug

#3958 Remove age menu entry swap, move shift-click to the top
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#3950 Bug fix binding necklace destroy
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftPlugin.java
Labels: bug

#4017 Fix price of tentacle tridents
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: bug

#4018 runelite-client: Add a equals implementation to Keybind
  runelite-client/src/main/java/net/runelite/client/config/Keybind.java
Labels: bug

#3997 Remove title from corp panel
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpDamageOverlay.java
Labels: enhancement

#4029 agility plugin: do not update arena timer when there is no hint arrow
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
Labels: bug

#3939 Add Player Comparison table to Opponent Information plugin
  http-api/src/main/java/net/runelite/http/api/hiscore/HiscoreClient.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/PlayerComparisonOverlay.java
Labels: feature-request

#4045 opponent info plugin: Clear fields on shutdown
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoPlugin.java
Labels: bug

#4013 runelite-client: Don't use system specific modifier key names
  runelite-client/src/main/java/net/runelite/client/config/Keybind.java
Labels: bug

#4043 item stats plugin: Add Edible seaweed
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement

#4047 screen-markers: fix graphical bug
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerPlugin.java
Labels: bug

#4025 Widget optimizations
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/HashTable.java
  runelite-client/src/main/java/net/runelite/client/plugins/reorderprayers/ReorderPrayersPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSWidgetMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSHashTable.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWidget.java
Labels: enhancement

#4071 Cooking Skill Calculator Fix
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_cooking.json
Labels: skill-calc

#4064 chat color: Fix description typo
  runelite-client/src/main/java/net/runelite/client/config/ChatColorConfig.java
Labels: bug

#4079 Make SOTD/SOTL timer use chat messsage
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: bug

#4094 agility plugin: Add Lumbridge swamp cave shortcuts
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#4093 fishing plugin: Add cave eel and slimy eel spots
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: feature-request

#4086 item stats: Add missing RFD foods
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: feature-request

#4088 Return preferredSize.width from TitleComponent
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TitleComponent.java
Labels: bug

#4100 item stats plugin: Add field ration
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement

#4098 chat commands: fix to use exiting accounttype api
  runelite-api/src/main/java/net/runelite/api/AccountType.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: enhancement
