Repository runelite/runelite, pull requests merged in 2018-04, with the labels that each got.

#1210 Add configuration options for ground item plugin
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: feature-request

#1207 Invalidate ground items and item composition cache
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: bug

#1198 agility plugin: Add region check to lap counter
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/Courses.java
Labels: bug

#1211 Use provider for client in item manager
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
Labels: bug

#1136 Widget inspector improvement
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInspector.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetTreeNode.java
Labels: enhancement

#1196 cache: rewrite map image dumper with logic from client
  cache/src/main/java/net/runelite/cache/MapImageDumper.java
  cache/src/main/java/net/runelite/cache/ObjectManager.java
  cache/src/main/java/net/runelite/cache/definitions/OverlayDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/UnderlayDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/loaders/ObjectLoader.java
  cache/src/main/java/net/runelite/cache/definitions/loaders/OverlayLoader.java
  cache/src/main/java/net/runelite/cache/definitions/loaders/UnderlayLoader.java
  cache/src/main/java/net/runelite/cache/item/ColorPalette.java
  cache/src/main/java/net/runelite/cache/item/Graphics3D.java
  cache/src/main/java/net/runelite/cache/item/RSTextureProvider.java
  cache/src/main/java/net/runelite/cache/region/RegionLoader.java
  cache/src/test/java/net/runelite/cache/MapImageDumperTest.java
Labels: enhancement

#1146 Move title toolbar buttons to sidebar in native
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientPluginToolbar.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientTitleToolbar.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: enhancement, feature-request

#1226 Refactor playerindicators
  cache/src/main/java/net/runelite/cache/script/Instructions.java
  cache/src/main/java/net/runelite/cache/script/Opcodes.java
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/MenuAction.java
  runelite-api/src/main/java/net/runelite/api/Player.java
  runelite-api/src/main/java/net/runelite/api/Text.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/game/ClanManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsService.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/Text.java
  runelite-client/src/main/resources/net/runelite/client/game/Captain_clan_rank.png
  runelite-client/src/main/resources/net/runelite/client/game/Corporal_clan_rank.png
  runelite-client/src/main/resources/net/runelite/client/game/Friend_clan_rank.png
  runelite-client/src/main/resources/net/runelite/client/game/General_clan_rank.png
  runelite-client/src/main/resources/net/runelite/client/game/Lieutenant_clan_rank.png
  runelite-client/src/main/resources/net/runelite/client/game/Owner_clan_rank.png
  runelite-client/src/main/resources/net/runelite/client/game/Recruit_clan_rank.png
  runelite-client/src/main/resources/net/runelite/client/game/Sergeant_clan_rank.png
  runelite-client/src/test/java/net/runelite/client/util/TextTest.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSPlayerMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSName.java
Labels: feature-request

#1225 Fix challenge answer for Nurse Wooned clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: bug

#1197 Clip overlays on the above scene layer to the viewport
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/Perspective.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: bug

#1104 npc indicator: add shift right click to add tag option
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsInput.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
Labels: feature-request

#1227 bank tag plugin: use chatbox input manager
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
Labels: feature-request

#1183 Menu entry swapper: Swap last destination for spiritual fairy tree
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#1239 Add raids fishing spot
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: feature-request

#1233 agility plugin: remove duplicate gamestate event
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/AgilityPlugin.java
Labels: enhancement

#1208 nmz plugin: reset absorption notification when not in NMZ
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
Labels: bug

#1241 Change MenuEntry type to int
  runelite-api/src/main/java/net/runelite/api/MenuAction.java
  runelite-api/src/main/java/net/runelite/api/MenuEntry.java
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: bug

#1218 Add option for enabling small font
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/pestcontrol/PestControlOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/pestcontrol/PestControlPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayUtil.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TooltipComponent.java
Labels: feature-request

#1264 Add chunk borders and map square borders to devtools
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/BorderOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
Labels: feature-request

#1266 ground item overlay: Fix boxes appearing very small with small font
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: bug

#1259 Highlight current region in Location devtool
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/LocationOverlay.java
Labels: enhancement

#1221 Highlight dark mage NPC in the center of the abyss when inventory contains a degraded pouch
  runelite-api/src/main/java/net/runelite/api/queries/InventoryItemQuery.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/AbyssOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftPlugin.java
Labels: feature-request

#1215 Add healing values (+14) for pumpkins and easter eggs
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement

#1217 Save text configuration value on enter
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
Labels: enhancement

#1232 Reset report button text to default when plugin is disabled
  runelite-client/src/main/java/net/runelite/client/plugins/reportbutton/ReportButtonPlugin.java
Labels: bug

#1246 Add small clarification to Account Plugin tooltip
  runelite-client/src/main/java/net/runelite/client/plugins/account/AccountPlugin.java
Labels: enhancement

#1274 Fixed misspelling in clue and added missing clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug

#1279 Refactored some fields in ItemComposition
  runescape-client/src/main/java/ItemComposition.java
  runescape-client/src/main/java/Player.java
  runescape-client/src/main/java/class47.java
Labels: enhancement

#1291 Fixed typo for lighthouse clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug

#1263 Added food to itemstats plugin
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement

#1293 Fix mess hall emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug

#1294 Add a null check to Runecrafting Plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftPlugin.java
Labels: bug

#1312 Fix errors with emote clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug

#1254 Add healing values for 29 missing foods
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement

#1308 Fix "JIG" emote clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug

#1305 Swap pickpocket only on H.A.M. members
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#1256 Add HiScore lookup to right click menus
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscoreConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
Labels: feature-request

#1321 Fix ArrayIndexOutOfBounds errors in screenshot plugin
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: bug

#1316 skill sessions: Add a toggle for displaying session stats
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingOverlay.java
Labels: feature-request

#1325 Fix Actor.getWorldLocation to use pathX/pathY instead of getX/getY
  runelite-api/src/main/java/net/runelite/api/Actor.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSActorMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSActor.java
Labels: bug

#1326 Update game tick event to run after packets have been processed
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
Labels: bug

#1331 Lumbridge npcs have some bad compositions and return null
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsOverlay.java
Labels: bug

#1323 Xp average
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/SkillXPInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
Labels: enhancement

#1322 Rename "Attack Indicators" plugin to "Attack Styles"
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStyle.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStylesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStylesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/WeaponType.java
  runelite-client/src/test/java/net/runelite/client/plugins/attackstyles/AttackStylesPluginTest.java
Labels: feature-request

#1303 banktags: Adjust dialog text to match Withdraw-X dialog
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
Labels: enhancement

#1351 Reset XP on log-in of another character / mode
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
Labels: bug

#1361 Update the runescape font to match current OSRS font
  runelite-client/src/main/resources/net/runelite/client/ui/runescape.ttf
Labels: enhancement

#1356 Fix worldpoints for emote clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug

#1358 Update worldpoint for map clue 2713
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: bug

#1406 Remove pyramid plunder plugin
  runelite-client/src/main/java/net/runelite/client/plugins/pyramidplunder/PyramidPlunderOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/pyramidplunder/PyramidPlunderPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/pyramidplunder/PyramidTimer.java
Labels: enhancement

#1415 Fix bank widget IDs due to container changes
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
Labels: bug

#1410 Fix chatbox widget IDs due to new parent container
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
Labels: bug

#1417 Rename setClickMask()I > getClickMask()I
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-client/src/main/java/net/runelite/client/plugins/reorderprayers/ReorderPrayersPlugin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWidget.java
Labels: bug

#1416 Fix scripts broken in 4/12/18 update
  runelite-api/src/main/java/net/runelite/api/events/MenuOptionClicked.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-mixins/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-scripts/scripts/ChatboxInputInit.rs2asm
  runelite-scripts/scripts/OpenBankSearchInput.hash
  runelite-scripts/scripts/OpenBankSearchInput.rs2asm
  runelite-scripts/scripts/OptionsPanelRebuilder.hash
  runelite-scripts/scripts/OptionsPanelRebuilder.rs2asm
  runelite-scripts/scripts/SetBankItemMenu.hash
  runelite-scripts/scripts/SetBankItemMenu.rs2asm
  runescape-client/src/main/java/PacketBuffer.java
Labels: bug

#1440 Fix bank placeholder release option
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
Labels: bug

#1445 Fix worldToMiniMap for locations outside of range - fixes #1385
  runelite-api/src/main/java/net/runelite/api/Perspective.java
Labels: bug

#1431 Fix barb agility and digsite emote clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug

#1428 Fix worldpoint for mausoleum clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug

#1341 Fix XP Drop plugin recolouring ALL drops whenever a combat prayer is enabled
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
Labels: bug

#1371 Impling Configuration Improvements
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingsPlugin.java
Labels: bug, enhancement

#1339 Add link to web XP tracker to XP panel
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-client/src/main/java/net/runelite/client/util/LinkBrowser.java
Labels: feature-request

#1252 ge plugin: Display spent price instead of original offer price
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
Labels: feature-request

#1311 Adds individual clue counts to highscore plugin
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
Labels: enhancement

#1286 Motherlode Mine - Sack overlay and region check
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeRocksOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeSackOverlay.java
Labels: feature-request

#1313 Add clue hint arrows for clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollWorldOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FairyRingClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: clues, feature-request

#1483 Make condition for H.A.M. pickpockets lowercase
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug

#1487 Do not reuse HttpUrl.builder for building xp urls
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
Labels: bug

#1498 Refactored some variables in NPCComposition
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/DState.java
  runescape-client/src/main/java/GameCanvas.java
  runescape-client/src/main/java/NPC.java
  runescape-client/src/main/java/NPCComposition.java
  runescape-client/src/main/java/Player.java
  runescape-client/src/main/java/UrlRequester.java
  runescape-client/src/main/java/class28.java
Labels: enhancement

#1508 Set herbiboar and mlm overlays to draw ABOVE_SCENE
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOverlay.java
Labels: bug

#1517 Fix minor spelling error in Kourend Library plugin
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Book.java
Labels: bug

#1485 Fix & add various emote clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#1329 tooltips: hug edge of screen instead of jumping
  runelite-client/src/main/java/net/runelite/client/ui/overlay/tooltip/TooltipOverlay.java
Labels: enhancement

#1319 geplugin: add alt-click to bank items
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
Labels: bug

#1357 Apply small font option only to dynamic overlays
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: feature-request

#1491 More accurately draw tile indicators
  runelite-api/src/main/java/net/runelite/api/Perspective.java
Labels: bug

#1365 Add slayer target highlighting
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/TargetClickboxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/TargetMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: feature-request

#1370 Change magic imbue timer to 12 seconds
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
Labels: bug

#1383 Fixed some issues from #1309
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#1335 Remove "teleport" and "cast bloom" swapping
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#1547 Fix cat chasing menu entry swap
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug

#1545 Reduce player indicators overlay priority to MED
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsOverlay.java
Labels: bug

#1528 Add 1461 labelled sprites to SpriteId
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
Labels: enhancement

#1530 hiscore: lookup local player on double-click
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
Labels: feature-request

#1511 Add "Teleport to Abyss" to Menu Entry Swapper
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#1525 Display levels above 99 in the hiscore panel
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscoreConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/test/java/net/runelite/client/plugins/hiscore/HiscorePanelTest.java
Labels: feature-request

#1500 Added more POH overlays
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohIcons.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohOverlay.java
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/jewellery.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/pool.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/spellbook.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/transportation.png
Labels: feature-request

#1566 Use built in player index field
  runelite-api/src/main/java/net/runelite/api/Player.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSPlayerMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSPlayer.java
  runescape-client/src/main/java/Player.java
  runescape-client/src/main/java/ScriptEvent.java
  runescape-client/src/main/java/WorldMapManager.java
  runescape-client/src/main/java/class3.java
Labels: enhancement

#1461 Fix bank value overflow
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankCalculation.java
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankValuePlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/bankvalue/BankCalculationTest.java
Labels: bug

#1595 Fix fight arena pub emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#1601 hiscore panel: fix not displaying total level correctly
  http-api/src/main/java/net/runelite/http/api/hiscore/HiscoreSkill.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
Labels: bug

#1567 Fishing Plugin: Add Corsair Cove net fishing spot
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: feature-request

#1571 Menu Entry Swapper: Add 'Reset' on dismanteled traps and 'Lay' on expired traps as first value.
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#1604 Fix several Emote Clue Issues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#1512 fix prayer enhance timer
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
Labels: bug

#1558 Change menuOpened from FieldHook to Hook
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-client/src/main/java/Client.java
Labels: bug

#1576 Add map clue by vents in lvl 50 wildy and reorder map clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues

#1565 Prevent artifacts in stretched fixed mode
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
Labels: bug

#1561 Motherlode Mine - Gem overlay
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeGemOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeSession.java
Labels: feature-request

#1619 Refactoring
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/CombatInfo2.java
  runescape-client/src/main/java/FriendManager.java
  runescape-client/src/main/java/Name.java
  runescape-client/src/main/java/Nameable.java
  runescape-client/src/main/java/NameableContainer.java
  runescape-client/src/main/java/class150.java
  runescape-client/src/main/java/class157.java
  runescape-client/src/main/java/class298.java
  runescape-client/src/main/java/class304.java
  runescape-client/src/main/java/class322.java
  runescape-client/src/main/java/class36.java
Labels: enhancement

#1493 Hide clue scroll interface when no clue is present
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
Labels: bug, clues

#1666 Add object and location to a CrypticClue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#1631 Centralize setting of hint arrows for clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FairyRingClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/LocationClueScroll.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: bug, clues

#1679 Fix UnsupportedOperationException error in Slayer plugin
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: bug

#1665 Fix layer of MotherlodeOverlay
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOverlay.java
Labels: bug

#1671 Fix cannon cannonball count
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonPlugin.java
Labels: bug

#1636 Add "Actions left" for Xp globes
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobe.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerService.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerServiceImpl.java
Labels: feature-request

#1674 Screenshot Kingdom Rewards
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: feature-request

#1700 Add back support for regular overload (NMZ)
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: bug

#1725 More Slayer Task Icons
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#1726 Clue plugin: fix multiple easy and 1 medium clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#1267 Kingdom of Misc - Only show when on Miscellania and check if quest completed
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomPlugin.java
Labels: enhancement

#1364 Add tooltips when pressing ALT for searching the GE
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeInputListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
Labels: feature-request

#1611 clientui: don't update size if already maximized
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: feature-request

#1661 Only render mining spots on same floor in MLM. Fixes #1642
  runelite-api/src/main/java/net/runelite/api/Perspective.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeRocksOverlay.java
Labels: bug

#1746 cluescrolls: group emote item variants + display when to unequip items
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/AllRequirementsCollection.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/AnyRequirementCollection.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/Emote.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/ItemRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/RangeItemRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/SingleItemRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/SlotLimitationRequirement.java
Labels: clues, feature-request

#1705 Stronger visual indicators for MLM sack
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeSackOverlay.java
Labels: feature-request

#1714 Add Fairy Ring Helper Plugin
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/fairyring/FairyRingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fairyring/FairyRings.java
Labels: feature-request

#1477 Allow customization of barrows brother location colors
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsOverlay.java
Labels: feature-request

#1786 Fix runelite-client shading
  runelite-client/pom.xml
Labels: bug

#1809 Fix 2 emote clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#1779 Some emote clue fixes
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#1812 Ground markers
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/Constants.java
  runelite-api/src/main/java/net/runelite/api/coords/LocalPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/LocationOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerInputListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPoint.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#1707 Do not use object world locations for clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/ObjectClueScroll.java
Labels: bug, clues

#1799 IdleNotifierPlugin: Add big net fishing
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: enhancement

#1778 stretched mode: pass extended modifiers on click
  runelite-client/src/main/java/net/runelite/client/plugins/stretchedfixedmode/TranslateMouseListener.java
Labels: bug

#1819 Add support for commands
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/VarClient.java
  runelite-api/src/main/java/net/runelite/api/VarClientInt.java
  runelite-api/src/main/java/net/runelite/api/VarClientStr.java
  runelite-api/src/main/java/net/runelite/api/events/CommandExecuted.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/chat/CommandManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/mousehighlight/MouseHighlightOverlay.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSVarcsMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/VarbitMixin.java
  runelite-scripts/scripts/CommandScript.hash
  runelite-scripts/scripts/CommandScript.rs2asm
  runescape-api/src/main/java/net/runelite/rs/api/RSVarcs.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/class319.java
Labels: feature-request

#1033 Slayer plugin: Added support for slayer bracelets.
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: enhancement

#1831 Fix notepad wrap
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPanel.java
Labels: bug

#1802 add duration of xp orbs
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesPlugin.java
Labels: feature-request

#1792 Add an idle notification when crushing infernal eels.
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: enhancement

#1791 Add support for colored HP xp drops if XP drops are splitted and a combat prayer is active
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
Labels: feature-request

#1789 Fix and add a few medium clue steps
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues

#1777 overlay util: remove white outline on minimap dots
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayUtil.java
Labels: feature-request

#1772 Sort Fishing spots by distance from camera
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
Labels: bug

#1773 Fix herbiboar performance/blinking
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarMinimapOverlay.java
Labels: bug

#1248 infobox overlay: Configure the amount of info boxes per row
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/InfoBoxComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxOverlay.java
Labels: feature-request

#1857 Fishing QoL - Add Sacred Eels/Barehand Fishing
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#1872 Juzzed clue fix
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: feature-request

#1886 Cleanup sidebar expanding/closing
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: bug, enhancement

#1881 IdleNotifier: Add infernal harpoon
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#1306 Add entity hider plugin
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/entityhider/EntityHiderConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/entityhider/EntityHiderPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/EntityHiderBridgeMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/EntityHiderMixin.java
Labels: feature-request

#1837 Add Mark of Grace highlighting to Agility plugin
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/AgilityConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/AgilityOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/AgilityPlugin.java
Labels: feature-request

#1807 Highlight agility shortcuts
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/Obstacles.java
Labels: feature-request

#1943 Fix issue where hiding local player would not hide you when in clan
  runelite-mixins/src/main/java/net/runelite/mixins/EntityHiderMixin.java
Labels: bug

#1949 TitheFarmPlugin: Fix null pointer when crops near camera
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPlantOverlay.java
Labels: bug

#1206 boosts plugin: Add stat change indicator
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/StatChangeIndicator.java
Labels: feature-request

#2005 Add missing Pyramid emote clue item
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#2012 Add toggle for drawing overhead player names to PlayerIndicators plugin
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsOverlay.java
Labels: feature-request

#1904 Farming Tracker Plugin
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/coords/WorldPoint.java
  runelite-api/src/main/java/net/runelite/api/events/UsernameChanged.java
  runelite-api/src/main/java/net/runelite/api/vars/Autoweed.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/LocationOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/CropState.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingPatch.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingPatchPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingRegion.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/FarmingWorld.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/PatchImplementation.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/PatchState.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/Produce.java
  runelite-client/src/main/java/net/runelite/client/plugins/farmingtracker/Tab.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/PluginPanel.java
  runelite-client/src/main/resources/net/runelite/client/plugins/farmingtracker/farming.png
  runelite-client/src/test/java/net/runelite/client/plugins/farmingtracker/FarmingWorldTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/farmingtracker/PatchImplementationTest.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: feature-request

#2007 Hp and prayer notification fix
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request
