Repository runelite/runelite, pull requests merged in 2018-03, with the labels that each got.

#754 deobfuscator: fix aic failing to determine if a field is imported
  deobfuscator/src/main/java/net/runelite/deob/deobfuscators/mapping/AnnotationIntegrityChecker.java
Labels: bug

#748 Add support for oily rod fishing to idle notifier
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#743 Add fuzzy searching to config panel
  runelite-client/pom.xml
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/FuzzySearch.java
Labels: feature-request

#735 Move the notification options to Notifier
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/RuneLiteModule.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/PluginManagerTest.java
Labels: enhancement

#745 Convert cannonball overlay to infobox
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonPlugin.java
Labels: feature-request

#744 Notifier improvements and fixes for Linux
  runelite-client/src/main/java/net/runelite/client/Notifier.java
Labels: feature-request

#713 Add more features to raids plugin
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/Raid.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsTimer.java
Labels: feature-request

#758 Fix camera pitch
  runelite-mixins/src/main/java/net/runelite/mixins/CameraMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSRegionMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-client/src/main/java/AudioInstrument.java
  runescape-client/src/main/java/Region.java
  runescape-client/src/main/java/WorldComparator.java
Labels: bug

#772 Raids plugin: Make rotation whitelist not case-sensitive
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: feature-request

#766 Fix visual bug occuring when sidepanel is contracted after resizing
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#700 fix prayer enhance timer. its actually 10 seconds shorter than 5 minutes
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
Labels: bug

#771 item stat: add raid food
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement

#775 Fix "You are fishing" in fishing plugin
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
Labels: bug

#774 Allow other types of alerts when messages are off
  runelite-client/src/main/java/net/runelite/client/Notifier.java
Labels: bug

#779 Add client sessions
  http-api/src/main/java/net/runelite/http/api/session/SessionClient.java
  http-service/src/main/java/net/runelite/http/service/session/SessionController.java
  http-service/src/main/java/net/runelite/http/service/session/SessionEntry.java
  http-service/src/main/java/net/runelite/http/service/session/SessionService.java
  http-service/src/main/resources/net/runelite/http/service/session/session.sql
  runelite-client/src/main/java/net/runelite/client/ClientSessionManager.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
Labels: feature-request

#765 Fix "request focus on notification" on OSX
  runelite-client/pom.xml
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/util/OSXUtil.java
Labels: enhancement

#579 Add Raids reward to screenshot plugin
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: enhancement

#776 Remove the timeout for HP/pray thresholds
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: enhancement

#790 Correctly focus game canvas when requesting focus
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: enhancement

#777 Feed plugin
  http-api/src/main/java/net/runelite/http/api/feed/FeedClient.java
  http-api/src/main/java/net/runelite/http/api/feed/FeedItem.java
  http-api/src/main/java/net/runelite/http/api/feed/FeedItemType.java
  http-api/src/main/java/net/runelite/http/api/feed/FeedResult.java
  http-service/src/main/java/net/runelite/http/service/feed/FeedController.java
  http-service/src/main/java/net/runelite/http/service/feed/blog/BlogService.java
  http-service/src/main/java/net/runelite/http/service/feed/osrsnews/OSRSNewsService.java
  http-service/src/main/java/net/runelite/http/service/feed/twitter/TwitterOAuth2TokenResponse.java
  http-service/src/main/java/net/runelite/http/service/feed/twitter/TwitterService.java
  http-service/src/main/java/net/runelite/http/service/feed/twitter/TwitterStatusesResponseItem.java
  http-service/src/main/java/net/runelite/http/service/feed/twitter/TwitterStatusesResponseItemUser.java
  http-service/src/test/resources/application.properties
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/feed/icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/feed/osrs.png
  runelite-client/src/main/resources/net/runelite/client/plugins/feed/runelite.png
Labels: feature-request

#646 Move the Login and Logout buttons to the TitleToolbar
  runelite-client/src/main/java/net/runelite/client/plugins/account/AccountPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/TitleToolbar.java
Labels: feature-request

#800 Allocation optimization
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceCofferOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSHashTableMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSWidgetMixin.java
Labels: enhancement

#802 Make idle notifier work for splashing/missing
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: enhancement

#782 Add Notes plugin
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/notes/notes_icon.png
Labels: feature-request

#750 Remove unnecessary chatCommandsEnabled from config
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
Labels: enhancement

#778 Improve scoring of Jaro-Winkler
  runelite-client/src/main/java/net/runelite/client/plugins/config/FuzzySearch.java
Labels: enhancement

#811 Clear saved private chat history upon clear request
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatHistoryPlugin.java
Labels: bug

#805 Instance map: Add support for user input
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapInputListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapPlugin.java
Labels: feature-request

#789 Link navigator
  runelite-client/src/main/java/net/runelite/client/account/SessionManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeItemPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
  runelite-client/src/main/java/net/runelite/client/util/LinkBrowser.java
Labels: enhancement

#818 idle notifier: add barbtail/dragon harpoon animation
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#831 Continue running in case Discord lib load failed
  runelite-client/src/main/java/net/runelite/client/discord/DiscordService.java
Labels: bug

#834 Disable team capes plugin by default
  runelite-client/src/main/java/net/runelite/client/plugins/teamcapes/TeamCapesPlugin.java
Labels: feature-request

#835 Renamed 'Experience drop' -> 'XP Drop'
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
Labels: enhancement

#829 Restore original username on syncer shutdown
  runelite-client/src/main/java/net/runelite/client/plugins/usernamesyncer/UsernameSyncerPlugin.java
Labels: bug

#839 Fix notes plugin loading notes from account
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPlugin.java
Labels: bug

#841 Add waterskin charges to jewellerycount plugin
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryCharges.java
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryType.java
Labels: feature-request

#852 Fix cannon plugin showing incorrect double hit spots after region change
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonOverlay.java
Labels: bug

#856 Fix clanchat messages not showing rank icons during region loading
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
Labels: bug

#761 Add option to disable resizing of window
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: feature-request

#868 Remove duplicate anti-venom+ config check
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: enhancement

#788 Consistent number formatting for stacks
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceCofferOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/util/StackFormatter.java
  runelite-client/src/test/java/net/runelite/client/util/StackFormatterTest.java
Labels: feature-request

#810 Allow customization of the default color for ground items
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: feature-request

#816 Team Capes: Added minimum cape count
  runelite-client/src/main/java/net/runelite/client/plugins/teamcapes/TeamCapesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/teamcapes/TeamCapesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/teamcapes/TeamCapesPlugin.java
Labels: feature-request

#815 specorb: Cache draws to reduce allocations
  runelite-client/src/main/java/net/runelite/client/plugins/specorb/SpecOrbOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/specorb/SpecOrbPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayUtil.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/MinimapOrb.java
  runelite-client/src/main/resources/net/runelite/client/ui/overlay/components/minimap_orb_background.png
Labels: enhancement

#847 Allow disabling of the skill icons on XP drops
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
Labels: feature-request

#867 runelite-client: fix Use tooltip arrow not being displayed
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TooltipComponent.java
Labels: bug

#865 Inverse window resize condition
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: enhancement

#859 Remove left click calling from BA plugin
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/BarbarianAssaultConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/BarbarianAssaultPlugin.java
Labels: feature-request

#819 ge search: remove null check from item icon
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeItemPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
Labels: enhancement

#837 Normalize plugin names
  runelite-client/src/main/java/net/runelite/client/plugins/attackindicator/AttackIndicatorPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/BossTimersPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatHistoryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/combatlevel/CombatLevelPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCavePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscoreConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryCountPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/lowmemory/LowMemoryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/mousehighlight/MouseHighlightPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/pestcontrol/PestControlPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayflick/PrayerFlickPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/PuzzleSolverPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/reportbutton/ReportButtonConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/reportbutton/ReportButtonPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/RunepouchConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/RunepouchPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/teamcapes/TeamCapesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomPlugin.java
Labels: enhancement

#883 Synchronize usages of ImageIO.read(...)
  http-api/src/main/java/net/runelite/http/api/item/ItemClient.java
  runelite-client/src/main/java/net/runelite/client/game/SkillIconManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/account/AccountPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/BarbarianAssaultPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fightcave/FightCaveOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Book.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohIcons.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/PuzzleSolverOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/specorb/SpecOrbOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/TitleToolbar.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/MinimapOrb.java
Labels: bug

#896 Remove special attack orb plugin
  runelite-client/src/main/java/net/runelite/client/plugins/specorb/SpecOrbOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/specorb/SpecOrbPlugin.java
Labels: bug

#898 Fix instance map "show" option not displaying in right-click menu
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
Labels: bug

#895 Remove unneeded drawRegionTile calls
  runelite-client/src/main/java/net/runelite/client/plugins/tileindicators/TileIndicatorsOverlay.java
Labels: enhancement

#853 Raids plugin: Reposition the points box to prevent it from overlapping overlays
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: bug

#903 Add right click menu to screenshot button
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: feature-request

#873 dev tools: add location to dev tools plugin
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/LocationOverlay.java
Labels: enhancement

#833 Add idle anim and combat idle toggles to notifier
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#624 Add Imp-in-a-Box to the jewellery count plugin
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryCharges.java
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryType.java
Labels: feature-request

#876 Minimap names
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayUtil.java
Labels: feature-request

#638 Move widget inspector into it's own window
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/NumberField.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetEditPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetField.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInfoTableModel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInspector.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSWidgetMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWidget.java
Labels: feature-request

#618 Remove viewport contains from cannon/hunter plugin
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/TrapOverlay.java
Labels: enhancement

#891 Resolve Issue #860 - Warned attack modes not properly hiding
  runelite-client/src/main/java/net/runelite/client/plugins/attackindicator/AttackIndicatorPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/attackindicator/AttackIndicatorPluginTest.java
Labels: bug

#507 Update Xp tracker UI to make it smaller
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/SkillXPInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
Labels: feature-request

#914 Type safe coordinates
  runelite-api/pom.xml
  runelite-api/src/main/java/net/runelite/api/Actor.java
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/Perspective.java
  runelite-api/src/main/java/net/runelite/api/Point3D.java
  runelite-api/src/main/java/net/runelite/api/Tile.java
  runelite-api/src/main/java/net/runelite/api/TileObject.java
  runelite-api/src/main/java/net/runelite/api/coords/LocalPoint.java
  runelite-api/src/main/java/net/runelite/api/coords/WorldPoint.java
  runelite-api/src/main/java/net/runelite/api/events/ProjectileMoved.java
  runelite-api/src/main/java/net/runelite/api/queries/ActorQuery.java
  runelite-api/src/main/java/net/runelite/api/queries/TileObjectQuery.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/AgilityOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsBrothers.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/ConveyorBeltOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/LocationOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/TrapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Bookcase.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Library.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeRocksOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/roguesden/RoguesDenOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/AbyssOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/tileindicators/TileIndicatorsOverlay.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSActorMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSDecorativeObjectMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSGroundObjectMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSItemLayerMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSRegionMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSTileMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSWallObjectMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/TileObjectMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSDecorativeObject.java
  runescape-api/src/main/java/net/runelite/rs/api/RSGroundObject.java
  runescape-api/src/main/java/net/runelite/rs/api/RSItemLayer.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWallObject.java
Labels: enhancement

#923 Add regen meter plugin
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/regenmeter/RegenMeterConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/regenmeter/RegenMeterOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/regenmeter/RegenMeterPlugin.java
Labels: feature-request

#922 hunter plugin: Don't iterate over all tiles
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterTrap.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/TrapOverlay.java
Labels: enhancement

#917 Continue to update opponent info while on screen
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/NPC.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSNPCMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSNPC.java
Labels: enhancement

#915 Allow specifying default world in [0-9]{2} format
  runelite-client/src/main/java/net/runelite/client/plugins/defaultworld/DefaultWorldPlugin.java
Labels: feature-request

#911 Added RuneLite account logout confirmation dialog
  runelite-client/src/main/java/net/runelite/client/plugins/account/AccountPlugin.java
Labels: feature-request

#627 Add Menu Entry Swapper plugin
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runescape-client/src/main/java/class169.java
Labels: feature-request

#926 Loot helper
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: feature-request

#927 Option to hide minimap
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/minimap/MinimapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/minimap/MinimapPlugin.java
Labels: feature-request

#931 Add a util method for removing tags
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/Text.java
  runelite-client/src/test/java/net/runelite/client/util/TextTest.java
Labels: enhancement

#933 Round actions remaining up
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/SkillXPInfo.java
Labels: enhancement

#945 Title-case and remove "plugin" from ME swapper
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#952 runelite-api: add scale to createItemSprite
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/Constants.java
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: bug

#961 Fix NPEs on startup from PlayerIndicators
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsService.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSPlayerMixin.java
Labels: bug

#960 Fix spec orb regen timing
  runelite-client/src/main/java/net/runelite/client/plugins/regenmeter/RegenMeterPlugin.java
Labels: bug

#964 Use a fieldhook for MenuEntryAdded events
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-mixins/src/main/java/net/runelite/mixins/MenuEntryEventMixin.java
  runescape-client/src/main/java/class169.java
Labels: bug

#965 Fix menu entry swap for shark harpoon fishing
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug

#688 Herbiboar plugin
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarTrail.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/Herbiboars.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarsOverlay.java
Labels: feature-request

#884 Add slayer superior foe notification
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: feature-request

#978 Fix herbiboar plugin NPE on startup
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/Herbiboars.java
Labels: bug

#838 Add timer to hide Slayer infobox
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: feature-request

#963 Add God Wars Altar Timer
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/timers/altar.png
Labels: feature-request

#975 Fix agility plugin and herbiboar plugin codestyle
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarPlugin.java
Labels: enhancement

#981 Fix Kourend Library plugin
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
Labels: bug

#982 Fix ClientUI settings loading
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#886 Set correct offsets to overlays, smaller panels
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapInputListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/BackgroundComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ImagePanelComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/PanelComponent.java
Labels: enhancement

#893 Remove reset menu entries
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: enhancement

#983 Click the navigation button on selecting in
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: bug

#967 Add some items to Item Stats plugin
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement

#985 Herbiboar fixes
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarPlugin.java
Labels: bug

#935 Reorder Prayers Plugin
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/events/DraggingWidgetChanged.java
  runelite-api/src/main/java/net/runelite/api/events/WidgetOpened.java
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetConfig.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/reorderprayers/PrayerTabState.java
  runelite-client/src/main/java/net/runelite/client/plugins/reorderprayers/ReorderPrayersConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/reorderprayers/ReorderPrayersPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWidget.java
Labels: feature-request

#832 Boosts plugin: Add "Next change"
  runelite-api/src/main/java/net/runelite/api/events/BoostedLevelChanged.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: feature-request

#984 Poh plugin: fix mounted glory minimap icon
  runelite-client/src/main/java/net/runelite/client/plugins/poh/BurnerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohPlugin.java
Labels: bug

#1003 Fix tooltip modicon OutOfBounds
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TooltipComponent.java
Labels: bug

#566 Add common cannon spots
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpotOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: feature-request

#631 Add time until next level to XP tracker
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/SkillXPInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
Labels: feature-request

#991 ground items: add support for quickly hiding/highlighting items
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemInputListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: feature-request

#990 Add progress pie overlay component
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/TrapOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ProgressPie.java
Labels: enhancement

#1004 Do not display stack in price tooltips
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
Labels: feature-request

#992 Make XP panel easier to read
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/ui/JShadowedLabel.java
  runelite-client/src/main/java/net/runelite/client/ui/JShadowedLabelUI.java
Labels: enhancement

#1014 jarvis: Allow null points
  runelite-api/src/main/java/net/runelite/api/model/Jarvis.java
Labels: bug

#1002 hiscore panel: add qol features
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/deadman_selected.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/hardcore_ironman_selected.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/ironman_selected.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/normal_selected.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/seasonal_deadman_selected.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/ultimate_ironman_selected.png
Labels: feature-request

#1019 prayer flick overlay: remove background arc
  runelite-client/src/main/java/net/runelite/client/plugins/prayflick/PrayerFlickOverlay.java
Labels: enhancement

#916 Hook to actor health being updated to detect death
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/game/DeathChecker.java
  runescape-client/src/main/java/Actor.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/class167.java
Labels: bug

#1023 Fix prayer order resetting
  runelite-client/src/main/java/net/runelite/client/plugins/reorderprayers/ReorderPrayersPlugin.java
Labels: bug

#1043 Consistent plugin naming
  runelite-client/src/main/java/net/runelite/client/plugins/agilityplugin/AgilityConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcClickboxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcMinimapOverlay.java
Labels: enhancement

#1026 itemstats: Support holy wrench effect
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/PrayerPotion.java
Labels: feature-request

#1035 Add Silver sickle(b) to menu entry swapper plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#1036 Rename widgetSettings and settings
  cache/src/main/java/net/runelite/cache/script/Instructions.java
  cache/src/main/java/net/runelite/cache/script/Opcodes.java
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/SettingsTracker.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/VarbitMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/NPCComposition.java
  runescape-client/src/main/java/ObjectComposition.java
  runescape-client/src/main/java/Timer.java
  runescape-client/src/main/java/World.java
  runescape-client/src/main/java/class110.java
  runescape-client/src/main/java/class237.java
  runescape-client/src/main/java/class25.java
  runescape-client/src/main/java/class281.java
  runescape-client/src/main/java/class3.java
  runescape-client/src/main/java/class5.java
Labels: bug, enhancement

#1044 Expand list of skill abbreviations for the !Lvl command
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/SkillAbbreviations.java
Labels: enhancement

#1064 configmanager: Synchronize disk access
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
Labels: bug

#1077 Instance map improvements + moving
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapInputListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapPlugin.java
Labels: enhancement

#1006 Added Kingdom of Miscellania plugin
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/kingdomofmiscellania/teak_chest.png
Labels: feature-request

#959 Move tooltip to the right of the mouse
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TooltipComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/tooltip/Tooltip.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/tooltip/TooltipOverlay.java
Labels: enhancement

#1081 Add null-check for overlays in OverlayRenderer
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug

#1057 Fix Lizardmen cannon spot plane
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: bug

#1048 Add Cave Horror cannon spot
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: enhancement

#472 Add Tithe Farm plugin
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmInventoryOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPlant.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPlantOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPlantState.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPlantType.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPluginConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmSackOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/WateringCan.java
Labels: feature-request

#1089 menumanager: Actually remove menu options
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
Labels: bug

#1087 itemstats: use EnergyStat instead of anonymous stat
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/stats/EnergyStat.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/stats/SkillStat.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/stats/Stats.java
Labels: bug

#1103 injector: Allow use of assert
  deobfuscator/src/main/java/net/runelite/asm/attributes/code/instructions/LDC.java
  deobfuscator/src/main/java/net/runelite/asm/pool/Class.java
  runelite-mixins/src/main/java/net/runelite/mixins/ScriptVMMixin.java
  runescape-client-injector-plugin/src/main/java/net/runelite/injector/Inject.java
  runescape-client-injector-plugin/src/main/java/net/runelite/injector/MixinInjector.java
Labels: feature-request

#1073 Add formatNumber methods to StackFormatter
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeItemPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-client/src/main/java/net/runelite/client/util/StackFormatter.java
Labels: enhancement

#1065 Expand tests for and document the Experience API
  runelite-api/src/main/java/net/runelite/api/Experience.java
  runelite-api/src/test/java/net/runelite/api/ExperienceTest.java
Labels: enhancement

#1076 Item price tooltip: use linebreak instead of comma
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
Labels: feature-request

#1088 Add spicy stews to item stats plugin
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/StatChange.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/special/SpicyStew.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/stats/Stat.java
Labels: enhancement

#1068 Add daily task indicators
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksPlugin.java
Labels: feature-request

#1110 Add null-check for Client to MenuManager
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
Labels: bug

#1108 Show remaining time on successful hunter traps
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/TrapOverlay.java
Labels: enhancement

#1098 instance map plugin: rewrite to use client minimap code
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/Region.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/PixelMaps.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/WallOffset.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/WallShape.java
  runelite-mixins/src/main/java/net/runelite/mixins/MinimapMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSBufferProvider.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSRegion.java
  runescape-api/src/main/java/net/runelite/rs/api/RSSpritePixels.java
  runescape-client/src/main/java/BoundingBox3D.java
  runescape-client/src/main/java/Region.java
  runescape-client/src/main/java/SpritePixels.java
  runescape-client/src/main/java/WorldMapRegion.java
  runescape-client/src/main/java/class1.java
Labels: enhancement

#1099 Expand panels based on click event not isSelected
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/NavigationButton.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: bug

#1093 Add getCanvasOffset to clientUI, fix screenshots
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#1119 Fix daily task indicators
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksPlugin.java
Labels: bug

#1120 Additions to Jewellery count plugin
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryCharges.java
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryCountOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryType.java
Labels: enhancement

#1101 Do not display mouse tooltips over RS tooltips
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/VarClient.java
  runelite-api/src/main/java/net/runelite/api/Varcs.java
  runelite-client/src/main/java/net/runelite/client/plugins/mousehighlight/MouseHighlightOverlay.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSVarcsMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSVarcs.java
  runescape-client/src/main/java/BoundingBox.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/FileRequest.java
  runescape-client/src/main/java/FontName.java
  runescape-client/src/main/java/GZipDecompressor.java
  runescape-client/src/main/java/GameObject.java
  runescape-client/src/main/java/VarCInt.java
  runescape-client/src/main/java/VarCString.java
  runescape-client/src/main/java/Varcs.java
  runescape-client/src/main/java/Widget.java
  runescape-client/src/main/java/class132.java
  runescape-client/src/main/java/class153.java
  runescape-client/src/main/java/class190.java
  runescape-client/src/main/java/class25.java
  runescape-client/src/main/java/class3.java
  runescape-client/src/main/java/class47.java
  runescape-client/src/main/java/class88.java
  runescape-client/src/main/java/class95.java
Labels: enhancement

#1118 jewelrycharges: Add Teleport crystal(5)
  runelite-client/src/main/java/net/runelite/client/plugins/jewellerycount/JewelleryCharges.java
Labels: enhancement

#1084 Add notifications for NMZ power-up spawns
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
Labels: feature-request

#1137 Fix clue scroll plugin game object overlay bug, fix some solutions
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug

#1133 Refactor Widget defs
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-client/src/main/java/net/runelite/client/plugins/reorderprayers/ReorderPrayersPlugin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSWidget.java
  runescape-client/src/main/java/AbstractSoundSystem.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/FileRequest.java
  runescape-client/src/main/java/Fonts.java
  runescape-client/src/main/java/GZipDecompressor.java
  runescape-client/src/main/java/GameObject.java
  runescape-client/src/main/java/GrandExchangeEvent.java
  runescape-client/src/main/java/RunException.java
  runescape-client/src/main/java/SoundTaskDataProvider.java
  runescape-client/src/main/java/Widget.java
  runescape-client/src/main/java/WidgetNode.java
  runescape-client/src/main/java/WorldMapData.java
  runescape-client/src/main/java/WorldMapRegion.java
  runescape-client/src/main/java/class167.java
  runescape-client/src/main/java/class190.java
  runescape-client/src/main/java/class197.java
  runescape-client/src/main/java/class21.java
  runescape-client/src/main/java/class3.java
  runescape-client/src/main/java/class44.java
  runescape-client/src/main/java/class95.java
Labels: enhancement

#1078 Replace default raids points widget with our own overlay
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPointsOverlay.java
Labels: enhancement

#1159 Add antipoison and superantipoison timers
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/timers/antipoison.png
  runelite-client/src/main/resources/net/runelite/client/plugins/timers/superantipoison.png
Labels: enhancement

#1135 Fix tray icon crash when clicked quickly on start
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#1171 Name some input related fields
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/ScriptEvent.java
  runescape-client/src/main/java/Size.java
  runescape-client/src/main/java/class190.java
  runescape-client/src/main/java/class195.java
  runescape-client/src/main/java/class25.java
  runescape-client/src/main/java/class290.java
  runescape-client/src/main/java/class85.java
Labels: enhancement

#1175 Log game crashes to the logger, not Stdout
  runelite-mixins/src/main/java/net/runelite/mixins/ProcessClientErrorMixin.java
Labels: enhancement

#1066 Fix capitalization of 'Black demon' in npc_health.json
  runelite-client/src/main/resources/npc_health.json
Labels: bug

#1179 Disabled kingdom plugin by default, and it's options
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomPlugin.java
Labels: feature-request

#1178 Fix widget loaded event for prayer reordering
  runelite-api/src/main/java/net/runelite/api/events/WidgetLoaded.java
  runelite-client/src/main/java/net/runelite/client/plugins/reorderprayers/ReorderPrayersPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runescape-client/src/main/java/Client.java
  runescape-client/src/main/java/FriendManager.java
Labels: bug
