Repository runelite/runelite, pull requests merged in 2019-06, with the labels that each got.

#8973 client: add mining plugin
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/RockRespawn.java
Labels: feature-request

#8963 Cluescrolls: Swap STASH Units for Exam Centre Emote Clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#8955 Fix BA plugin after latest game update.
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/BarbarianAssaultPlugin.java
Labels: bug, regression

#8983 Remove redundant subString endindex .length() calls
  cache/src/main/java/net/runelite/cache/fs/flat/FlatStorage.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/Runes.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TooltipComponent.java
Labels: enhancement

#8978 Add support for pasting authenticator code on login screen
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/GameState.java
  runelite-client/src/main/java/net/runelite/client/plugins/loginscreen/LoginScreenPlugin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#8984 Replace redundant StringBuilder append String.subString with append CharSequence
  cache-updater/src/main/java/net/runelite/cache/updater/CacheUploader.java
  http-service/src/main/java/net/runelite/http/service/cache/CacheService.java
Labels: enhancement

#9005 HotColdLocation: Replace nbsp with normal spaces
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: enhancement

#9044 Add Weiss coordinate clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: clues, enhancement

#9041 update anagram clue location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: bug, clues

#9027 Add additional info to waterbirth coordinate clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: feature-request

#9046 Add sandstone and granite to mining plugin
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
Labels: bug

#9059 Fix typo in 'dumpJson' function name
  cache/src/test/java/net/runelite/cache/MapDumperTest.java
Labels: enhancement

#9056 Fix typo in 'sessionCheck' function name
  http-api/src/main/java/net/runelite/http/api/account/AccountClient.java
  runelite-client/src/main/java/net/runelite/client/account/SessionManager.java
Labels: enhancement

#9057 Fix typo in 'getProperties' function name
  cache/src/test/java/net/runelite/cache/CacheProperties.java
Labels: enhancement

#9061 Added priority '1' to TRAINING_FISHING DiscordGameEvent - solves issu…
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: bug, discord

#9077 cluescrolls: Fix Hosidius mess hall clue locations
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/STASHUnit.java
Labels: bug, clues

#9010 mining plugin: draw overlay at correct height for mlm and amethyst
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/RockRespawn.java
Labels: enhancement

#8999 Add ItemIdentification to Seed Box, Looting Bag, and Miscellania collection screen
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationOverlay.java
Labels: enhancement

#9075 Fix 'jewellery' typo in PohConfig show jewellery box description
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohConfig.java
Labels: enhancement

#8998 Remove some redundant if statements in the client module
  runelite-client/src/main/java/net/runelite/client/plugins/examine/CacheKey.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/keyremapping/KeyRemappingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/solver/PuzzleState.java
Labels: enhancement

#9076 mining plugin: correct coal timer, missing copper rock and align other timers to game ticks
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
Labels: bug

#6165 Added missing falador rooftop course agility obstacle
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: enhancement

#9090 mining: add missing Silver ID
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
Labels: bug

#9071 MenuEntrySwapper: include "shop" for trade option
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#9045 Improve medium clue hint
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: clues, enhancement

#9004 HotColdLocation: Center northeastern Kharazi jungle location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#9074 Allow Config of the Drag Delay for the Inventory Grid plugin
  runelite-client/src/main/java/net/runelite/client/plugins/inventorygrid/InventoryGridConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventorygrid/InventoryGridOverlay.java
Labels: feature-request

#9086 WorldMapPlugin: Show quest state
  runelite-api/src/main/java/net/runelite/api/Quest.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/QuestStartLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/QuestStartPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/quest_completed_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/quest_not_started_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/quest_started_icon.png
Labels: enhancement

#9112 clues: correct falo the bard typos
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FaloTheBardClue.java
Labels: bug, clues

#9105 Fix typo in master clue step Kill the spiritual, magic and godly whilst representing their own god.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#6977 items stats: add option to show weight
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
Labels: feature-request

#9113 interface styles: fix HD Healthbar
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/HealthBar.java
  runelite-api/src/main/java/net/runelite/api/HealthBarOverride.java
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/HealthbarOverride.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/back_30px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/back_90px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/front_30px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/front_90px.png
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSHealthBarMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
  runescape-api/src/main/java/net/runelite/rs/api/RSHealthBar.java
Labels: bug, regression

#9014 Fix Item prices high alch profit
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
Labels: enhancement

#9130 Fixed ash pile respawn timer not appearing (mining plugin)
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
Labels: bug

#9124 timers: fix teleblock message
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: bug

#6375 Additional flash notification options
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/config/FlashNotification.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
Labels: feature-request

#9146 Fix 'ABERRANT_SPECTRE' typo in SlayerUnlock and CannonSpot enums
  runelite-api/src/main/java/net/runelite/api/vars/SlayerUnlock.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: enhancement

#9145 Fix 'GROTESQUE_GUARDIAN' typo in SlayerUnlock enum
  runelite-api/src/main/java/net/runelite/api/vars/SlayerUnlock.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: enhancement

#9172 Added snakeskin gear to skill calculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_crafting.json
Labels: bug, skill-calc

#9166 worldmap: fix incorrect quest tooltips
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/QuestStartLocation.java
Labels: bug

#9182 EmoteClue: Add null checks for stashUnit
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug

#9152 fishing: add missing spots near farming guild
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: enhancement

#6086 Add sound effect events and add sound effects to devtools
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/events/AreaSoundEffectPlayed.java
  runelite-api/src/main/java/net/runelite/api/events/SoundEffectPlayed.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/SoundEffectOverlay.java
  runelite-mixins/src/main/java/net/runelite/mixins/SoundEffectMixin.java
Labels: feature-request

#9185 FaloTheBardClue:Fix Typos
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FaloTheBardClue.java
Labels: bug, clues

#9202 Burnt stews now count towards burn counter in Cooking plugin
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingPlugin.java
Labels: bug

#9203 Move Kourend agility shortcut level requirement icon
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: bug

#9093 npchighlight: fix names showing as null
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcSceneOverlay.java
Labels: bug

#9205 Fix WC icons around Hosidius area
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/RareTreeLocation.java
Labels: bug

#9197 Add Barbarian Assault quick-start option to menu entry swapper
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#9110 Adjust alignment of icons in 2005 interface style and fix inventory icon
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/WidgetOffset.java
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/900.png
Labels: enhancement

#9209 Added Larran's chest to loot tracker
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: enhancement, loot-tracker

#9024 interface styles: add RuneScape cross sprites option
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/rs3/cross_sprites/0.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/rs3/cross_sprites/1.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/rs3/cross_sprites/2.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/rs3/cross_sprites/3.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/rs3/cross_sprites/4.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/rs3/cross_sprites/5.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/rs3/cross_sprites/6.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/rs3/cross_sprites/7.png
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#9224 Add tooltips to devtool buttons
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsButton.java
Labels: enhancement

#9226 Replace use of deprecated Guava Files write method
  cache/src/test/java/net/runelite/cache/AreaDumper.java
  cache/src/test/java/net/runelite/cache/EnumDumperTest.java
  cache/src/test/java/net/runelite/cache/FrameDumper.java
  cache/src/test/java/net/runelite/cache/FramemapDumper.java
  cache/src/test/java/net/runelite/cache/InventoryDumper.java
  cache/src/test/java/net/runelite/cache/KitDumperTest.java
  cache/src/test/java/net/runelite/cache/OverlayDumper.java
  cache/src/test/java/net/runelite/cache/SequenceDumper.java
  cache/src/test/java/net/runelite/cache/SoundEffectsDumperTest.java
  cache/src/test/java/net/runelite/cache/StructManagerTest.java
  cache/src/test/java/net/runelite/cache/TextureDumper.java
  cache/src/test/java/net/runelite/cache/UnderlayDumper.java
  cache/src/test/java/net/runelite/cache/VarbitDumper.java
  cache/src/test/java/net/runelite/cache/WorldMapDumperTest.java
Labels: enhancement

#4621 Change default examine chat color to green
  runelite-client/src/main/java/net/runelite/client/config/ChatColorConfig.java
Labels: enhancement

#7706 Add BA high gamble count chat command
  http-api/src/main/java/net/runelite/http/api/chat/ChatClient.java
  http-service/src/main/java/net/runelite/http/service/chat/ChatController.java
  http-service/src/main/java/net/runelite/http/service/chat/ChatService.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: feature-request

#8916 duel arena chat command
  http-api/src/main/java/net/runelite/http/api/chat/ChatClient.java
  http-api/src/main/java/net/runelite/http/api/chat/Duels.java
  http-service/src/main/java/net/runelite/http/service/chat/ChatController.java
  http-service/src/main/java/net/runelite/http/service/chat/ChatService.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: feature-request

#9252 Clean up some instances of double white space
  cache/src/main/java/net/runelite/cache/item/SpritePixels.java
  cache/src/test/java/net/runelite/cache/AreaDumper.java
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/WidgetOverride.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/AbsorptionCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/solver/pathfinding/IDAStarMM.java
  runelite-client/src/main/java/net/runelite/client/plugins/statusbars/Viewport.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/PanelComponent.java
  runelite-mixins/src/main/java/net/runelite/mixins/WorldHoppingMixin.java
Labels: enhancement

#9235 Fix Father Jean's coordinates in easy cryptic clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues
