Repository runelite/runelite, pull requests merged in 2019-05, with the labels that each got.

#8694 slayer: add 'south of' to task regex
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#8720 item identification: fix Grimy Toadflax coming up as Irit
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
Labels: bug

#8708 Aggro area: only add a timer if the time left isn't negative
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaPlugin.java
Labels: bug

#8696 daily tasks plugin: tidy up if statements and make less config options on by default
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksPlugin.java
Labels: enhancement

#8741 daily tasks plugin: fix broken if statement
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksPlugin.java
Labels: bug, regression

#8664 chat message manager: don't send messages if player is on tutorial island
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
Labels: bug

#8692 Remove references to zeah houses
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
  runelite-client/src/main/java/net/runelite/client/plugins/fairyring/FairyRings.java
Labels: clues, enhancement

#8732 Upgrade git commit id plugin from 2.2.5 to 2.2.6
  http-api/pom.xml
Labels: enhancement

#8773 Fix north Arceuus Dense essence mine shortcut
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: bug

#8767 Add seed vault inventory to widget item overlays
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetItemOverlay.java
Labels: bug

#8772 ba: use equipment ItemContainer instead of PlayerComposition
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/BarbarianAssaultPlugin.java
Labels: enhancement

#8787 Fix Hot/Cold Misthalin Location Spelling Error
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: bug

#8784 Idlenotifier: Add Plank Make
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#8770 Adds foreman fee counter for Blast Furnace under level 60 smithing
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnacePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/ForemanTimer.java
Labels: feature-request

#8791 fishing trawler time left for one tick fixed
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
Labels: bug

#8725 Fix Dragon Scimitar cursor rogue pixel
  runelite-client/src/main/resources/net/runelite/client/plugins/customcursor/cursor-dragon-scimitar.png
Labels: enhancement

#8786 xp tracker: display >1m exp with higher precision
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/util/StackFormatter.java
  runelite-client/src/test/java/net/runelite/client/util/StackFormatterTest.java
Labels: enhancement

#8600 Add plugin displaying smelting info bar.
  runelite-client/src/main/java/net/runelite/client/plugins/smelting/SmeltingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/smelting/SmeltingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/smelting/SmeltingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/smelting/SmeltingSession.java
  runelite-client/src/test/java/net/runelite/client/plugins/smelting/SmeltingPluginTest.java
Labels: feature-request

#8746 Add barrows prayer drain timer
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPrayerDrainTimer.java
Labels: feature-request

#8789 regenmeter: notif before next hp regen & refactor existing code to use Constants.GAME_TICK_LENGTH
  runelite-api/src/main/java/net/runelite/api/Constants.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/Round.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcSceneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerDoseOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/regenmeter/RegenMeterConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/regenmeter/RegenMeterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/runenergy/RunEnergyPlugin.java
Labels: enhancement

#4022 Xp tracker: Show on canvas
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMineOreCountOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cerberus/CerberusOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventoryviewer/InventoryViewerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/teamcapes/TeamCapesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBoxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ComponentOrientation.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/PanelComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/ProgressBarComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/SplitComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxOverlay.java
Labels: feature-request

#8818 Add options for actions left and done for on screen XP
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBoxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerConfig.java
Labels: feature-request

#8819 client: use immutablemap for maps built in class initializers
  runelite-client/src/main/java/net/runelite/client/game/ItemVariationMapping.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Courses.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/WeaponType.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BarsOres.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMineRockType.java
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
  runelite-client/src/main/java/net/runelite/client/plugins/cerberus/CerberusGhost.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/SkillAbbreviations.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/Impling.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemWithCharge.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohIcons.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerItems.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerRestoreType.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/VarrockMuseumAnswer.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/AbyssRifts.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/Runes.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
  runelite-client/src/main/java/net/runelite/client/plugins/tithefarm/TitheFarmPlantType.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/Axe.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/Tree.java
Labels: enhancement

#8808 western diary: Fix elf pickpocket quest requirement
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/WesternDiaryRequirement.java
Labels: bug

#8823 Combat level plugin: Yet another prayer level calculation fix
  runelite-client/src/main/java/net/runelite/client/plugins/combatlevel/CombatLevelOverlay.java
  runelite-client/src/test/java/net/runelite/client/plugins/combatlevel/CombatLevelPluginTest.java
Labels: bug

#8832 clue scroll plugin: fix typo
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
Labels: bug

#8831 Add missing CoX fish, fix Leckish fish healing value
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: bug

#8814 game timers: Don't remove antipoison effects on death
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
Labels: bug

#8805 log notifications
  runelite-client/src/main/java/net/runelite/client/Notifier.java
Labels: feature-request

#8800 Add loop timer infobox
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/LoopTimer.java
Labels: feature-request

#8811 Emojis
  runelite-client/src/main/java/net/runelite/client/game/ClanManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/emojis/Emoji.java
  runelite-client/src/main/java/net/runelite/client/plugins/emojis/EmojiPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/ImageUtil.java
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/LICENSE
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/blush.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/broken_heart.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/cat.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/confused.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/cooking.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/cowboy.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/crab.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/cry.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/dancer.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/dog.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/expressionless.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/eyes.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/fish.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/flushed.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/fork_and_knife.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/frowning2.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/grinning.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/hearts.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/hugging.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/hushed.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/innocent.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/joy.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/kissing.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/neutral_face.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/ok_hand.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/open_mouth.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/party_popper.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/persevere.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/pile_of_poo.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/rage.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/scream.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/see_no_evil.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/slight_frown.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/slight_smile.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/smile.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/smiling_imp.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/sob.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/stuck_out_tongue.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/stuck_out_tongue_closed_eyes.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/sunglasses.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/sweat.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/thinking.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/thumbsdown.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/thumbsup.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/triumph.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/unamused.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/wink.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/yum.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/zipper_mouth.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/zzz.png
Labels: feature-request

#8816 Format config enums as "Config Option" by default
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterType.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsLimitMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/RenderStyle.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerFlickLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/config/RunePouchOverlayMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/SubscriptionFilterMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/components/ComboBoxListRenderer.java
  runelite-client/src/main/java/net/runelite/client/util/Text.java
Labels: enhancement

#8837 xp tracker: fix on-screen information type label
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBoxOverlay.java
Labels: bug

#8847 Add item mapping for Tormented Bracelet (or)
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: bug

#8111 Support specifying API endpoins via java props
  http-api/src/main/java/net/runelite/http/api/RuneLiteAPI.java
  runelite-client/src/main/java/net/runelite/client/SessionClient.java
Labels: feature-request

#8862 Remove Ammo Counter Overlay when Cannon Degrades
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonPlugin.java
Labels: bug

#8868 Add MODPRIVATECHAT to chat command manager
  runelite-client/src/main/java/net/runelite/client/chat/ChatCommandManager.java
Labels: bug

#8874 Refactor combat level calculations to use closed-form formulas.
  runelite-api/src/main/java/net/runelite/api/Experience.java
  runelite-client/src/main/java/net/runelite/client/plugins/combatlevel/CombatLevelOverlay.java
  runelite-client/src/test/java/net/runelite/client/plugins/combatlevel/CombatLevelPluginTest.java
Labels: bug

#8860 Add configurable bottom line contents for XP tracker
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBoxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerConfig.java
Labels: feature-request

#8867 itemcharges: Add explorer's ring alchemy charge overlay.
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeType.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemWithSlot.java
Labels: feature-request

#8903 timetracking: Update farming patches for the Hosidius rework
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingWorld.java
Labels: bug, regression

#8895 PluginManagerTest: Ensure config keyNames are not duplicated
  runelite-client/src/test/java/net/runelite/client/plugins/PluginManagerTest.java
Labels: enhancement

#8892 Stash units
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/STASHUnit.java
Labels: feature-request

#8885 Fix Spelling Error in ItemMapping.java
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement

#8900 Update Xeric's Glade teleport location icon on World Map
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
Labels: bug, worldmap

#8857 clues: add support for beginner maps
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/BeginnerMapClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues, feature-request

#8864 Added Hardwood Grove Menu Swap Option
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#8827 correct misunderstandings related to wall orientation
  runelite-api/src/main/java/net/runelite/api/WallObject.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSDecorativeObjectMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSWallObjectMixin.java
Labels: bug

#8779 Added music list plugin to search and filter
  runelite-client/src/main/java/net/runelite/client/plugins/musiclist/MusicListPlugin.java
Labels: feature-request

#8894 Fix wine fermentation timer to begin at appropriate time
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/cooking/CookingPluginTest.java
Labels: bug

#8919 timetracking: Don't crash when seeing a garbage varbit value
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingTracker.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/PatchImplementation.java
Labels: bug

#8924 clanchat plugin: add clan tab chat option
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
  runelite-client/src/main/scripts/CommandScript.rs2asm
Labels: feature-request

#8775 chat filter: add options to filter friends and clan members
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterPlugin.java
  runelite-client/src/main/scripts/ChatBuilder.rs2asm
  runelite-client/src/main/scripts/ChatSplitBuilder.rs2asm
  runelite-client/src/test/java/net/runelite/client/plugins/chatfilter/ChatFilterPluginTest.java
Labels: enhancement

#8925 client: fix spec bar not updating with hide auto retaliate on
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/scripts/CombatInterfaceSP.hash
  runelite-client/src/main/scripts/CombatInterfaceSP.rs2asm
Labels: bug

#5430 plugins panel: Add wiki link to name label
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginListItem.java
Labels: feature-request

#8940 clues: update Easy Cryptic in Hosidius
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues, regression

#8947 attack styles: Attach spec bar redraw listener to parent
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/scripts/CombatInterfaceSP.rs2asm
Labels: bug

#8962 GE: Update Numulite Buy Limit
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: bug

#8957 agility: Fix highlighting of Al Kharid zip line
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: bug
