Repository runelite/runelite, pull requests merged in 2019-07, with the labels that each got.

#9247 Screen markers UX improvements
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ui/ScreenMarkerPanel.java
Labels: feature-request

#9212 Add item charges for baskets and sacks
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeType.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemWithCharge.java
Labels: feature-request

#9258 Teleblock timer not showing fix
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/timers/TimersPluginTest.java
Labels: bug, regression

#9123 mining plugin: only show timers on same level in motherlode mine
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningOverlay.java
Labels: enhancement

#9223 Added Grand Exchange total
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/scripts/GELayout.hash
  runelite-client/src/main/scripts/GELayout.rs2asm
Labels: feature-request

#9233 Shield of Arrav Quest Icon Fix - #9215
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/QuestStartLocation.java
Labels: bug, regression, worldmap

#8845 prayer: Add HD Prayer Bar
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerBarOverlay.java
  runelite-client/src/main/resources/net/runelite/client/plugins/prayer/back.png
  runelite-client/src/main/resources/net/runelite/client/plugins/prayer/front.png
Labels: feature-request

#9236 npc indicators: Fix long respawn timer bug
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
Labels: bug

#9256 Hot cold fixes
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/HotColdClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdTemperature.java
  runelite-client/src/test/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdTemperatureTest.java
Labels: bug

#9201 Wintertodt plugin: Round start notification
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/WintertodtConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/WintertodtPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/wintertodt/WintertodtPluginTest.java
Labels: feature-request

#9272 cache/FrameDumperTest: Don't get the wrong framemaps for a frame
  cache/src/test/java/net/runelite/cache/FrameDumper.java
Labels: bug

#9269 Dragon Dagger P++ Custom Cursor
  runelite-client/src/main/java/net/runelite/client/plugins/customcursor/CustomCursor.java
  runelite-client/src/main/resources/net/runelite/client/plugins/customcursor/cursor-dragon-dagger-p.png
Labels: feature-request

#9234 Add Dragonfire Shield timer to timers plugin
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#9183 Add option to swap Talk-to with Enchant for Eluned
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#9020 Improve world hopper sorting
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldSwitcherPanel.java
Labels: enhancement

#9270 runelite-client: Don't try to contain to screen when contain is off
  runelite-client/src/main/java/net/runelite/client/ui/ContainableFrame.java
Labels: bug

#9297 Fixed typo in watch tower clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#9144 Don't render widget overlays on tag tabs and bank tabs
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetItemOverlay.java
Labels: bug

#9307 Chat Filter plugin now refreshes chat on config change
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterPlugin.java
Labels: bug

#9281 prayer: fix HD prayer bar flick location
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerBarOverlay.java
Labels: bug

#9313 Update Boss.java for Sarachnis
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
Labels: feature-request

#9242 Add option to remove logged in/out messages
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterPlugin.java
Labels: feature-request

#9303 Idle notifications after farming
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#9302 motherlode: Perform MLM location check when the player is logging in or entering an area
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/motherlode/MotherlodePluginTest.java
Labels: bug

#9337 Remove unused Slf4j annotations and imports
  http-service/src/main/java/net/runelite/http/service/config/ConfigService.java
  http-service/src/main/java/net/runelite/http/service/hiscore/HiscoreService.java
  http-service/src/main/java/net/runelite/http/service/worlds/WorldController.java
  http-service/src/test/java/net/runelite/http/service/config/ConfigControllerTest.java
  http-service/src/test/java/net/runelite/http/service/loottracker/LootTrackerControllerTest.java
  runelite-client/src/main/java/net/runelite/client/RuneLiteModule.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatCommandManager.java
  runelite-client/src/main/java/net/runelite/client/game/SpriteManager.java
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxTextMenuInput.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GLUtil.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/party/PartyPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingTabPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldSwitcherPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-client/src/main/java/net/runelite/client/util/ExecutorServiceExceptionLogger.java
Labels: enhancement

#9331 Fixed incorrect clue scroll description
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: clues

#9268 item identification: add support for labeling ores and gems
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationOverlay.java
Labels: feature-request

#9327 Update fishing platform elite stash spot
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/STASHUnit.java
Labels: bug, clues

#9341 Fixed misspelling of Loot tracker text
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
Labels: bug

#9328 mta: fix Telekinetic solver not moving
  runelite-client/src/main/java/net/runelite/client/plugins/mta/telekinetic/TelekineticRoom.java
Labels: bug

#9348 dailytasksplugin: Add Rantz ogre arrow collection notification
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksPlugin.java
Labels: feature-request

#9334 loottracker: Fix duplicate cox and tob chest loots
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: bug

#9347 hotcoldclue: Display npc location before using device
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/HotColdClue.java
Labels: clues, feature-request

#7928 Bank Tags: close chat input like withdraw-x
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#4393 Stop screenshot plugin from overwriting pictures
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: bug

#9136 Add swap for quick enter[ToB]
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#9322 Centering the Inventory icon in 2005 resizable mode.
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/WidgetOffset.java
Labels: enhancement

#9376 fishing: Add Entrana river fishing spots
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: bug

#9367 Cryptic Clue Scroll - Fix demonic ruins text
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#9345 runelite-client: Allow partial screen containment again
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/ContainableFrame.java
Labels: enhancement, regression

#9275 runelite-client: Handle startup with an empty cache better
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/callback/ClientThread.java
  runelite-client/src/main/java/net/runelite/client/game/SpriteManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/FermentTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/instancemap/InstanceMapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/puzzlesolver/PuzzleSolverOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/statusbars/StatusBarsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameIndicator.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/IndicatorIndicator.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimerTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/InfoBoxComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBox.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxManager.java
Labels: bug

#9316 Adding Gem rock tracking to the Mining Plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
Labels: feature-request

#9362 mlm: fix ore vein max respawn time threshold
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningOverlay.java
Labels: bug

#9335 grounditemsplugin: Color telegrab menu entries
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: feature-request

#9360 slayerplugin: Correct Jad and Zuk task tracking
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#9385 Adding GE limit for Golovanova fruit top
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: enhancement

#9008 PluginListItem: Reset label color on popup menu item click
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginListItem.java
Labels: bug

#9363 skybox: fix color at Cosmic Entity's Plane region
  runelite-client/src/main/resources/net/runelite/client/plugins/skybox/skybox.txt
Labels: enhancement, skybox

#9426 Revert "Shutdown plugins on window close"
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
Labels: bug, regression

#9370 Added Ring of Forging to Item Charges plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeType.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemWithSlot.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemcharges/ItemChargePluginTest.java
Labels: feature-request

#9364 Adding locations to the Emote clue scrolls
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, feature-request

#9378 XP tracker: Fix issue where progress bar shows 100.00% before level up
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
Labels: bug

#9410 groundmarkerplugin: Use RUNELITE menu action
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPlugin.java
Labels: enhancement

#9425 runelite-api Remove WidgetPositioned
  runelite-api/src/main/java/net/runelite/api/events/WidgetPositioned.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/BankSearch.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatboxperformance/ChatboxPerformancePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
  runelite-client/src/main/scripts/ToplevelChatboxBackground.hash
  runelite-client/src/main/scripts/ToplevelChatboxBackground.rs2asm
Labels: bug

#9429 runelite-client: Don't write all images to disk when loading them
  runelite-client/src/main/java/net/runelite/client/util/ImageUtil.java
Labels: bug, enhancement

#9417 Fix tooltip error handling
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TooltipComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/tooltip/TooltipOverlay.java
  runelite-client/src/test/java/net/runelite/client/ui/overlay/components/TooltipComponentTest.java
Labels: bug

#9389 Use "Un-tag" and "Unmark" menu options for tagged NPCs and marked objects/tiles
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
Labels: enhancement

#9421 Cluescrolls: Use "Location" Label Consistently in Hint Overlays
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/HotColdClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MusicClue.java
Labels: enhancement

#9066 Add non-breaking space character to EmojiPlugin message split regex
  runelite-client/src/main/java/net/runelite/client/plugins/emojis/EmojiPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/emojis/EmojiPluginTest.java
Labels: bug

#9450 hot cold clues: center kandarin outpost dig location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#9323 Add Hespori to loot tracker
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request

#9444 Add gnomestronghold fishing spots to fishing plugin
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: enhancement

#9411 Add GE limit for Drift net
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: enhancement

#9415 timersplugin: Escape periods in teleblock patterns
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: enhancement

#9359 Add skill tab canvas menu options
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayManager.java
Labels: feature-request

#9456 Add new medium clue step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: clues

#7664 Use GL_DYNAMIC_DRAW for ever-changing uniformBuffer
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
Labels: bug, gpu

#9460 Fix typo Ardounge -> Ardougne typo in cryptic clue description
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug

#9324 Quest List Plugin: Add not completed filter
  runelite-client/src/main/java/net/runelite/client/plugins/questlist/QuestListPlugin.java
Labels: feature-request

#9070 Show HA profit while casting HA on items
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
Labels: feature-request

#9428 Download and patch the client in parallel with startup
  runelite-client/src/main/java/net/runelite/client/ClassPreloader.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/RuneLiteModule.java
  runelite-client/src/main/java/net/runelite/client/rs/ClientConfigLoader.java
  runelite-client/src/main/java/net/runelite/client/rs/ClientLoader.java
  runelite-client/src/test/java/net/runelite/client/RuneLiteModuleTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/PluginManagerTest.java
Labels: enhancement

#9419 ZoomConfig: Update Bounds for Ctrl Zoom Value
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/zoom/ZoomPlugin.java
Labels: bug

#9402 Block LMS player loots from loot tracker
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request

#9448 Fix overlay when smelting cannonballs
  runelite-client/src/main/java/net/runelite/client/plugins/smelting/SmeltingOverlay.java
Labels: bug

#9462 Loot Tracker - Add Gauntlet support
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request

#9481 Skybox: Add Prifddinas and Iorwerth dungeon
  runelite-client/src/main/resources/net/runelite/client/plugins/skybox/skybox.txt
Labels: enhancement, skybox

#9470 loot tracker: add Elven Crystal Chest
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: enhancement

#9466 agility: Support Prifddinas course
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Courses.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: enhancement

#9465 timetracking: Support Prifddinas patches
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingWorld.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/PatchImplementation.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/Produce.java
Labels: enhancement

#9469 bosstimers: add zolcano
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
Labels: enhancement

#9431 Added support for examine plugin inside the seed vault
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
Labels: feature-request

#9485 itemstats: Add Tai Bwo Wannai spider on a stick/shaft fooditems
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: feature-request

#9422 Precompile the split regex in RaidsPlugin
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: enhancement

#9490 Fixed null pointer exception in SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: bug

#9486 hot cold clues: center level 38 wilderness dig location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#9478 Implings plugin: Add Crystal implings
  runelite-client/src/main/java/net/runelite/client/plugins/implings/Impling.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingType.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/implings/ImplingsPlugin.java
Labels: feature-request

#9493 timers: add divine potion timers
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#9477 Add lava eel to fishingspot plugin
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: feature-request

#9463 Prifddinas mining rocks
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
Labels: feature-request

#9414 Timers Plugin: Remove Tb when TeleBlocking Opponent Dies
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: bug

#9509 cluescrolls: add dragon pick (or) to master emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#9513 Add item mappings for crystal equipment
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
  runelite-client/src/main/java/net/runelite/client/game/UntradeableItemMapping.java
Labels: feature-request

#9512 Add infernal cape and infernal max cape to master clue scroll step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#9388 nmz: Add total and per hour points to NMZ overlay
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
Labels: feature-request

#9515 itemidentification: Add crystal sapling
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
Labels: enhancement

#9473 skill calc: SotE additions
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_agility.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_farming.json
Labels: feature-request

#9506 worldmap: Fix quest marker for Depths of Despair
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/QuestStartLocation.java
Labels: bug, worldmap

#9516 discord: add Prifddinas locations
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: feature-request

#9511 Sote new tool animations
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/WintertodtPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/Axe.java
Labels: feature-request
