Repository runelite/runelite, pull requests merged in 2019-10, with the labels that each got.

#9848 Optimize getClickbox and getConvexHull
  runelite-api/pom.xml
  runelite-api/src/main/java/net/runelite/api/Actor.java
  runelite-api/src/main/java/net/runelite/api/DecorativeObject.java
  runelite-api/src/main/java/net/runelite/api/GameObject.java
  runelite-api/src/main/java/net/runelite/api/Model.java
  runelite-api/src/main/java/net/runelite/api/Perspective.java
  runelite-api/src/main/java/net/runelite/api/TileObject.java
  runelite-api/src/main/java/net/runelite/api/WallObject.java
  runelite-api/src/main/java/net/runelite/api/geometry/RectangleUnion.java
  runelite-api/src/main/java/net/runelite/api/geometry/Shapes.java
  runelite-api/src/main/java/net/runelite/api/geometry/SimplePolygon.java
  runelite-api/src/main/java/net/runelite/api/model/Jarvis.java
  runelite-api/src/main/java/net/runelite/api/model/Triangle.java
  runelite-api/src/main/java/net/runelite/api/model/Vertex.java
  runelite-api/src/test/java/net/runelite/api/geometry/RectangleUnionTest.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceClickBoxOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcSceneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/roguesden/RoguesDenOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/AbyssOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/TargetClickboxOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayUtil.java
Labels: enhancement

#9988 Fix anglerfish master clue text
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: bug, clues

#9982 Fix typo in barrows chest emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#9958 Added Drift Net to Crafting Calculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_crafting.json
Labels: enhancement

#9970 Worldmap: add wild crab teleport
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/wilderness_crabs_teleport_icon.png
Labels: feature-request

#9915 agility: add plant door obstacle
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: feature-request

#9936 Update CrypticClue.java to fix Issue #9819
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#9983 xptracker: fix out-of-sync add to canvas menu
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
Labels: bug

#9977 xptracker: fix goals set from level 1
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpStateSingle.java
Labels: bug

#10002 item charges: add charges to guthix rest tea
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeType.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemWithCharge.java
Labels: feature-request

#9945 Inventorygrid: Draw image for replaced item
  runelite-client/src/main/java/net/runelite/client/plugins/inventorygrid/InventoryGridOverlay.java
Labels: enhancement

#9989 FishingSpotOverlay: Add missing highlight spots for fishing platform
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: bug

#9738 fishing: Set status to NOT fishing when the flying fish is active
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
Labels: feature-request

#10014 Add Elf Cannon Spot in Priff
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: feature-request

#9968 Add divine potion buy limits
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: feature-request

#10001 item identification: show identifier for bank placeholders and noted items
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationPlugin.java
Labels: bug, feature-request

#9814 skillcalc: add Broodoo shield
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_crafting.json
Labels: feature-request

#9823 Add Spears and Hastae smithing to Skill calculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_smithing.json
Labels: enhancement, skill-calc

#9965 prayer: Use ItemStats for prayer bonuses
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerItems.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerPlugin.java
Labels: enhancement

#10033 Add no weapon/shield enforcement to aerial fishing clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: clues

#9947 XpTracker: Fix hopping to/from DMM worlds
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
Labels: bug

#10047 timers plugin: remove prayer enhance infobox on expire
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: enhancement

#10038 Add faceguard to revertible items
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: feature-request

#10062 world map: fix location of northern pipe in Mount Karuulm dungeon
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: bug, worldmap

#10050 Properly update plugin toggle button on plugin state change
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginListItem.java
Labels: bug

#10021 Add teleport icon for Stony Basalt under 73 Agility
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
Labels: feature-request

#10010 Add Rimmington / Ardougne / Brimhaven ship
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPointLocation.java
Labels: feature-request, worldmap

#9600 Clarify that blowpipe won't work with Robin clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#10071 banktags: null check for no tagtabs
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
Labels: bug

#10068 Fix slayer infobox disappearing on '0' timeout
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: bug

#10027 Fix documentation/naming/safety of StackFormatter
  runelite-client/src/main/java/net/runelite/client/plugins/ammo/AmmoCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceCofferOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeItemPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemskeptondeath/ItemsKeptOnDeathPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomCounter.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBoxOverlay.java
  runelite-client/src/main/java/net/runelite/client/util/QuantityFormatter.java
  runelite-client/src/test/java/net/runelite/client/util/QuantityFormatterTest.java
  runelite-client/src/test/java/net/runelite/client/util/StackFormatterTest.java
Labels: enhancement

#10036 runelite-api: Add some more documentation
  runelite-api/src/main/java/net/runelite/api/IndexedSprite.java
  runelite-api/src/main/java/net/runelite/api/NPCComposition.java
  runelite-api/src/main/java/net/runelite/api/ObjectComposition.java
  runelite-api/src/main/java/net/runelite/api/TextureProvider.java
  runelite-api/src/main/java/net/runelite/api/TileItem.java
  runelite-api/src/main/java/net/runelite/api/TileObject.java
  runelite-api/src/main/java/net/runelite/api/VarClientInt.java
  runelite-api/src/main/java/net/runelite/api/VarClientStr.java
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/events/ScriptCallbackEvent.java
  runelite-api/src/main/java/net/runelite/api/events/VarClientIntChanged.java
  runelite-api/src/main/java/net/runelite/api/events/VarClientStrChanged.java
  runelite-api/src/main/java/net/runelite/api/events/VarbitChanged.java
  runelite-api/src/main/java/net/runelite/api/events/WidgetMenuOptionClicked.java
  runelite-api/src/main/java/net/runelite/api/widgets/JavaScriptCallback.java
Labels: enhancement

#10055 client: add random event plugin
  runelite-client/src/main/java/net/runelite/client/plugins/randomevents/RandomEventConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/randomevents/RandomEventPlugin.java
Labels: feature-request

#9944 Frem exiles world map updates
  runelite-api/src/main/java/net/runelite/api/Quest.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/QuestStartLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPointLocation.java
Labels: feature-request

#10082 Add Island of Stone location descriptor.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: clues

#10090 combat level plugin: fix wilderness level ranges
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
Labels: bug, regression

#10101 Make the PvP kill/death counter moveable
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: regression

#10108 feed: use RuneLiteClient's Twitter list
  http-service/src/main/resources/application.yaml
Labels: enhancement

#10078 music: Add ingame granular volume adjustment
  runelite-api/src/main/java/net/runelite/api/ScriptEvent.java
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/music/MusicConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/music/MusicPlugin.java
  runelite-client/src/main/scripts/options_allsounds.hash
  runelite-client/src/main/scripts/options_allsounds.rs2asm
Labels: feature-request

#9755 wiki: support wiki-casting on non-inventory items
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiPlugin.java
Labels: feature-request

#10114 Add enum constant for allotment/flower + change priff allotment patch
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FarmingPatchLocation.java
Labels: bug

#10103 loottracker: add confirm dialog to reset all
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
Labels: enhancement

#10081 examine: fix pricecheck in player trade interface
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
Labels: enhancement

#10095 skill calc: clear combined action slot on skill change
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
Labels: bug

#10077 fishing: make overlay colors configurable
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpotMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpotOverlay.java
Labels: feature-request

#10123 random events: fix npe on login
  runelite-client/src/main/java/net/runelite/client/plugins/randomevents/RandomEventPlugin.java
Labels: bug

#10052 Add option to manually broadcast raid layout message
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: feature-request

#10148 tabinterface: remember search after clicking deposit-x
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: enhancement

#10142 Capitalise the S in 'Runescape'
  runelite-client/src/main/java/net/runelite/client/config/ChatColorConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdSolver.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
Labels: enhancement

#10132 music: check parent and siblings for null
  runelite-client/src/main/java/net/runelite/client/plugins/music/MusicPlugin.java
Labels: bug

#10141 clues: fix MultipleOfItemRequirement not working with non-stacking items
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/item/MultipleOfItemRequirement.java
Labels: bug, clues

#10122 chat timestamps: add timestamps to split private chat
  runelite-client/src/main/scripts/ChatSplitBuilder.rs2asm
Labels: bug

#10158 Add GE value Berserker Necklace (or), mapping to values
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement

#10161 Add ItemMappings for Rune Scimitar (or).
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement
