Repository runelite/runelite, pull requests merged in 2019-08, with the labels that each got.

#9530 boss: adjust Chaos Elemental respawn time
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
Labels: bug

#9531 worldmap: fix typo in Prifddinas
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPointLocation.java
Labels: bug

#9535 idle notifier: notify when adding feathers or heads to shafts
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#9532 menuentryswapper - Add volcanic mine entrance
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#9551 Achievement Diary Plugin: Update Ardougne Hard Diary Text
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/ArdougneDiaryRequirement.java
Labels: bug

#9552 skill calc: Support Dragon bolts
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_fletching.json
Labels: feature-request

#9524 Added Ferret boxes id to the hunter plugin
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/HunterPlugin.java
Labels: bug

#9439 Loot Tracker: Allow loot boxes to be collapsed
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
  runelite-client/src/main/resources/net/runelite/client/plugins/loottracker/collapsed.png
  runelite-client/src/main/resources/net/runelite/client/plugins/loottracker/expanded.png
Labels: feature-request

#9536 gpu plugin: fix camera effects used for drunkeness and fishing trawler
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
Labels: bug, gpu

#4689 Add four dose stamina to herblore calculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_herblore.json
Labels: skill-calc

#9609 Disable inventory grid if the dragged item is removed
  runelite-client/src/main/java/net/runelite/client/plugins/inventorygrid/InventoryGridOverlay.java
Labels: bug

#9576 item stats: add divine potions
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: feature-request

#9557 Snapshot all grahics2d properties in safeRender
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug

#9476 item limits: Add seed/saplings
  runelite-client/src/main/resources/net/runelite/client/plugins/grandexchange/ge_limits.json
Labels: enhancement

#9543 Add missing shortcut clickbox highlight to Trollweiss Mountain Cave
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: enhancement

#9615 Discord: Fix spelling errors in broadcasted locations
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: discord, enhancement

#9000 Add support for Skill Challenge Clues
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/TagManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FaloTheBardClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/item/AllRequirementsCollection.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/item/AnyRequirementCollection.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/item/ItemRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/item/ItemRequirements.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/item/MultipleOfItemRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/item/RangeItemRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/item/SingleItemRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/item/SlotLimitationRequirement.java
Labels: clues, feature-request

#9528 bank tags: properly open saved tab
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#9629 Add loading splash screen
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/RuneLiteModule.java
  runelite-client/src/main/java/net/runelite/client/RuneLiteProperties.java
  runelite-client/src/main/java/net/runelite/client/discord/DiscordService.java
  runelite-client/src/main/java/net/runelite/client/plugins/PluginManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordState.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPanel.java
  runelite-client/src/main/java/net/runelite/client/rs/ClientLoader.java
  runelite-client/src/main/java/net/runelite/client/rs/VerificationException.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/FatalErrorDialog.java
  runelite-client/src/main/java/net/runelite/client/ui/SplashScreen.java
  runelite-client/src/main/resources/net/runelite/client/runelite.properties
  runelite-client/src/main/resources/net/runelite/client/ui/runelite_transparent.png
Labels: feature-request

#9585 Fix loot tracker order on client reload
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerRecord.java
Labels: bug

#9614 ClanManager: handle startup with an empty cache
  runelite-client/src/main/java/net/runelite/client/game/ClanManager.java
Labels: bug

#9617 hot cold: center 'west of farming guild' location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#9613 cryptic: Added the new General Hining cryptic clue.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#9605 hotcold: Center level 5 wilderness location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#9645 Use the Sarachnis pet, Sraracha, as the slayer task overlay icon.
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#9643 Add new crystal equipment IDs to the Item Mapping
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: bug

#9623 world map: correct canvas bounds location and clip tooltips properly
  runelite-client/src/main/java/net/runelite/client/ui/overlay/worldmap/WorldMapOverlay.java
Labels: bug, worldmap

#9612 Monk camp clue step has wrong location in the clue scroll plugin
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#9611 Elven land tripwire obstacles are not all highlighted
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: feature-request

#9602 hot cold clues: center northern blast mine and eastern part of piscatoris hunter area dig locations
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#9471 clues: add new SotE clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FaloTheBardClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/STASHUnit.java
Labels: clues

#9487 Fix examine coins extra line
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
Labels: enhancement

#9467 Fix wrong rock respawn timers
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
Labels: bug

#9427 Items Kept on Death - Fix breakable death prices
  runelite-client/src/main/java/net/runelite/client/plugins/itemskeptondeath/BrokenOnDeathItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemskeptondeath/ItemsKeptOnDeathPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemskeptondeath/ItemsKeptOnDeathPluginTest.java
Labels: bug

#9354 Fix MSAA white pixels
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/frag.glsl
Labels: bug, gpu

#8292 item prices: Show alch price while alching
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
Labels: feature-request

#9589 colorpicker: force hex color to update on window close
  runelite-client/src/main/java/net/runelite/client/ui/components/colorpicker/RuneliteColorPicker.java
Labels: bug

#9670 clues: Fix Bryophyta's staff having no name
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#9662 Timers: Imbued Heart Resets On Death
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
Labels: enhancement

#9669 clues: correct "Has no one told you it is rude to ask a lady her age?"
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#9694 slayer: allow unknown tasks to still decrement counter
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug, regression

#9697 clues: fix names for skilling outfits
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: bug, clues

#9690 clues: fixes sherlock clue step so that agility cape, agility cape(t) and max cape all count as part of the graceful set.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: bug

#9678 ChatboxItemSearch: lowercase name to check for null names
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxItemSearch.java
Labels: bug

#9684 skybox: add Braindeath Island
  runelite-client/src/main/resources/net/runelite/client/plugins/skybox/skybox.txt
Labels: skybox

#9663 Fix "Fix MSAA white pixels"
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/frag.glsl
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/geom.glsl
Labels: bug, gpu

#9635 Fix NPE in groundmarkerplugin and annotate some methods as nullable
  runelite-api/src/main/java/net/runelite/api/Actor.java
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPlugin.java
Labels: bug

#9655 ItemsKeptOnDeath - Fix avernic defender price
  runelite-client/src/main/java/net/runelite/client/plugins/itemskeptondeath/FixedPriceItem.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemskeptondeath/ItemsKeptOnDeathPluginTest.java
Labels: bug

#9361 slayerplugin: Fix first slayer kill not being registered
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#9660 Item Mapping: Add Bird Nest Variations
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: feature-request

#9665 Agility: Add Missing Ladder to Prifddinas Course
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#9707 emote: change "stomp" to "stamp"
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/Emote.java
Labels: bug

#9746 clues: fix abyssal head recognition
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: bug, clues

#9712 slayer: correct Vampyre task spelling
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: bug

#9723 Add toggle to not display combat boosts
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
Labels: feature-request

#9692 worldmap: add on-click jumping for unambiguous single-target transports
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPointLocation.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/worldmap/WorldMapOverlayMouseListener.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/worldmap/WorldMapPoint.java
Labels: feature-request

#9720 chat: fix private chat username recolouring, improve responsiveness to config settings
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
Labels: bug
