Repository runelite/runelite, pull requests merged in 2019-12, with the labels that each got.

#10308 Customize chat box clearing
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatKeyboardListener.java
Labels: feature-request

#10360 League Chat Icons: Fix conflict with Chat Colors plugin on usernames
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
Labels: bug

#10363 League Chat Icons: Rename plugin
  runelite-client/src/main/java/net/runelite/client/plugins/leaguechaticons/LeagueChatIconsPlugin.java
Labels: enhancement

#10334 prayer-reorder: remove test
  runelite-client/src/test/java/net/runelite/client/plugins/reorderprayers/ReorderPrayersPluginTest.java
Labels: enhancement

#10321 Menu Entry Swapper: Add 'help' swap to Arceuus library customers
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#10315 Improve Kourend Library User Experience
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryTutorialOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Library.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/LibraryCustomer.java
Labels: bug, feature-request

#10391 Add missing Willow Tree Object IDs
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/Tree.java
Labels: bug

#10408 Adds detection for first slayer tasks given by Konar
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#10401 twitch: add timestamps to messages
  runelite-client/src/main/java/net/runelite/client/plugins/twitch/TwitchPlugin.java
Labels: bug

#10322 Add config option to confirm kicks from Clan Chat
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
  runelite-client/src/main/scripts/ClanSendKick.hash
  runelite-client/src/main/scripts/ClanSendKick.rs2asm
Labels: feature-request

#10444 widgetoverlay: fix tithe score
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
Labels: bug

#10237 Add custom notification sounds
  runelite-client/pom.xml
  runelite-client/src/main/java/net/runelite/client/Notifier.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/resources/net/runelite/client/notification.txt
  runelite-client/src/main/resources/net/runelite/client/notification.wav
Labels: feature-request

#10342 GPU: smooth out fog corners by 1 tile, eliminating the diagonal line
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/vert.glsl
Labels: feature-request, gpu

#10463 FPS: Add range to the fps target config items
  runelite-client/src/main/java/net/runelite/client/plugins/fps/FpsConfig.java
Labels: enhancement

#10462 kourendlibrary: fix layout resetting unintentionally
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Library.java
Labels: bug

#10464 objectindicators: Correctly match template plane
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
Labels: bug

#10476 Added Potions option for ItemIdentification plugin
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationOverlay.java
Labels: feature-request

#10457 change arrow shaft xp rate to per unit xp for unit produced
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_fletching.json
Labels: enhancement

#10453 woodcutting: fix inaccurate despawn events
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingPlugin.java
Labels: bug

#10460 Add HP for level 19 and 22 Guards.
  runelite-client/src/main/resources/npc_health.json
Labels: enhancement

#10468 interfacestyles: fix 2005 fixed mode minimap's right side
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/1182.png
Labels: bug

#10375 Cannonball ammo count notifications
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonPlugin.java
Labels: feature-request

#10489 kourendlibrary: clear tracked NPCs when changing worlds
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
Labels: bug

#10492 chat message manager: make sender recoloring use messageNode
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
Labels: bug

#10496 kourendlibrary: only reset if layout changes when complete
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Library.java
Labels: bug, regression

#10498 chatcommands: support keybinds in pms
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatKeyboardListener.java
Labels: enhancement

#10499 xp tracker: don't unpause on failed login
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
Labels: bug

#10506 kourendlibrary: fix panel reloading not being done on the swing thread
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
Labels: bug
