Repository runelite/runelite, pull requests merged in 2019-01, with the labels that each got.

#7090 gpu: Use premultiplied alpha
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSMainBufferProviderMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/Rasterizer2DMixin.java
Labels: enhancement

#7131 Add missing sanfew serums to the prayer dose indicator.
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerDoseOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerRestoreType.java
Labels: enhancement

#7060 Clear search bar when switching between skill calculators
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
Labels: feature-request, skill-calc

#7122 experiencedrop: Maintain active prayer per tick
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
Labels: bug

#7145 gpu: Fix stretched mode with global premul alpha
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/fraguipremul.glsl
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/vertuipremul.glsl
Labels: bug, gpu, regression

#7172 Add Moonlight Mead to food list.
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: feature-request

#7167 Split Valuable and Untradeable screenshot options
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: feature-request

#7035 worldhopper: change WorldTableHeader highlight text and arrow color
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableHeader.java
  runelite-client/src/main/java/net/runelite/client/util/ImageUtil.java
Labels: enhancement

#7162 dev tools: Fix overlay layer
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsOverlay.java
Labels: bug

#7013 Inventory Tags: preserve 'cancel' when creating the custom menu
  runelite-client/src/main/java/net/runelite/client/plugins/inventorytags/InventoryTagsPlugin.java
Labels: bug

#6927 Change the vengeance indicators to use varbits
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameIndicator.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: enhancement

#7096 Add karambwans to cooking plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/cooking/CookingPluginTest.java
Labels: bug

#7199 Fix arctic pine exp
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_woodcutting.json
Labels: bug, skill-calc

#6908 Bank Value: Use ItemContainer instead of BankItemQuery
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankCalculation.java
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankTitle.java
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankValuePlugin.java
  runelite-client/src/main/scripts/BankSearchLayout.rs2asm
  runelite-client/src/test/java/net/runelite/client/plugins/bankvalue/BankCalculationTest.java
Labels: enhancement

#7206 Caviar heals 5
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: bug

#7215 Add the lvl 20 ardy guards to the npc_health.json
  runelite-client/src/main/resources/npc_health.json
Labels: enhancement

#7200 Add Skybox plugin
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/events/BeforeRender.java
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/skybox/Skybox.java
  runelite-client/src/main/java/net/runelite/client/plugins/skybox/SkyboxPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/skybox/skybox.txt
  runelite-client/src/test/java/net/runelite/client/plugins/skybox/SkyboxTest.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSSceneMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSClient.java
Labels: feature-request

#7210 Add range annotation to gpu draw distance
  runelite-client/src/main/java/net/runelite/client/config/Range.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPluginConfig.java
Labels: enhancement

#7033 World-Specific Highscores lookup
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
Labels: enhancement

#7244 Skybox: Do bounds check on the localPlayer's location, not the camera's
  runelite-client/src/main/java/net/runelite/client/plugins/skybox/Skybox.java
  runelite-client/src/main/java/net/runelite/client/plugins/skybox/SkyboxPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/skybox/SkyboxTest.java
Labels: enhancement

#7166 Make Pyramid Plunder widget layoutable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: feature-request

#7124 Fix prayer to next combat level calculation
  runelite-client/src/main/java/net/runelite/client/plugins/combatlevel/CombatLevelOverlay.java
  runelite-client/src/test/java/net/runelite/client/plugins/combatlevel/CombatLevelPluginTest.java
Labels: bug

#7161 Fix world map surface selector ID
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
Labels: bug

#7274 Added New Bones to skill_prayer.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_prayer.json
Labels: enhancement

#7227 timetracking: add default time in minutes to config
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TimeTrackingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/clocks/ClockManager.java
Labels: feature-request

#7279 Respect "Only show loot" option for item notifications
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: bug

#7233 Move getImageSpritePixels into ImageUtil
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabSprites.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/ImageUtil.java
Labels: enhancement

#7286 Add new farming patch trees to Menu Entry Swapper (pay)
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#7271 Add Aerial Fishing to fishing plugin
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpot.java
Labels: feature-request

#7293 Correct the agility shortcuts at slayer tower
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/AgilityShortcutLocation.java
Labels: bug

#7306 Add "fog" as tag for GPU plugin
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
Labels: enhancement

#7268 Add Farming Patch world map locations for Farming Guild
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FarmingPatchLocation.java
Labels: feature-request

#7291 Worldmap: Added Kebos Lowlands
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/AgilityShortcutLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FairyRingLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/radas_blessing_icon.png
Labels: feature-request

#7285 Add clue scroll north of Mount Karruulm
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/STASHUnit.java
Labels: clues

#7301 Update Tree Gnome Village h/c description and add Farming Guild h/c location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#7164 Only log the IOException message on failure to submit CML update.
  runelite-client/src/main/java/net/runelite/client/plugins/crystalmathlabs/CrystalMathLabs.java
Labels: enhancement

#7302 Add Mount Karuulm agility shortcuts to agility plugin
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#7308 Worldmap: Fix CIR fairy ring location
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FairyRingLocation.java
Labels: bug

#7311 Swap open with quick-open at hydra
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#7314 Add Alchemical Hydra to chat kc abbreviations
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: enhancement

#7318 Accept frozen and volcanic whip as clue requirement
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#7313 Add Alchemical Hydra Respawn timer
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
Labels: feature-request

#7324 Add missing Forsaken Tower requirement to kourend & kebos diary plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/KourendDiaryRequirement.java
Labels: enhancement

#7346 Update item variations to latest OSRS cache
  runelite-client/src/main/resources/item_variations.json
Labels: enhancement

#7341 Add menu entry collapser to ground items
  runelite-api/src/main/java/net/runelite/api/events/ClientTick.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/MenuEntryWithCount.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: feature-request

#7340 Add Ring of Visiblity emote clue requirement for Smoke Dungeon
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#7335 Add support for unarmed a speed, and inverse a speed display
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
Labels: bug, enhancement

#7288 Add Slayer Task Locations (Konar)
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug, enhancement

#7089 Add right click menu functionality to overlays
  runelite-api/src/main/java/net/runelite/api/MenuAction.java
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/Overlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayManager.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: feature-request

#7355 Add item mappings for items introduced in Kebos update
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement

#7307 Remove tags from loot tracker box title
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
Labels: bug

#7375 Use client real dimensions for canvasTopRight
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug

#7384 farming: Support Kebos Lowlands update
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/pom.xml
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingTabPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingWorld.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/PatchImplementation.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/Produce.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/hunter/BirdHouseTabPanel.java
  runelite-client/src/main/java/net/runelite/client/ui/components/ThinProgressBar.java
  runelite-client/src/test/java/net/runelite/client/plugins/timetracking/farming/FarmingWorldTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/timetracking/farming/PatchImplementationTest.java
Labels: bug, feature-request

#7392 Fix hot/cold clue location description typo
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: bug, clues

#7393 fix-text-agility-plugin
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityConfig.java
Labels: enhancement

#7310 Cap fog depth to 100 in the GPU Plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPluginConfig.java
Labels: feature-request

#7214 cache: Add FlatStorage
  cache/src/main/java/net/runelite/cache/definitions/AreaDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/ClientScript1Instruction.java
  cache/src/main/java/net/runelite/cache/definitions/FrameDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/FramemapDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/InterfaceDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/InventoryDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/ItemDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/KitDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/ModelDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/NpcDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/SequenceDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/SpotAnimDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/StructDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/TrackDefinition.java
  cache/src/main/java/net/runelite/cache/definitions/WorldMapType0.java
  cache/src/main/java/net/runelite/cache/fs/flat/FlatStorage.java
  cache/src/test/java/net/runelite/cache/fs/flat/FlatStorageTest.java
  pom.xml
Labels: feature-request

#7406 Make Game Notification use the Game message highlight colour
  runelite-client/src/main/java/net/runelite/client/Notifier.java
Labels: enhancement

#7427 Move configManager.sendConfig to RuneLite#shutdown
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: enhancement

#7426 Shutdown plugins on window close
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: bug

#7441 Wrap DiscordEventHandlers in native lib try/catch
  runelite-client/src/main/java/net/runelite/client/discord/DiscordService.java
Labels: bug, regression

#7453 Add correct time for anti vemon potion
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
Labels: bug

#7483 Unify Splitter/Joiner usage (move to Text#toCSV and Text#fromCSV)
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/TagManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/Text.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPluginTest.java
Labels: enhancement

#7473 chat commands: rebuild chatbox input after using clear shortcuts
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatKeyboardListener.java
Labels: bug

#7457 Do not discard 1 second requests in Xp tracker
  http-service/src/main/java/net/runelite/http/service/xp/XpTrackerService.java
Labels: bug

#7502 Null-check local location in trap overlay
  runelite-api/src/main/java/net/runelite/api/Perspective.java
  runelite-client/src/main/java/net/runelite/client/plugins/hunter/TrapOverlay.java
Labels: bug

#7389 Add task chat command
  http-api/src/main/java/net/runelite/http/api/chat/ChatClient.java
  http-api/src/main/java/net/runelite/http/api/chat/Task.java
  http-service/src/main/java/net/runelite/http/service/chat/ChatController.java
  http-service/src/main/java/net/runelite/http/service/chat/ChatService.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: feature-request

#7497 Revert "Move close handling to windowClosed event"
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: regression

#7464 Cleanup overlay menu entry usage
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/LapCounterOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStylesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/BarbarianAssaultOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/BarbarianAssaultPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsBrotherSlainOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceCofferOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnacePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMineOreCountOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/blastmine/BlastMinePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cerberus/CerberusOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cerberus/CerberusPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpDamageOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventoryviewer/InventoryViewerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventoryviewer/InventoryViewerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeGemOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeSackOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/PlayerComparisonOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPointsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/teamcapes/TeamCapesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/teamcapes/TeamCapesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/WintertodtOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/WintertodtPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayManager.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug, enhancement

#7513 Add ancient staff to prayer items list
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerItems.java
Labels: enhancement

#7544 Refresh infoboxes only when needed
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxManager.java
Labels: enhancement

#7385 Add Rare Tree map points
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/RareTreeLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/RareTreePoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
Labels: enhancement

#7554 Remove invalid OverlayMenuEntries
  runelite-client/src/main/java/net/runelite/client/plugins/cerberus/CerberusOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/inventoryviewer/InventoryViewerOverlay.java
Labels: bug

#7560 Add Hydra & Karuulm Area to Discord Plugin
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: discord, enhancement

#7545 Add raid layout message
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/Raid.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/solver/Layout.java
  runelite-client/src/main/java/net/runelite/client/util/Text.java
Labels: feature-request

#7572 Dont display bank value GE/HA text when not needed
  runelite-client/src/main/java/net/runelite/client/plugins/bankvalue/BankValuePlugin.java
Labels: enhancement

#7383 Add ore tracker to MLM plugin
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOreOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeSession.java
Labels: feature-request

#7477 farming: Give a more conservative estimate of when patches are done
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingTabPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingTracker.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/PatchPrediction.java
Labels: enhancement

#7505 Check if NPC is visible on minimap at barrows
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsOverlay.java
Labels: bug

#7432 Change npc indicator plugin to not edit npc composition
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsInput.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
Labels: bug

#7561 Add !pb chat command
  http-api/src/main/java/net/runelite/http/api/chat/ChatClient.java
  http-service/src/main/java/net/runelite/http/service/chat/ChatController.java
  http-service/src/main/java/net/runelite/http/service/chat/ChatService.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: feature-request

#7543 Add anti-poison timers to anti-venom potions
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimerTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/Timer.java
Labels: enhancement

#7562 Change slayer task icons for revs and ents
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#7563 Swap pick with pick-lots in cox
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#7564 Remove activity prefix from Discord plugin
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: enhancement

#7555 Limit only overlays that are not snapped
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug

#7536 Add option to require shift for overlay menus
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: enhancement

#7621 Remove anymatch regex from chat commands plugin patterns
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: bug

#7620 Update slayer points in tooltip while in rewards
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: bug

#7608 Remove tags from chat notification matcher
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPlugin.java
Labels: bug

#7627 Add normal colour to the !clues command
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: bug
