Repository runelite/runelite, pull requests merged in 2019-03, with the labels that each got.

#8027 Change logged-in redir to redirect to HTTPS
  http-service/src/main/java/net/runelite/http/service/account/AccountService.java
Labels: enhancement

#8028 Idle Notifier: Add support for grinding with pestle and mortar
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: enhancement

#8024 Null-check remote configuration in config manager
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
Labels: bug

#8052 Add hydra shortcut
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: enhancement

#8018 Remove our raids points overlay and instead make vanilla one moveable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPointsOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: enhancement

#8046 worldpoint: Fix plane value in toLocalInstance
  runelite-api/src/main/java/net/runelite/api/coords/WorldPoint.java
Labels: bug, regression

#8070 ground markers: Fix marking non-marked tiles
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPlugin.java
Labels: bug

#8079 Update CheckStyle XML link to one that exists
  checkstyle.xml
Labels: bug

#8066 Clanchat: count players already in scene
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
Labels: bug

#8082 Update suppressions.xml dtd link to one that exists
  suppressions.xml
Labels: bug

#8081 Replace Java asserts in test code with JUnit asserts.
  runelite-client/src/test/java/net/runelite/client/util/ColorUtilTest.java
  runelite-client/src/test/java/net/runelite/client/util/ImageUtilTest.java
Labels: enhancement

#6943 Add CC icons to Public Chat & Private Messages
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
Labels: feature-request

#8068 Clanchat: clear counter on login/connection lost instead of loading
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
Labels: bug

#7904 Properly use Spring profiles in http-service tests and main implementation
  http-service/src/main/java/net/runelite/http/service/SpringBootWebApplication.java
  http-service/src/main/resources/application.yaml
  http-service/src/test/java/net/runelite/http/service/SpringBootWebApplicationTest.java
  http-service/src/test/java/net/runelite/http/service/config/ConfigControllerTest.java
  http-service/src/test/java/net/runelite/http/service/loottracker/LootTrackerControllerTest.java
  http-service/src/test/resources/application-dev.yaml
  http-service/src/test/resources/application-test.yaml
Labels: enhancement

#8080 Fix CheckStyle issues and enable CheckStyle in test code.
  http-service/src/test/java/net/runelite/http/service/hiscore/HiscoreTestService.java
  pom.xml
  runelite-client/src/test/java/net/runelite/client/game/ItemVariationMappingTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/bankvalue/BankCalculationTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/combatlevel/CombatLevelPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/hiscore/HiscorePanelTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/timetracking/clocks/ClockPanelTest.java
  runelite-client/src/test/java/net/runelite/client/ui/overlay/components/TextComponentTest.java
  runelite-client/src/test/java/net/runelite/client/util/ColorUtilTest.java
  runelite-client/src/test/java/net/runelite/client/util/ImageUtilTest.java
Labels: bug

#8077 Update Rogues' Den plugin to use ItemContainerChanged event
  runelite-client/src/main/java/net/runelite/client/plugins/roguesden/RoguesDenPlugin.java
Labels: enhancement

#8051 Daily Task Indicator: Fix plugin not checking tasks when first enabled
  runelite-client/src/main/java/net/runelite/client/plugins/dailytaskindicators/DailyTasksPlugin.java
Labels: bug

#8115 Move Tai Bwo Wannai Emote location closer to STASH
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, enhancement

#8110 clanchat: remove activity in buffer in ClanMemberLeft as well
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
Labels: bug

#8088 xptracker: correct total xp per hour calculation
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPauseState.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPauseStateSingle.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpSnapshotTotal.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpState.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpStateSingle.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpStateTotal.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: bug

#8117 http-service: fix twitter feed links not working with newer theme
  http-service/src/main/java/net/runelite/http/service/feed/twitter/TwitterService.java
Labels: bug, regression

#8105 clanchat: Update clan members set on clan chat join/leave events
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
Labels: bug

#8139 wiki: Update the Fixed Minimap Clickbox to account for the spec orb
  runelite-client/src/main/resources/net/runelite/client/plugins/wiki/fixed_mode_minimap_clickmask.png
Labels: bug, regression

#8134 diary requirements: add missing period in combat camp task
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/ArdougneDiaryRequirement.java
Labels: enhancement

#8112 Remove unnecessary .get() on OkHttp request
  http-api/src/main/java/net/runelite/http/api/loottracker/LootTrackerClient.java
Labels: enhancement

#8162 Changed Chaos Fanatic's slayer task info box sprite from pet to ancient staff to match the respawn timer
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#8147 use RuneStar cs2 opcode names
  cache/src/main/java/net/runelite/cache/definitions/loaders/ScriptLoader.java
  cache/src/main/java/net/runelite/cache/definitions/savers/ScriptSaver.java
  cache/src/main/java/net/runelite/cache/script/Instruction.java
  cache/src/main/java/net/runelite/cache/script/Instructions.java
  cache/src/main/java/net/runelite/cache/script/Opcodes.java
  cache/src/main/java/net/runelite/cache/script/disassembler/Disassembler.java
  cache/src/test/resources/net/runelite/cache/script/assembler/681.rs2asm
  cache/src/test/resources/net/runelite/cache/script/assembler/91.rs2asm
  cache/src/test/resources/net/runelite/cache/script/assembler/Unicode.rs2asm
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-client/src/main/java/net/runelite/client/game/ChatboxInputManager.java
  runelite-client/src/main/scripts/BankSearchFilter.rs2asm
  runelite-client/src/main/scripts/BankSearchLayout.rs2asm
  runelite-client/src/main/scripts/ChatBuilder.rs2asm
  runelite-client/src/main/scripts/ChatSplitBuilder.rs2asm
  runelite-client/src/main/scripts/ChatboxInput.rs2asm
  runelite-client/src/main/scripts/ChatboxInputHandler.rs2asm
  runelite-client/src/main/scripts/ChatboxInputInit.rs2asm
  runelite-client/src/main/scripts/ChatboxInputWidgetBuilder.rs2asm
  runelite-client/src/main/scripts/CommandScript.rs2asm
  runelite-client/src/main/scripts/OpenBankSearchInput.rs2asm
  runelite-client/src/main/scripts/OptionsPanelRebuilder.rs2asm
  runelite-client/src/main/scripts/OptionsPanelZoomMouseListener.rs2asm
  runelite-client/src/main/scripts/OptionsPanelZoomUpdater.rs2asm
  runelite-client/src/main/scripts/PrivateMessage.rs2asm
  runelite-client/src/main/scripts/ResetChatboxInput.rs2asm
  runelite-client/src/main/scripts/ScrollWheelZoomHandler.rs2asm
  runelite-client/src/main/scripts/SendPrivateMessage.rs2asm
  runelite-client/src/main/scripts/SkillTabBuilder.rs2asm
  runelite-client/src/main/scripts/SkillTabTotalLevel.rs2asm
  runelite-client/src/main/scripts/TriggerBankLayout.rs2asm
  runelite-client/src/main/scripts/ZoomHandler.rs2asm
  runelite-client/src/main/scripts/null.rs2asm
  runelite-script-assembler-plugin/src/main/java/net/runelite/script/RuneLiteInstructions.java
Labels: enhancement

#8172 Add missing item mappings for hydra slayer helm
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: bug

#8154 Check message length before use.
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: bug

#6947 Item Stats: Add item information panel when buying items in the GE
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/JagexColors.java
  runelite-client/src/main/scripts/GEOffersSetupInit.hash
  runelite-client/src/main/scripts/GEOffersSetupInit.rs2asm
  runelite-mixins/src/main/java/net/runelite/mixins/RSWidgetMixin.java
Labels: feature-request

#8197 item stats: fix detecting when GE has closed, fix threading issue
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatPlugin.java
Labels: bug

#7847 Add Swagger static document generation
  http-service/pom.xml
  http-service/src/main/java/net/runelite/http/service/account/AccountService.java
  http-service/src/main/java/net/runelite/http/service/cache/CacheController.java
  http-service/src/main/java/net/runelite/http/service/config/ConfigController.java
  http-service/src/main/java/net/runelite/http/service/examine/ExamineController.java
  http-service/src/main/java/net/runelite/http/service/feed/FeedController.java
  http-service/src/main/java/net/runelite/http/service/hiscore/HiscoreController.java
  http-service/src/main/java/net/runelite/http/service/item/ItemController.java
  http-service/src/main/java/net/runelite/http/service/loottracker/LootTrackerController.java
  http-service/src/main/java/net/runelite/http/service/osbuddy/OSBGrandExchangeController.java
  http-service/src/main/java/net/runelite/http/service/sprite/SpriteController.java
  http-service/src/main/java/net/runelite/http/service/worlds/WorldController.java
  http-service/src/main/java/net/runelite/http/service/xp/XpTrackerController.java
  http-service/src/main/java/net/runelite/http/service/xtea/XteaController.java
  http-service/src/main/templates/markdown.hbs
  http-service/src/main/templates/operation.hbs
  http-service/src/main/templates/security.hbs
  http-service/src/main/templates/template.html.hbs
Labels: feature-request

#8026 TabInterface: remember search when clicking withdraw-x
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#8222 Changed produce image of maple and yew trees to their respective logs
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/Produce.java
Labels: enhancement

#5770 Add attack level range to combat level plugin
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/combatlevel/CombatLevelConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/combatlevel/CombatLevelPlugin.java
  runelite-client/src/main/scripts/PvpWidgetBuilder.hash
  runelite-client/src/main/scripts/PvpWidgetBuilder.rs2asm
Labels: feature-request

#8212 NpcIndicator no longer displays tags above-head
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcSceneOverlay.java
Labels: bug

#8234 item stats: check if GE container is hidden when detecting GE close
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatPlugin.java
Labels: bug

#8148 Add location to coordinate clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: clues, feature-request

#7328 Add contract for farming guildmaster to menu entry swapper
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#8126 changed response.message() to call toString() instead
  http-api/src/main/java/net/runelite/http/api/feed/FeedClient.java
  http-api/src/main/java/net/runelite/http/api/hiscore/HiscoreClient.java
  http-api/src/main/java/net/runelite/http/api/item/ItemClient.java
  http-api/src/main/java/net/runelite/http/api/loottracker/LootTrackerClient.java
  http-api/src/main/java/net/runelite/http/api/osbuddy/OSBGrandExchangeClient.java
  http-api/src/main/java/net/runelite/http/api/worlds/WorldClient.java
  http-service/src/main/java/net/runelite/http/service/feed/blog/BlogService.java
  http-service/src/main/java/net/runelite/http/service/feed/osrsnews/OSRSNewsService.java
  http-service/src/main/java/net/runelite/http/service/feed/twitter/TwitterService.java
  http-service/src/main/java/net/runelite/http/service/item/ItemService.java
Labels: enhancement

#8214 Achievement Diary: Add Missing Requirements
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/ArdougneDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/FaladorDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/FremennikDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/KandarinDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/MorytaniaDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/WesternDiaryRequirement.java
Labels: enhancement

#7025 Add Chat filter plugin
  runelite-api/src/main/java/net/runelite/api/Actor.java
  runelite-api/src/main/java/net/runelite/api/events/OverheadTextChanged.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterType.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/JagexPrintableCharMatcher.java
  runelite-client/src/main/scripts/ChatBuilder.rs2asm
  runelite-client/src/main/scripts/ChatSplitBuilder.rs2asm
  runelite-client/src/test/java/net/runelite/client/plugins/chatfilter/ChatFilterPluginTest.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSActorMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSActor.java
Labels: feature-request

#6133 Add NPC unaggression timer
  runelite-api/src/main/java/net/runelite/api/coords/WorldArea.java
  runelite-api/src/main/java/net/runelite/api/geometry/Geometry.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/AggressionTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaNotWorkingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaPlugin.java
Labels: feature-request

#8277 ChatboxPanelManager: Be more resilient when scripts mismatch
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxPanelManager.java
Labels: bug

#8271 Properly check for empty strings in Twitch plugin and always close twitch client on connect
  runelite-client/src/main/java/net/runelite/client/plugins/twitch/TwitchPlugin.java
Labels: bug

#8287 Update CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: clues, enhancement

#8250 Remove incorrect farming guild hot-cold clue location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: bug, clues

#8241 Clue Scroll: Fixe Varrock East Bank Cryptic Clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#8283 chat filter: Fix issue where special attack overheads crashed the game
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterPlugin.java
Labels: bug

#8255 fixed typos in Hooks
  runelite-client/src/main/java/net/runelite/client/callback/Hooks.java
Labels: enhancement

#8102 Add brimstone chest support to loot tracker
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request

#8059 Make GPU plugin DPI aware on Java 9+
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
Labels: bug, gpu

#3380 Add ability to disable Left Click to bank inventory, equipment, and looting bag options
  runelite-api/src/main/java/net/runelite/api/events/MenuShouldLeftClick.java
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankCalculation.java
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/bank/BankCalculationTest.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSClientMixin.java
Labels: feature-request

#8325 Add !kc herbiboar
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: feature-request

#8311 Fix Skillcalc plugin for Dragon Fruit level
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_farming.json
Labels: bug, skill-calc

#8346 mixins: Fix convex hulls being incorrectly contoured
  runelite-api/src/main/java/net/runelite/api/Perspective.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSActorMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSDecorativeObjectMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSGameObjectMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSModelMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSNPCMixin.java
  runelite-mixins/src/main/java/net/runelite/mixins/RSPlayerMixin.java
  runescape-api/src/main/java/net/runelite/rs/api/RSModel.java
Labels: bug

#8345 Corrected wrong name on world map for Shayzien Teleport
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
Labels: bug, worldmap

#8265 Add pies to skill_cooking.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_cooking.json
Labels: skill-calc

#8266 Clue Scroll: Clarifies Pointed Blue Snelm
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#8360 Fix crystal chest in loot tracker
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: bug
