Repository runelite/runelite, pull requests merged in 2020-06, with the labels that each got.

#11555 Kick players by name
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
  runelite-client/src/main/scripts/ClanSendKick.rs2asm
Labels: feature-request

#11580 screenshot: fix method for naming quest complete screenshots
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: bug

#11562 Emoji: Add gorilla emoji with trigger :G
  runelite-client/src/main/java/net/runelite/client/plugins/emojis/Emoji.java
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/gorilla.png
Labels: feature-request

#11595 Add additional NPC indicator menu-entry highlights.
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
Labels: feature-request

#11757 clues: Add missing Agility and Max cape IDs to skill challenge
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: bug, clues

#11742 remove stamina timer upon entering the Gauntlet
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#11798 PluginManager: don't duplicate dependency plugins if they already exist
  runelite-client/src/main/java/net/runelite/client/plugins/PluginManager.java
Labels: bug

#11603 antidrag: Enable shift-antidrag in PvP regardless of onShiftOnly config
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragPlugin.java
Labels: enhancement

#11667 Reset metronome tick count when toggled on.
  runelite-client/src/main/java/net/runelite/client/plugins/metronome/MetronomePlugin.java
Labels: enhancement

#11749 login screen: reset fire state when disabling the plugin
  runelite-client/src/main/java/net/runelite/client/plugins/loginscreen/LoginScreenPlugin.java
Labels: bug

#11804 login screen: add darkmeyer login screen
  runelite-client/src/main/java/net/runelite/client/plugins/loginscreen/LoginScreenOverride.java
  runelite-client/src/main/resources/net/runelite/client/plugins/loginscreen/darkmeyer.jpg
Labels: enhancement

#11796 Fix MLM vein overlay not displaying on upper level
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
Labels: bug

#11813 IconTextField: fire clear listener after text has been cleared
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
  runelite-client/src/main/java/net/runelite/client/ui/components/IconTextField.java
Labels: bug, regression

#11831 clues: update ranging mix sherlock master challenge
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: clues, update-regression

#11844 Update Lumbridge guide's position for anagram clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: clues, update-regression

#11695 Loot Tracker: Removes CoX Duplicate Tracking Events
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: bug

#11609 item stats overlay - Limit bank widgets to item containers
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
Labels: bug

#11710 poh: Add portal icons for Arceuus teleports
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohIcons.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohOverlay.java
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/apeatolldungeon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/barrows.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/battlefront.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/cemetery.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/draynormanor.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/fenkenstrainscastle.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/harmonyisland.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/lumbridgegraveyard.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/mindaltar.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/salvegraveyard.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/westardougne.png
Labels: feature-request, worldmap

#11714 client: Add reset option to Agility lap counter session overlay
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/LapCounterOverlay.java
Labels: enhancement

#11612 item stats - Fix Sanfew Serum and Revitalisation bonus calculations
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/PrayerPotion.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/SuperRestore.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemstats/ItemStatEffectTest.java
Labels: bug, item-stats

#11720 infoboxmanager: Test infoboxes with same plugin and priority
  runelite-client/src/test/java/net/runelite/client/ui/overlay/infobox/InfoBoxManagerTest.java
Labels: enhancement

#11864 Fix Asgarnian Ice Dungeon spelling
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/DungeonLocation.java
Labels: enhancement

#11739 worldhopper: Fix other favorited worlds to retain menu state after re…
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldSwitcherPanel.java
Labels: bug

#11389 gpu: fix major visual glitches on linux
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/priority_render.glsl
Labels: bug, gpu, not-our-bug, regression

#11852 CrypticClue: Clarity pass on unclear solutions.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues, enhancement

#11884 clues: update location for Castle Drakan emote clue and STASH
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/STASHUnit.java
Labels: bug, clues, update-regression

#11866 Slayer plugin: add activate slayer gem functionality and fix existing…
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#11870 poh: Fix Altar of the Occult ID
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohIcons.java
Labels: bug

#11754 chatfilter: fix colored messages not being collapsed
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatfilter/ChatFilterPluginTest.java
Labels: bug

#11762 slayer: Highlight baby dragons on task
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: bug

#11594 Improve drift net plugin
  runelite-client/src/main/java/net/runelite/client/plugins/driftnet/DriftNet.java
  runelite-client/src/main/java/net/runelite/client/plugins/driftnet/DriftNetConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/driftnet/DriftNetOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/driftnet/DriftNetPlugin.java
Labels: enhancement

#11775 Update farming skill calculator with Sq'irk fruits and POH garden plants
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_construction.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_farming.json
Labels: enhancement, skill-calc

#11901 HotColdLocation: Add new Darkmeyer location, center some location spots
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#11776 Respect multiple displays when saving/loading client position
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#11859 LootTracker support for shade chests; support ground items
  runelite-client/src/main/java/net/runelite/client/game/LootManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request

#11899 Added if 76 Agility to BJS Clue for issue #11889
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: clues, enhancement

#11918 FriendsChatConfig: Fix config grammar
  runelite-client/src/main/java/net/runelite/client/plugins/friendschat/FriendsChatConfig.java
Labels: enhancement

#11927 clues: add mention that nechryael has to be in the slayer tower
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: bug, clues

#11907 Better description of Ice Mountain location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: clues, enhancement

#11924 Add toggle to remove spellbook tooltips
  runelite-client/src/main/java/net/runelite/client/plugins/mousehighlight/MouseHighlightConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/mousehighlight/MouseHighlightOverlay.java
Labels: feature-request

#11839 Skill Calculator - Add Daeyalt essence bonus
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_runecraft.json
Labels: enhancement, skill-calc

#11788 Add dedicated toggles for NPC highlighting styles
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcSceneOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/RenderStyle.java
Labels: feature-request

#11790 antidrag: add antidrag to inventory when bank interface is open
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragPlugin.java
Labels: feature-request

#11799 agility: Fix config order
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityConfig.java
Labels: enhancement

#11802 chatcommands: don't throw every tick if the player has opened a scroll
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: bug

#11828 xp tracker: add option to sort skills by most recently gained xp
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerConfig.java
Labels: feature-request

#11966 SkillChallengeClue: Fix "Mine a mithril ore" step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: bug, clues

#11660 banktags: save last opened tab when opening worn items
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: feature-request

#11825 item charges: update amulet of chemistry charges when creating less than 4-dose potions
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemcharges/ItemChargePluginTest.java
Labels: bug

#11845 mining: Daeyalt essence timers
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
Labels: feature-request

#11954 Add remaining Darkmeyer content to worldmap/discord plugins
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/MiningSiteLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/drakans_medallion_teleport_icon.png
Labels: discord, enhancement, worldmap

#11624 ClientUI: Remember sidebar state
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: feature-request

#11835 Fix the 24+ player team size bug for cox pb and allow for pb times from raid end message
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: bug, enhancement

#11861 Add standard Casket to loot tracker
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request

#11724 Add timeout config option to clanchat join/leave message dissappearing.
  runelite-client/src/main/java/net/runelite/client/plugins/friendschat/FriendsChatConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/friendschat/FriendsChatPlugin.java
Labels: enhancement

#11718 Pyramid plunder
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/pyramidplunder/PyramidPlunderConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/pyramidplunder/PyramidPlunderOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/pyramidplunder/PyramidPlunderPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/pyramidplunder/PyramidPlunderTimer.java
Labels: feature-request

#11967 menuentryswapper: Fix birdhouse swap
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPluginTest.java
Labels: bug

#11977 TextComponent: Draw outline using one axis offset at a time
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TextComponent.java
Labels: enhancement

#11934 added support for crystal axe in enchanted valley clue step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#11983 widgets: Fix resizable minimap container ID
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
Labels: bug

#11975 ClientUI: Fix panel toggle after closing with click
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#11989 menuentryswapper: Fix claim slime swap
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug

#11976 bank plugin: Remove ContainerCalculation class
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/bank/ContainerCalculation.java
  runelite-client/src/test/java/net/runelite/client/plugins/bank/BankPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/bank/ContainerCalculationTest.java
Labels: bug

#11991 AnagramClue: Fix Cam the Camel elite step text
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: bug, clues

#11990 ClientUI: Allow hotkey plugin panel toggles on login screen
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: enhancement
