Repository runelite/runelite, pull requests merged in 2020-08, with the labels that each got.

#11879 inventory-grid: show grid when viewing bank
  runelite-client/src/main/java/net/runelite/client/plugins/inventorygrid/InventoryGridOverlay.java
Labels: feature-request

#12270 agility: Fix prif portal highlighting
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityOverlay.java
Labels: bug

#12265 achivement dairy plugin: add satisfiesRequirement to Requirement
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/CombatLevelRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/DiaryRequirementsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/FavourRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/OrRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/QuestPointRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/QuestRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/Requirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/SkillRequirement.java
Labels: enhancement

#12002 Added Advisor Ghrim Collect swap to Menu Entry Swapper
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#11995 Add notification BEFORE nmz overload expires
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZoneConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
Labels: enhancement

#12237 Add bird nest to loot tracker plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: enhancement, loot-tracker

#12273 Aligns the Misthalin mystery quest start icon on the world map
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/QuestStartLocation.java
Labels: bug, worldmap

#12297 clues: Update 'Headbang at the exam centre' hard clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, update-regression

#12286 Add Bryophyta's staff mapping
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement

#12300 slayer: Fix slaughter bracelet proc text
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug, update-regression

#11862 Chest-a-palooza: track grubby, stone, Dorgesh-Kaan and HAM chests in …
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request

#12027 chatcommands: make cox pb account for 11-15 and 16-23 team sizes
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: bug

#12321 mousehighlight: make "drop" not show when interface tooltips are off
  runelite-client/src/main/java/net/runelite/client/plugins/mousehighlight/MouseHighlightOverlay.java
Labels: bug

#9642 Add a zalcano helper plugin
  runelite-api/src/main/java/net/runelite/api/GraphicID.java
  runelite-api/src/main/java/net/runelite/api/ProjectileID.java
  runelite-client/src/main/java/net/runelite/client/plugins/zalcano/ZalcanoOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/zalcano/ZalcanoPlugin.java
Labels: feature-request

#12345 clue: Fix K'ril's chamber master clue step plane
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#7591 Make the LootTrackerClient log when submitting isn't successful
  http-api/src/main/java/net/runelite/http/api/loottracker/LootTrackerClient.java
Labels: enhancement

#12131 Add Anisotropic Filtering
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GLUtil.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPluginConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/TextureManager.java
Labels: feature-request, gpu

#12208 Dev Tools - Add Inventory Inspector
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/InventoryDeltaPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/InventoryInspector.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/InventoryItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/InventoryLog.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/InventoryLogNode.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/InventoryTreeNode.java
Labels: feature-request

#12212 Prayer: Fixed time remaining text when time was greater than an hour
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/prayer/PrayerPluginTest.java
Labels: bug

#10880 Remove deprecated/default Travis config
  .travis.yml
Labels: enhancement

#11993 ItemIdentification: Add identification option for Tablets
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationOverlay.java
Labels: feature-request

#12271 bank tags: invoke only the scrollbar update after removing separators
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
Labels: bug

#12333 Rellekka NPCs travel destinations added to menu entry swapper
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug, update-regression

#12348 chat commands: add Nightmare abbreviations
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: enhancement

#12342 Bank Plugin: fixed a NPE when opening and closing the bank too quickly
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
Labels: bug

#12380 World Map: adjusted the height of tooltip text to match vanilla tooltips
  runelite-client/src/main/java/net/runelite/client/ui/overlay/worldmap/WorldMapOverlay.java
Labels: enhancement

#12379 Blast Furnace: Use border color for clickbox overlay fills
  runelite-client/src/main/java/net/runelite/client/plugins/blastfurnace/BlastFurnaceClickBoxOverlay.java
Labels: enhancement

#12403 Super antipoison itemstats duration fix
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/PotionDuration.java
Labels: bug

#12408 ItemMapping: Edit Ring of Endurance
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: bug

#12413 slayer: fix Tzhaar SlayerUnlock enum typo
  runelite-api/src/main/java/net/runelite/api/vars/SlayerUnlock.java
Labels: bug

#12330 timetracking: add configuration for displaying time in 12 hour format
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/OverviewTabPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TabContentPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TimeFormatMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TimeTrackingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingContractInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingTabPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/hunter/BirdHouseTabPanel.java
Labels: feature-request

#12387 Specify utf8 encoding
  cache/src/main/java/net/runelite/cache/fs/flat/FlatStorage.java
  cache/src/main/java/net/runelite/cache/io/OutputStream.java
  cache/src/main/java/net/runelite/cache/script/assembler/Assembler.java
  cache/src/test/java/net/runelite/cache/script/assembler/AssemblerTest.java
  cache/src/test/java/net/runelite/cache/script/disassembler/DisassemblerTest.java
  cache/src/test/java/net/runelite/cache/util/XteaTest.java
  http-api/src/main/java/net/runelite/http/api/account/AccountClient.java
  http-api/src/main/java/net/runelite/http/api/chat/ChatClient.java
  http-api/src/main/java/net/runelite/http/api/config/ConfigClient.java
  http-api/src/main/java/net/runelite/http/api/feed/FeedClient.java
  http-api/src/main/java/net/runelite/http/api/item/ItemClient.java
  http-api/src/main/java/net/runelite/http/api/loottracker/LootTrackerClient.java
  http-api/src/main/java/net/runelite/http/api/npc/NpcInfoClient.java
  http-api/src/main/java/net/runelite/http/api/osbuddy/OSBGrandExchangeClient.java
  http-api/src/main/java/net/runelite/http/api/worlds/WorldClient.java
  http-api/src/main/java/net/runelite/http/api/xtea/XteaClient.java
  http-service/src/main/java/net/runelite/http/service/feed/FeedController.java
  http-service/src/main/java/net/runelite/http/service/feed/twitter/TwitterService.java
  http-service/src/main/java/net/runelite/http/service/item/ItemService.java
  runelite-client/src/main/java/net/runelite/client/SessionClient.java
  runelite-client/src/main/java/net/runelite/client/account/SessionManager.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/game/ItemVariationMapping.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GLUtil.java
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/template/Template.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/CacheSkillData.java
  runelite-client/src/main/java/net/runelite/client/plugins/skybox/Skybox.java
  runelite-client/src/main/java/net/runelite/client/plugins/twitch/TwitchPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/twitch/irc/TwitchIRCClient.java
  runelite-client/src/main/java/net/runelite/client/rs/ClientConfigLoader.java
  runelite-client/src/main/java/net/runelite/client/util/ImageCapture.java
  runelite-client/src/test/java/net/runelite/client/plugins/discord/DiscordStateTest.java
Labels: bug

#12341 screenshot: Fix BA high gamble toggle
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: bug

#12355 UI Component: color slider resized to fit knob at max rgba values
  runelite-client/src/main/java/net/runelite/client/ui/components/colorpicker/ColorValueSlider.java
  runelite-client/src/main/java/net/runelite/client/ui/components/colorpicker/RuneliteColorPicker.java
Labels: bug
