Repository runelite/runelite, pull requests merged in 2020-07, with the labels that each got.

#12050 cache: add default values to HealthBarDefinition
  cache/src/main/java/net/runelite/cache/definitions/HealthBarDefinition.java
Labels: enhancement

#10407 Random Events plugin - Additional options
  runelite-client/src/main/java/net/runelite/client/plugins/randomevents/RandomEventConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/randomevents/RandomEventPlugin.java
Labels: feature-request

#11874 chat notification: Apply notifyOnOwnName when player-mentioned only
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPlugin.java
Labels: bug

#12024 clue: add Varrock armour 4 to prospector outfit
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: clues, enhancement

#11938 widget-overlay: make encounter health bar moveable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: enhancement

#12061 agility: add missing Meiyerditch obstacle highlights
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#12048 Key Mapping Plugin and authenticator
  runelite-client/src/main/java/net/runelite/client/input/KeyManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/keyremapping/KeyRemappingListener.java
  runelite-client/src/test/java/net/runelite/client/plugins/keyremapping/KeyRemappingListenerTest.java
Labels: bug

#12062 tooltips: make overlay color background option affect tooltips
  runelite-client/src/main/java/net/runelite/client/ui/overlay/tooltip/TooltipOverlay.java
Labels: bug

#11940 Add GE links to the offers panel
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeItemPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
Labels: feature-request

#11972 slayer: Update initial amount if current amount is higher
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#12103 Add Nullable decorator to widget getter api
  runelite-api/src/main/java/net/runelite/api/Client.java
Labels: enhancement

#12101 KeyListener: Add isEnabledOnLoginScreen() method
  runelite-client/src/main/java/net/runelite/client/input/KeyListener.java
  runelite-client/src/main/java/net/runelite/client/input/KeyManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/loginscreen/LoginScreenPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/util/HotkeyListener.java
Labels: bug

#12119 xpdrops: Fix white xp drop text recolors
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
Labels: bug

#11916 Change thin progress bar to have darker background for the unfinished portion
  runelite-client/src/main/java/net/runelite/client/ui/components/ThinProgressBar.java
Labels: enhancement

#11881 ItemChargeConfig: Fix grammar and wording
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeConfig.java
Labels: enhancement

#12110 runelite-client: avoid Widget::getDynamicChildren where trivial
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
  runelite-client/src/main/java/net/runelite/client/plugins/examine/ExaminePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
Labels: enhancement

#12108 npchighlight: don't unhighlight name tagged npcs if unindex-tagging them
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPluginTest.java
Labels: bug

#11999 rl-client: Prevent chat inputs from taking keys from the worldmap search
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxItemSearch.java
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxPanelManager.java
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxTextInput.java
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxTextMenuInput.java
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiSearchChatboxTextInput.java
Labels: bug

#11900 ChatFilter: Add config section for Filter Lists
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterConfig.java
Labels: enhancement

#11903 agility: Add config for Sepulchre obstacles and skill obstacles
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#12156 EmoteClue: Specify uncharged glory amulet when needed
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, enhancement

#6819 Bank Tags: remove tab separators in tag tabs
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: feature-request

#12202 Fix sprite id of "UNKNOWN_STANCE_ICON_2"
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
Labels: bug

#12200 make hallowed sepulchre timer layoutable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: feature-request

#12132 Cannon Plugin: Add more common cannon spots
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: enhancement

#12099 slayer: add missing task locations
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: bug

#12172 FaloTheBardClue: Add Avernic to Defender step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FaloTheBardClue.java
Labels: clues, enhancement

#12140 clues: Fix champs guild beginner clue description
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/BeginnerMapClue.java
Labels: clues

#12134 Change names of Poison Ivy and Dwarf Weed in TimeTracker plugin for consistency
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/Produce.java
Labels: bug

#12146 clues: add location descriptions for MapClues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/BeginnerMapClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues, enhancement

#12151 Fix minimum overlay size resizing
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug

#12030 Fairy ring at Sinclair mansion - QoL for Falo the bard & remove old identifier
  runelite-client/src/main/java/net/runelite/client/plugins/fairyring/FairyRings.java
Labels: enhancement

#12217 SkillChallengeClue: Dragonhide instead of d'hide
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: clues, update-regression

#12246 agility plugin: increase number of laps for laps per hour calculation
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilitySession.java
Labels: bug

#12071 Add ability to automatically screenshot Barbarian Assault high gamble rewards
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: feature-request

#12213 EmoteClue: Update location of clues from Digsite to Exam Centre
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, enhancement

#12078 cannon: Add Bloodveld cannon spot in Meiyerditch Laboratory
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: enhancement

#12203 Emoji additions
  runelite-client/src/main/java/net/runelite/client/plugins/emojis/Emoji.java
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/pleading.png
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/xd.png
Labels: feature-request

#12138 prayer: Fix typo in PrayerType
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerType.java
Labels: bug

#12075 discord: add missing castle wars regionID
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: enhancement
