Repository runelite/runelite, pull requests merged in 2020-01, with the labels that each got.

#10524 Add getVar methods for external plugins
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-api/src/main/java/net/runelite/api/annotations/VisibleForExternalPlugins.java
Labels: enhancement

#10547 clues: add Lava battlestaff (or) to the Trollheim emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#10551 Show raids loot value at the end of the raid
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/raids/RaidsPluginTest.java
Labels: feature-request

#10557 hiscore api: add Callisto and Cerberus
  http-api/src/main/java/net/runelite/http/api/hiscore/HiscoreResultBuilder.java
  http-service/src/test/java/net/runelite/http/service/hiscore/HiscoreServiceTest.java
Labels: enhancement

#10561 add toggle for visibility of agility course clickboxes
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityOverlay.java
Labels: feature-request

#10554 Fix ToB door quick-enter swap and add a test for it
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPluginTest.java
Labels: bug

#10478 Skill Calculator calculates XP on focusout
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
Labels: feature-request

#10573 cluescrolls: update hint for Duel Arena Coordinate Clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: bug, clues

#10472 Added target level functionality for skill calculator
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
Labels: enhancement

#10534 world hopper plugin: make world pings persist across world fetches
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldSwitcherPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableRow.java
Labels: enhancement

#10530 grounditems: show your dropped items with onlyShowLoot active
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/LootType.java
Labels: feature-request

#10586 add shift click swap to npc contact spell
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#10539 Add all four sq'irkjuices to the thieving skill calculator.
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_thieving.json
Labels: enhancement, skill-calc

#10600 Add reanimated monsters to npc_health.json
  runelite-client/src/main/resources/npc_health.json
Labels: enhancement

#10609 Fix typo in 'Swap Bank Op' description
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
Labels: enhancement

#10550 Added the ability to mark ignored players inside clan chat
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
  runelite-client/src/main/scripts/ClanChatChannelRebuild.hash
  runelite-client/src/main/scripts/ClanChatChannelRebuild.rs2asm
Labels: feature-request

#8555 Fix client not coming to front on Windows while using "Request focus on notification"
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#9821 Add ability to move LMS info box
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: feature-request

#10639 Fixes cox personal best time tracking
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: bug

#10641 clanchat plugin: strip leading / from clan tab chat messages
  runelite-client/src/main/java/net/runelite/client/plugins/clanchat/ClanChatPlugin.java
Labels: enhancement

#10633 Elf Camp -> Iorwerth Camp in coordinate clues and hotcold clue locations
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#10631 Shift-Click to Withdraw-All/Deposit-All
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/ShiftDepositMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/ShiftWithdrawMode.java
  runelite-client/src/test/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPluginTest.java
Labels: feature-request
