Repository runelite/runelite, pull requests merged in 2020-09, with the labels that each got.

#12441 cluescrolls: add fairy ring codes to emote clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, enhancement

#12429 clues: fix coordinates for Watchtower master emote step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#12422 menuentryswapper: Island of Stone fast-travel
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#12410 Update stunned abyssal sire NpcId
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: bug

#12412 Add carpenter outfit into construction skill calculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_construction.json
Labels: feature-request

#12464 timers: add Mage Arena 2 teleblock patterns.
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#12462 corp: Add toggle for dark energy core highlighting.
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CoreOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/corp/CorpConfig.java
Labels: enhancement

#12460 slayer: Alphabetical sorting in Task enum. Add Black Knights and pirates.
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#12456 Enhancement: Add Blisterwood Logs to Skill Calculator Plugin
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_firemaking.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_woodcutting.json
Labels: enhancement, skill-calc

#12476 config: implicitly tag all hub plugins as pluginhub
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginListItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginListPanel.java
Labels: enhancement, external-plugins

#12336 Clues: Support Trouver items
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FaloTheBardClue.java
Labels: bug, clues

#12414 Added hallowed sepulchre floors into the agility calculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_agility.json
Labels: feature-request, skill-calc

#12481 updated gem rock respawn to 99 ticks
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
Labels: enhancement

#12479 Quest: Add A Porcine of Interest and Daddy's Home
  runelite-api/src/main/java/net/runelite/api/Quest.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/DungeonLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/QuestStartLocation.java
Labels: worldmap

#12498 achievementdiary: Fix Western Provinces quest requirement
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/WesternDiaryRequirement.java
Labels: bug

#12377 discord: add all regions in Gielinor
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordAreaType.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
Labels: enhancement

#12507 discord: fix Barbarian Assault regions
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: bug

#11782 Merge UntradeableItemMapping and ItemMapping
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
  runelite-client/src/main/java/net/runelite/client/game/UntradeableItemMapping.java
Labels: enhancement

#12520 clues: Add updated Ardougne cryptic clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#12519 clues: Add updated Falador cryptic clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#12506 plugin: Add new Gu'Tanoth agility shortcut highlight
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: feature-request

#12509 mining: add overheard mining animations
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Pickaxe.java
Labels: bug

#12510 motherlode: add 3a pickaxe
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOverlay.java
Labels: bug

#12430 Inferno timer improvements
  runelite-client/src/main/java/net/runelite/client/plugins/timers/ElapsedTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/timers/ElapsedTimerTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/timers/TimersPluginTest.java
Labels: enhancement

#12489 skybox: include twisted league and hosidius POH themes
  runelite-client/src/main/resources/net/runelite/client/plugins/skybox/skybox.txt
Labels: enhancement, skybox

#12531 cannon: sort spots, update mammoth spot
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: enhancement

#12530 timers: add world placed to cannon timer tooltip
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#12559 Add birdhouses to loot tracker plugin
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/loottracker/LootTrackerPluginTest.java
Labels: enhancement

#12399 DevTools: Add Movement Flags DevTools Plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/MovementFlag.java
Labels: feature-request

#12555 Move Crowdsourcing plugin from hub to default client
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/CrowdsourcingManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/CrowdsourcingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/cooking/CookingData.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/cooking/CrowdsourcingCooking.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/dialogue/CrowdsourcingDialogue.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/dialogue/DialogueOptionsData.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/dialogue/NpcDialogueData.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/dialogue/PlayerDialogueData.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/movement/CrowdsourcingMovement.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/movement/MovementData.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/music/CrowdsourcingMusic.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/music/MusicUnlockData.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/skilling/SkillingEndReason.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/skilling/SkillingState.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/thieving/CrowdsourcingThieving.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/thieving/PickpocketData.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/woodcutting/CrowdsourcingWoodcutting.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/woodcutting/WoodcuttingData.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/zmi/CrowdsourcingZMI.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/zmi/ZMIData.java
Labels: feature-request

#12472 Move Experience tests to proper test class
  runelite-api/src/test/java/net/runelite/api/ExperienceTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/combatlevel/CombatLevelPluginTest.java
Labels: enhancement
