Repository runelite/runelite, pull requests merged in 2020-04, with the labels that each got.

#9599 prayer: display prayer time remaining in prayer orb
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerDoseOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerPlugin.java
Labels: feature-request

#9980 boosts: Hide restore timer when no boosts are visible
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostIndicator.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
Labels: bug

#9975 Fix woodcutting overlay hiding during long chop delays
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/Axe.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingSession.java
Labels: bug

#11052 Nmz Plugin - Fix area check to exclude KBD lair
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
Labels: bug

#11066 runenergy: update graceful recovery rate logic to reflect 9 Jan game update
  runelite-client/src/main/java/net/runelite/client/plugins/runenergy/RunEnergyPlugin.java
Labels: update-regression

#11128 Fix Jormungand's prison task location for the Slayer Plugin
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: bug

#11165 Notifier: Reuse Clip instances
  runelite-client/src/main/java/net/runelite/client/Notifier.java
Labels: bug

#7500 Add GE Fuzzy Search Option
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeSearchMode.java
Labels: feature-request

#11140 Toggleable prayer sounds
  runelite-api/src/main/java/net/runelite/api/SoundEffectID.java
  runelite-client/src/main/java/net/runelite/client/plugins/music/MusicConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/music/MusicPlugin.java
Labels: feature-request

#10875 player-indicators: highlight the 'Walk here' menu entry too
  runelite-api/src/main/java/net/runelite/api/MenuAction.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
Labels: bug

#11148 barrowsplugin: fix null pointer exception in region check
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsPlugin.java
Labels: bug

#7102 ChatMessageManager: Don't set timestamp if it's default
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
Labels: bug

#11112 Quest Plugin: Fix null filter state bug
  runelite-client/src/main/java/net/runelite/client/plugins/questlist/QuestListPlugin.java
Labels: bug

#11176 NPC Agression Timer: fix typo in notification
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaPlugin.java
Labels: bug

#11182 HotColdLocation: Center Rimmington mine dig location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#11035 Kourend library features
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/BookPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
Labels: feature-request

#11063 music, camera: volume & zoom slider tooltips
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-api/src/main/java/net/runelite/api/VarClientInt.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/camera/CameraOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/camera/CameraPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/music/MusicPlugin.java
Labels: enhancement

#11209 music: revalidate slider handle on creation
  runelite-client/src/main/java/net/runelite/client/plugins/music/MusicPlugin.java
Labels: bug

#11036 Revert Shift Anti-Drag and Disable in PvP Scenarios
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragPlugin.java
Labels: feature-request

#11216 HotColdLocation: Center some location spots
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#11222 Corrected LMS info and KDA widget postitions.
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: enhancement

#11195 http-api: remove unused fields from NPCInfo
  http-api/src/main/java/net/runelite/http/api/npc/NpcInfo.java
Labels: enhancement

#11214 camera: add option to invert camera mouse controls
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/camera/CameraConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/camera/CameraPlugin.java
Labels: feature-request

#11225 grounditems: don't crash when having a duplicate highlight value
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: bug, regression

#9610 bank plugin: improve responsiveness of bank searches
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/BankSearch.java
Labels: enhancement

#11218 runelite-client: add ClientShutdown event
  http-api/src/main/java/net/runelite/http/api/config/ConfigClient.java
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/ClientSessionManager.java
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/eventbus/EventBus.java
  runelite-client/src/main/java/net/runelite/client/events/ClientShutdown.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: enhancement

#11251 Replace vamb with vambraces in emote clues.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, update-regression

#11234 Add eternal teleport crystal value offset
  runelite-client/src/main/java/net/runelite/client/plugins/itemskeptondeath/FixedPriceItem.java
Labels: update-regression

#11282 Fix shift-modifier for deposit box after new interface update
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: update-regression

#11286 player-indicators: fix right-click menu targets expanding forever
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
Labels: bug, regression

#11287 GE Plugin: Fix fuzzy search highlighting
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/grandexchange/GrandExchangePluginTest.java
Labels: bug

#11292 fishing & idle notifer: add pearl rod animations
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: bug, regression

#11299 fishing & idle notifer: add oily pearl rod animations
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: bug

#11296 antidrag: fix onShiftOnly not being respected when opening the bank
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragPlugin.java
Labels: bug, regression

#11320 Added ItemID.DRAGONSTONE_BRACELET to the Unenchanted dragonstone jewe…
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: bug, clues

#11317 Properly address Grand Exchange price as 'GE' abbreviation instead of 'EX'
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
Labels: enhancement

#11314 idle notifier: add support for enchanting bolts
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#11324 Prevent HotkeyListener from consuming input on login screen
  runelite-client/src/main/java/net/runelite/client/input/KeyManager.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/util/HotkeyListener.java
Labels: enhancement

#11323 Prevent screen marker overlays from being reset
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/Overlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug

#11249 interfacestyles: update widget bounds before every render
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
Labels: bug, regression

#11252 hitsplats: add missing multihitsplat varients
  runelite-api/src/main/java/net/runelite/api/Hitsplat.java
  runelite-client/src/main/java/net/runelite/client/plugins/dpscounter/DpsCounterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounterPlugin.java
Labels: enhancement

#11300 Added the ability to loop Time Tracking plugin timers.
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/clocks/ClockManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/clocks/ClockTabPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/clocks/Timer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/clocks/TimerPanel.java
  runelite-client/src/main/resources/net/runelite/client/plugins/timetracking/loop_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/timetracking/loop_selected_icon.png
Labels: feature-request

#11350 clues: add twisted slayer helm to war guild steps
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#11366 api: correct pearl fly fishing and barbarian rod animations
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
Labels: bug

#11363 add the animation id of attaching bolt tips from bronze to rune
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#11238 More specific location for an elite emote clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, enhancement

#11327 item stats: fix worn items bank menu incorrect weights
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
Labels: bug

#11169 Add region filter to world quick-hopping
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/RegionFilterMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
Labels: feature-request

#11183 quest list: stop chat input from closing when pressing enter
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxTextInput.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
  runelite-client/src/main/java/net/runelite/client/plugins/fairyring/FairyRingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/music/MusicPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/questlist/QuestListPlugin.java
Labels: feature-request

#11132 Fixed typo in account plugin
  runelite-client/src/main/java/net/runelite/client/plugins/account/AccountPlugin.java
Labels: enhancement

#10575 Move bank equipment button into title bar
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: enhancement

#11310 Add wise old man tracking to xp updater plugin
  runelite-client/src/main/java/net/runelite/client/plugins/xpupdater/XpUpdaterConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpupdater/XpUpdaterPlugin.java
Labels: discussion, feature-request
