Repository runelite/runelite, pull requests merged in 2020-03, with the labels that each got.

#10850 mining: add urt, efh, te and basalt respawn timers
  runelite-client/src/main/java/net/runelite/client/plugins/mining/MiningOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Rock.java
Labels: enhancement

#10421 Adventure log pbs
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: enhancement

#10657 Separate Wintertodt Notification Options
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/WintertodtConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/WintertodtPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/config/WintertodtNotifyDamage.java
Labels: enhancement

#10830 config: fix entering values directly into options with units not working
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/UnitFormatter.java
Labels: bug

#10873 Make Highlight value take priority over other value thresholds
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: bug

#10858 Add screenshot subdirectories
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/util/ImageCapture.java
Labels: feature-request

#8562 reportbutton: Add Game Ticks option
  runelite-client/src/main/java/net/runelite/client/plugins/reportbutton/ReportButtonPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/reportbutton/TimeStyle.java
Labels: feature-request

#10865 loot tracker: add drift net reward
  runelite-api/src/main/java/net/runelite/api/InventoryID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: enhancement, loot-tracker

#10920 Add AM/PM description to Timestamp Plugin Config
  runelite-client/src/main/java/net/runelite/client/plugins/timestamp/TimestampConfig.java
Labels: enhancement

#10931 item stats: Fix tooltip stab bonus comparison
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
Labels: bug, regression

#10917 HotColdLocation: Center South-east Dark Warriors' Fortress location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#10927 emote clue: Add missing ornament items
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues, enhancement

#10019 [Item Charges] Add Amulet of Chemistry and Bounty
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeType.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemWithSlot.java
Labels: feature-request

#10953 item stats overlay: Fix unarmed attack speed, add tooltip tests
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatOverlay.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemstats/ItemStatOverlayTest.java
Labels: bug

#10915 Add shift-modifier to bank deposit box
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/ShiftDepositMode.java
Labels: feature-request

#3388 Add 2006 interface
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/Skin.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/SpriteOverride.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/WidgetOffset.java
Labels: feature-request

#9940 agility: account for bonus exp from agility pyramid
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilitySession.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Courses.java
Labels: bug

#10797 client: add sessionfile and config arguments
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/RuneLiteModule.java
  runelite-client/src/main/java/net/runelite/client/account/SessionManager.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/test/java/net/runelite/client/config/ConfigManagerTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/PluginManagerTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/loottracker/LootTrackerPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/motherlode/MotherlodePluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/raids/RaidsPluginTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: feature-request

#10893 Fix Shift Anti Drag default bank drag delay
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragPlugin.java
Labels: bug, needs-information

#10887 Update Eluned cryptic clue message
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
Labels: clues

#10967 runelite-client: Make gauntlet timer layoutable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: enhancement

#10916 worldmap: add targets to Wilderness Levers & clarify their tooltips
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPointLocation.java
Labels: feature-request

#10970 client: fix default sessionfile/config args
  runelite-client/src/main/java/net/runelite/client/RuneLite.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/test/java/net/runelite/client/config/ConfigManagerTest.java
  runelite-client/src/test/java/net/runelite/client/plugins/PluginManagerTest.java
Labels: bug

#10932 Added Fairy Ring codes to beginner Wizard's Tower clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/BeginnerMapClue.java
Labels: clues

#10942 widgetid: fix lms ingame info
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
Labels: bug

#10957 api: fix venom hitsplat sprite id
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
Labels: bug

#9116 Reset Discord status after a while of being in menu
  runelite-client/src/main/java/net/runelite/client/discord/DiscordPresence.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordState.java
  runelite-client/src/test/java/net/runelite/client/plugins/discord/DiscordStateTest.java
Labels: discord, enhancement

#10994 inventory grid: fix showing the replaced item in the initial spot
  runelite-client/src/main/java/net/runelite/client/plugins/inventorygrid/InventoryGridOverlay.java
Labels: bug, regression

#11002 menuentryswapper: swap talk-to with teleport on rune essence mine npcs
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#10776 Add NamedObjectClueScroll interface, highlight broken Dorgesh-kaan lamps
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/NamedObjectClueScroll.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: clues, feature-request

#10901 Add clue text for stealing from ardougne chest after SotE completion …
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: bug, clues

#10974 HotColdLocation: Center some location spots
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
  runelite-client/src/test/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdSolverTest.java
Labels: clues, enhancement

#11007 menu entry swapper: update essence mine description to include all npcs
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
Labels: enhancement

#10983 Add panel component tooltips and migrate XpGlobesOverlay tooltips to new system
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/TooltipComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/tooltip/Tooltip.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/tooltip/TooltipOverlay.java
Labels: bug, enhancement

#11012 Added nightmare dungeon and nightmare boss to discord game events.
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: discord, enhancement

#10913 Add an option to show the average amount for a loot source in the loot tracker
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
Labels: feature-request

#10945 Hiscore: autocomplete recent search history
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/NameAutocompleter.java
  runelite-client/src/test/java/net/runelite/client/plugins/hiscore/HiscorePanelTest.java
Labels: feature-request

#11018 Added entries for prifddinas mining sites.
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/MiningSiteLocation.java
Labels: enhancement

#10895 Skill Calculator: Fetch only the XP when opening the same skill
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
Labels: feature-request

#11017 chatcommands: Don't remove spaces before cleared word
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatKeyboardListener.java
Labels: enhancement

#11010 Added nightmare dungeon area to skybox.txt
  runelite-client/src/main/resources/net/runelite/client/plugins/skybox/skybox.txt
Labels: enhancement, skybox

#11011 Added common cannoning spot for Lizard Shamans.
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: feature-request

#11021 Added option to use equipped weapon image as cursor.
  runelite-client/src/main/java/net/runelite/client/plugins/customcursor/CustomCursor.java
  runelite-client/src/main/java/net/runelite/client/plugins/customcursor/CustomCursorPlugin.java
Labels: feature-request

#11028 Corrected Gnome Stronghold dungeon Bloodvelds cannon location.
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: enhancement

#11016 friendslist: update titles using onScriptPostFired rather than onGameTick
  runelite-client/src/main/java/net/runelite/client/plugins/friendlist/FriendListPlugin.java
Labels: enhancement

#11046 Added Black Knights cannoning spot in Taverley Dungeon
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: feature-request

#11038 widget: Expose model id, rotation, and zoom accessors
  runelite-api/src/main/java/net/runelite/api/widgets/Widget.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetModelType.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInfoTableModel.java
Labels: enhancement

#10497 herbiboar: use guaranteed tracks when highlighting path
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarRule.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarSearchSpot.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarStart.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/HerbiboarTrail.java
  runelite-client/src/main/java/net/runelite/client/plugins/herbiboars/TrailToSpot.java
Labels: enhancement

#11062 spec counter plugin: fix other NPC hitsplats affecting specs
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounterPlugin.java
Labels: bug

#11130 clues: update Immenizz's master clue to reflect his NPC's name change
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: bug, clues

#10682 Highlight 'Stick' in Werewolf Agility Course
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
Labels: feature-request

#11147 Add support for Gilded Tools
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/WintertodtPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/Axe.java
Labels: bug

#10985 Allow Loot Tracker to track Herbiboar loot with an Open Herb Sack
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/loottracker/LootTrackerPluginTest.java
Labels: bug, enhancement, loot-tracker

#11126 OverlayRenderer: prevent moving DYNAMIC and TOOLTIP overlays
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug

#11134 Fix addModalTooltip to show tooltip before interaction
  runelite-client/src/main/java/net/runelite/client/util/SwingUtil.java
Labels: bug

#10009 Fix slayer ring teleport location
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
Labels: bug

#10908 Check player animation to update fishing status
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
Labels: bug

#11138 Hide prayer flick indicator when minimap is hidden
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerFlickOverlay.java
Labels: bug
