Repository runelite/runelite, pull requests merged in 2020-10, with the labels that each got.

#12473 KeyManager: Add debug logging
  runelite-client/src/main/java/net/runelite/client/input/KeyManager.java
Labels: enhancement

#12466 banktags: Don't lose scroll position when hiding separators
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
Labels: bug

#12488 runecraft: cleanup
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/AbyssRifts.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/runecraft/RunecraftPlugin.java
Labels: enhancement

#12494 config: Add infobox component outline option
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/InfoBoxComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxOverlay.java
Labels: enhancement

#12496 util: Remove unused and unneeded methods
  runelite-client/src/main/java/net/runelite/client/util/ColorUtil.java
  runelite-client/src/main/java/net/runelite/client/util/ImageUtil.java
  runelite-client/src/test/java/net/runelite/client/util/ColorUtilTest.java
  runelite-client/src/test/java/net/runelite/client/util/ImageUtilTest.java
Labels: enhancement

#12432 Sort plugin search results with better text matches higher in search results
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginHubPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginListItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginListPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginSearch.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/SearchablePlugin.java
  runelite-client/src/main/java/net/runelite/client/util/Text.java
  runelite-client/src/test/java/net/runelite/client/plugins/config/PluginSearchTest.java
Labels: enhancement

#12594 Fix screenshot with hidpi scaling with GPU plugin
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
Labels: bug

#12610 ground markers: add tile labels
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/ColorTileMarker.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPoint.java
Labels: feature-request

#12608 timetracking: correctly bound Catherby patches
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingTracker.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingWorld.java
Labels: bug

#12605 cannonplugin: Check world when drawing overlay
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonPlugin.java
Labels: bug

#12622 Slayer: Add Sourhogs to tasks
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#12448 Motherlode mine sack ores overlay
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeGemOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOreOverlay.java
Labels: feature-request

#12130 Check diseased and dead states on the Farming Contract Indicator
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingContractInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingContractManager.java
  runelite-client/src/test/java/net/runelite/client/plugins/timetracking/farming/FarmingContractManagerTest.java
Labels: bug

#12631 ImageUtil: add error log with path
  runelite-client/src/main/java/net/runelite/client/util/ImageUtil.java
Labels: enhancement

#12634 Make motherlode mine sack overlay be resizable and adhere to overlayBackgroundColor config
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeSackOverlay.java
Labels: enhancement

#12552 Add unidentified minerals mapping
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement

#12625 XPGlobes: allow stacking vertically.
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesPlugin.java
Labels: feature-request

#12640 Worldhopper: Update league world color for Trailblazer
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableRow.java
Labels: enhancement, leagues

#12606 chat-commands: add league points command
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: feature-request, leagues

#12607 xp-tracker: support league & dmm modifiers for kills remaining
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpState.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpWorldType.java
Labels: bug, leagues

#12536 chatcommands: add shorthand names for all agility courses
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: enhancement

#12621 kourendlibrary: Don't reset state when not finding Varlamore Envoy
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Library.java
  runelite-client/src/test/java/net/runelite/client/plugins/kourendlibrary/LibraryTest.java
Labels: bug

#12677 WidgetOverlay: make nightmare pillar health widget moveable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: enhancement

#12678 Make Volcanic mine widgets layoutable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: enhancement

#12586 Render Ground Items tile overlay at correct height
  runelite-api/src/main/java/net/runelite/api/Perspective.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: bug

#12582 banktags: don't allow colon in tagtab names
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#12611 Make minimum overlay size configurable per-overlay
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerOverlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/Overlay.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayRenderer.java
Labels: bug, enhancement

#12588 discord: add random events regions
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: enhancement

#12471 discord: Fix action timeout, add in game time elapsed option
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordState.java
  runelite-client/src/test/java/net/runelite/client/plugins/discord/DiscordStateTest.java
Labels: bug, feature-request

#12229 Fix NPE on resetting configs with null default value
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/test/java/net/runelite/client/config/ConfigManagerTest.java
  runelite-client/src/test/java/net/runelite/client/config/TestConfig.java
Labels: bug

#12517 Fix Nightmare Zone Overload timer and notification
  runelite-client/src/main/java/net/runelite/client/plugins/nightmarezone/NightmareZonePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: bug

#12657 HotColdLocation: Center a location spot.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#11765 motherlode: Add overlay for broken water wheel struts
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeSceneOverlay.java
  runelite-client/src/test/java/net/runelite/client/plugins/motherlode/MotherlodePluginTest.java
Labels: feature-request

#12579 experiencedrop: dont npe when trying to prayer highlight noncombat drops
  runelite-client/src/main/java/net/runelite/client/plugins/experiencedrop/XpDropPlugin.java
Labels: bug

#12593 worldmap: add Kourend task and unlock tooltip descriptions
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/KourendTaskLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/KourendTaskPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
Labels: enhancement, worldmap

#12694 Fix anisotropic filtering resetting to 0 after GPU plugin was restarted
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
Labels: bug, gpu

#12703 worldmap: add Wilderness Slayer Cave entrances
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/DungeonLocation.java
Labels: feature-request, worldmap

#12699 xp: add support for wise-old-man trailblazer
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpupdater/XpUpdaterPlugin.java
Labels: enhancement, leagues

#12715 chatcommands: handle league accounts properly
  runelite-api/src/main/java/net/runelite/api/IconID.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: bug, leagues

#12727 Link to CI workflow from CI badge
  README.md
Labels: enhancement

#12578 wiki: Always include item names in widget optarget lookups
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxItemSearch.java
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiSearchChatboxTextInput.java
  runelite-client/src/main/java/net/runelite/client/ui/JagexColors.java
Labels: bug, enhancement

#12580 chat timestamps: add timestamps for all message types
  runelite-client/src/main/scripts/ChatBuilder.rs2asm
Labels: feature-request
