Repository runelite/runelite, pull requests merged in 2020-05, with the labels that each got.

#10281 cache: add spotanim dump test
  cache/src/test/java/net/runelite/cache/SpotanimDumperTest.java
Labels: enhancement

#11355 rl-api, rl-client: Remove core logger
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/RuneLiteModule.java
Labels: bug

#11347 timers: Remove color matching for teleblock messages
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/timers/TimersPluginTest.java
Labels: bug

#11358 Preventing ClientSessionManager from calling onClinetShutdown multiple times
  runelite-client/src/main/java/net/runelite/client/ClientSessionManager.java
Labels: bug

#11419 Add dungeon names to world map
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/DungeonLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/DungeonPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
Labels: feature-request, worldmap

#11360 Added new POH overlay icons for Weiss and Troll Stronghold portals
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohIcons.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohOverlay.java
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/trollheim.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/trollstronghold.png
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/weiss.png
Labels: enhancement

#11304 fixes mouse tooltip item value color not matching ground item value color
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: bug

#10420 npcaggro: remove hint hiding option
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaNotWorkingOverlay.java
Labels: enhancement

#11442 worldmap: Fix misaligned icons for agility shortcuts/rare tree locations.
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/RareTreeLocation.java
Labels: bug, worldmap

#11411 Add required items to the Viggora Master Clue Step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues, enhancement

#11408 change for blade of saeldor (c) and bank sum
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: feature-request

#11420 loot-tracker: make clue scroll drops stackable
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerMapping.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/loottracker/LootTrackerPluginTest.java
Labels: enhancement, feature-request

#11336 Add option to copy chat message contents to clipboard
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatHistoryConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatHistoryPlugin.java
Labels: feature-request

#11461 worldmap: add hunter area tooltips
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/HunterAreaLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/HunterAreaPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
Labels: enhancement, worldmap

#11455 Item Stats: Fixed heal from Castle Wars bandages with CW Bracelet
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/special/CastleWarsBandage.java
Labels: bug, item-stats

#11451 Add missing region ID 12737 to the Iorwerth Dungeon Discord dungeon
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: discord, enhancement

#11479 Hosidius farming tooltip to new point on world map
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FarmingPatchLocation.java
Labels: update-regression, worldmap

#11477 skill calc: add barbarian fishing to agility skill calculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_agility.json
Labels: feature-request, skill-calc

#11478 agility: add highlight to final door of penguin agility course
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#11441 Add fishing spot tooltips to worldmap
  runelite-client/src/main/java/net/runelite/client/game/FishingSpot.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpotMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingSpotOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FishingSpotLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FishingSpotPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
Labels: feature-request, worldmap

#11474 Updated geSearchMode description
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeConfig.java
Labels: enhancement

#11436 Add agility course tooltips and indicate rooftop courses in worldmap
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/AgilityCourseLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/AgilityCoursePoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/rooftop_course_icon.png
Labels: feature-request

#11489 Additional elite clue information
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: clues, enhancement

#10035 loottracker: Show chat message after NPC and PVP kills
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/loottracker/LootTrackerPluginTest.java
Labels: feature-request

#7981 raids plugin: update scouter on chunk load and let players relog without breaking
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/Raid.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: enhancement

#11490 Adds a new Elite Clue Coordinate direction
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: clues

#11496 emojis: add acorn emoji
  runelite-client/src/main/java/net/runelite/client/plugins/emojis/Emoji.java
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/acorn.png
Labels: enhancement

#11526 added Dragonfruit Pie to item stats
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement

#7790 Add true current tile to tile indicator plugin
  runelite-client/src/main/java/net/runelite/client/plugins/tileindicators/TileIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/tileindicators/TileIndicatorsOverlay.java
Labels: feature-request

#11549 loot tracker: Fix "Show each kill separately" view
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
Labels: bug, loot-tracker, regression

#11298 Added menu entry swapper option for entering the corrupted gauntlet.
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#11550 Add blighted food/pots from bounty hunter to itemstats plugin
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: feature-request

#11535 itemmappings: adds nightmare staves
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement

#11537 Change `showSidebar` option name to 'Show world switcher sidebar' to match sidebar icon label
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
Labels: discussion

#11522 discord: Update activity message while playing PVP or DMM
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
Labels: discord, enhancement

#11305 Added seed packs to loot tracker
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request, loot-tracker

#11064 Add option to take a screenshot when kicking a user from clan chat
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: feature-request

#10664 Sidebar toggle hotkey changes
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: feature-request

#11521 Allow non-degraded barrows equipment for clue step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/test/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClueTest.java
Labels: bug, clues

#10345 Add gnome bench to construction skill calculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_construction.json
Labels: feature-request

#11013 ground items: remove Highlight > value, add Notify >= Tier
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/config/HighlightTier.java
Labels: feature-request

#11429 Screenshot: Block Untradeable Drops within the Gauntlets
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: feature-request

#11465 object indicators: check for null compositions
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
Labels: bug

#11566 Combat potion tag fix
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
Labels: bug

#11551 itemcharges: show potion doses
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeType.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemWithCharge.java
Labels: feature-request

#11541 Remove bounty hunter emblem tier from player name for lookup
  runelite-api/src/main/java/net/runelite/api/IconID.java
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-client/src/test/java/net/runelite/client/menus/MenuManagerTest.java
Labels: update-regression

#11412 Add support for transparent right-click menu
  runelite-api/src/main/java/net/runelite/api/Client.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
Labels: feature-request, internal

#10543 Add prifddinas portal highlighting to agility plugin
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: feature-request

#11593 Clue: Update Iron Man tutor clue cypher
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
Labels: clues, update-regression

#11536 Key-remapping: Don't remap f-keys when the bank pin interface is open
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/keyremapping/KeyRemappingPlugin.java
Labels: feature-request

#11648 removed sara wizard from duel arena step because there isn't one
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: bug, clues

#11634 added Magic Essence and Super Strength potion doses to Item Charges plugin
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemWithCharge.java
Labels: enhancement

#11619 Make background color of panel components configurable
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayManager.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayPanel.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/PanelComponent.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/infobox/InfoBoxOverlay.java
Labels: feature-request

#11659 clues: add brutal green dragon variant to cryptic clue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#11658 Use multiplicative color offsets for BackgroundComponent border
  runelite-client/src/main/java/net/runelite/client/ui/overlay/components/BackgroundComponent.java
Labels: enhancement

#11453 Adds menu entry swaps for Buy 1/5/10/50 and Sell 1/5/10/50.
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/BuyMode.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/SellMode.java
Labels: feature-request

#11467 metronome: add independent volume configuration
  runelite-client/src/main/java/net/runelite/client/plugins/metronome/MetronomePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/metronome/MetronomePluginConfiguration.java
Labels: feature-request

#11581 HotColdLocation: Center some location spots
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues, enhancement

#11552 screenmarker: add ability to put screen markers around widgets
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerMouseListener.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerWidgetHighlightOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ui/ScreenMarkerPluginPanel.java
Labels: feature-request

#11654 bank tags: clear remembered search when the active tag tab is clicked
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/TabInterface.java
Labels: bug

#11543 chat-history: add option to clear history for all chatbox tabs
  runelite-api/src/main/java/net/runelite/api/ChatLineBuffer.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatHistoryConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatHistoryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatboxTab.java
Labels: feature-request

#11668 Add checkbox for allowing notification sending for boosted stats.
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
Labels: feature-request

#11556 Add duplicate chat options to chatfilter
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatfilter/ChatFilterPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatfilter/ChatFilterPluginTest.java
Labels: feature-request

#11502 loot tracker: Use "an" prefix for monster names starting with vowels
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: enhancement

#11510 gpu: add warning message to compute shaders option
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPluginConfig.java
Labels: enhancement

#11557 Float loot tracker groups to top of list when obtaining drop
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
Labels: feature-request, loot-tracker

#11688 HotkeyButton: allow binding the space key
  runelite-client/src/main/java/net/runelite/client/plugins/config/HotkeyButton.java
Labels: bug

#11533 KeyRemapping: Add space as an option to remap.
  runelite-client/src/main/java/net/runelite/client/plugins/keyremapping/KeyRemappingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/keyremapping/KeyRemappingListener.java
Labels: feature-request

#11161 Specified additional item requirements in two clue scrolls
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues, enhancement

#11545 loot-tracker: Change name of ignored groups and add a clearer descrip…
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerConfig.java
Labels: enhancement

#11175 item prices: always show tooltip when alching if option is enabled
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemprices/ItemPricesOverlay.java
Labels: feature-request

#11509 Skill calculator change to show needed xp and xp number formatting
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculator.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/UICalculatorInputArea.java
Labels: feature-request

#11518 Add clay crafting items to crafting calculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_crafting.json
Labels: feature-request, skill-calc

#11645 npcunaggroarea: split color config depending on timer status
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaOverlay.java
Labels: enhancement

#11687 ItemManager: only canonicalize notes
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
Labels: bug, regression

#11673 clues: Fix spelling of jewellery for lighthouse emote clue to match J…
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#11614 raid plugin: fix plugin not reseting in niche case
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/raids/RaidsPlugin.java
Labels: bug, regression

#11681 chatcommands: fix chambers of xeric pb tracking
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: bug, update-regression

#11574 player-indicators: don't decorate non-player custom menu options
  runelite-api/src/main/java/net/runelite/api/MenuAction.java
  runelite-client/src/main/java/net/runelite/client/menus/MenuManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/playerindicators/PlayerIndicatorsPlugin.java
  runelite-client/src/test/java/net/runelite/client/menus/MenuManagerTest.java
Labels: bug, regression

#11691 chatcommands: add tob personal best tracking
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatcommands/ChatCommandsPluginTest.java
Labels: enhancement

#11725 api: fix raids points infobox widget id
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
Labels: bug, update-regression

#11743 client: Fix grammar in Ground Items config
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
Labels: bug

#11690 Add Witchaven Dungeon agility shortcut to agility plugin
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: feature-request

#11676 add divine potions to skillcalculator
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_herblore.json
Labels: enhancement, skill-calc

#11744 Clarify Boosts Information Tooltip
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsConfig.java
Labels: enhancement

#11737 chat-history: fix plugin not clearing history
  runelite-client/src/main/java/net/runelite/client/plugins/chathistory/ChatHistoryPlugin.java
Labels: bug

#10526 Remove duplicate Item Count in GroundItem notifs
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
Labels: bug

#11567 Make highlighting dead NPCs optional in the NPC indicators plugin.
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcMinimapOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcSceneOverlay.java
Labels: feature-request

#11577 Add all other pearl rod animations
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: bug

#11620 loot tracker - Fix total values when not grouping loot
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
Labels: bug, loot-tracker

#11628 ClientUI: Add support for changing window opacity.
  runelite-client/src/main/java/net/runelite/client/config/RuneLiteConfig.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: feature-request

#11650 Add a check for if chat is focused to consume key typed events
  runelite-client/src/main/java/net/runelite/client/plugins/keyremapping/KeyRemappingListener.java
Labels: feature-request

#11761 Add twisted ancestral robes to untradeable item mapping
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement
