Repository runelite/runelite, pull requests merged in 2021-01, with the labels that each got.

#12997 ImageUtil: rename getResourceStreamFromClass to loadImageResource
  runelite-client/src/main/java/net/runelite/client/game/SkillIconManager.java
  runelite-client/src/main/java/net/runelite/client/game/SpriteManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/account/AccountPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/BarbarianAssaultPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginHubPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginListItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/PluginToggleButton.java
  runelite-client/src/main/java/net/runelite/client/plugins/customcursor/CustomCursor.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/DevToolsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/emojis/Emoji.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/feed/FeedPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/friendnotes/FriendNotesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/hiscore/HiscorePlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/loginscreen/LoginScreenPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/mta/alchemy/AlchemyRoomTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/notes/NotesPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/party/PartyWorldMapPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohIcons.java
  runelite-client/src/main/java/net/runelite/client/plugins/poison/PoisonPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerBarOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ScreenMarkerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ui/ScreenMarkerCreationPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ui/ScreenMarkerPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ui/ScreenMarkerPluginPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/SkillCalculatorPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/statusbars/StatusBarsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/OverviewItemPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TimeTrackingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/clocks/ClockTabPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldHopperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableHeader.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTableRow.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/RunecraftingAltarPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportPoint.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/WorldMapPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
  runelite-client/src/main/java/net/runelite/client/ui/FatalErrorDialog.java
  runelite-client/src/main/java/net/runelite/client/ui/SplashScreen.java
  runelite-client/src/main/java/net/runelite/client/util/ImageUtil.java
Labels: enhancement

#12987 barrows: fix reward potential formatting showing too many 0s
  runelite-client/src/main/java/net/runelite/client/plugins/barrows/BarrowsBrotherSlainOverlay.java
Labels: bug, regression

#13014 discord: add Soul Wars regions
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: discord, enhancement

#12921 itemstats: correct zamorak brew defence drain to use current level
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: bug

#12415 worldmap: add Mahogany Homes and Soul Wars minigame locations
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/MinigameLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPointLocation.java
Labels: feature-request, worldmap

#13021 ChatboxTextInput: Improve open selection left/right handling
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxTextInput.java
Labels: enhancement

#13020 ChatboxTextInput: Select full message on ctrl+a
  runelite-client/src/main/java/net/runelite/client/game/chatbox/ChatboxTextInput.java
Labels: enhancement

#13029 Update Head chef clue solution to include Varrock armour
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues, enhancement

#13027 loot tracker: Add Spoils of war (Soul Wars)
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request, loot-tracker

#12999 QuestListPlugin: Fix names for Rag and Bone Man and Dragon Slayer
  runelite-api/src/main/java/net/runelite/api/Quest.java
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/KaramjaDiaryRequirement.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/QuestStartLocation.java
Labels: bug

#13028 itemstats: Add Soul Wars Potion of Power and Bandages
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: feature-request, item-stats

#12986 menu entry swapper: add dwarven rock cake swap
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#13050 Add Crabclaw Caves agility obstacles and fix dungeon WorldPoint
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/DungeonLocation.java
Labels: bug, enhancement, worldmap

#12944 add skull sceptre 'invoke' to teleport item menu entry swapper
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request

#12926 worldmap: add Watson teleport scroll location
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
Labels: enhancement, worldmap

#12936 loottracker: added bird nests to track type
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: enhancement

#12825 Update Yanille Anvils Map Clue description
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: clues, enhancement

#12802 worldmap: change ore amount for battlefield mine tooltip
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/MiningSiteLocation.java
Labels: bug

#13063 Fix growth stages of sweetcorn and watermelon
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/Produce.java
Labels: bug

#13068 Update LootTrackerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: enhancement

#13019 Add support for trailblazer kit rewards
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FaloTheBardClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/woodcutting/CrowdsourcingWoodcutting.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/mining/Pickaxe.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/runenergy/RunEnergyPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/wintertodt/WintertodtPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/Axe.java
Labels: enhancement

#13083 WidgetOverlay: Make Classic Resizeable Multicombat Indicator moveable
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: bug

#13082 Handle possible NPE.
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
Labels: bug

#13088 Add arms kit type
  runelite-api/src/main/java/net/runelite/api/kit/KitType.java
Labels: enhancement

#13045 chatcommands: Add Soul Wars Zeal command (!sw)
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: feature-request

#13070 MenuEntrySwapperPlugin: Added Spria
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#12979 cooking: change sinceCut to sinceCooked to match plugin
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeGemOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/motherlode/MotherlodeOverlay.java
Labels: enhancement

#12896 Add additional weapons' special attacks to the damage tracker.
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialWeapon.java
Labels: feature-request

#11630 Swap boss icons
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/abyssal_sire.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/alchemical_hydra.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/barrows_chests.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/bryophyta.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/callisto.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/cerberus.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/chambers_of_xeric.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/chambers_of_xeric_challenge_mode.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/chaos_elemental.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/chaos_fanatic.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/commander_zilyana.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/corporeal_beast.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/crazy_archaeologist.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/dagannoth_prime.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/dagannoth_rex.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/dagannoth_supreme.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/deranged_archaeologist.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/general_graardor.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/giant_mole.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/grotesque_guardians.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/hespori.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/kalphite_queen.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/king_black_dragon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/kraken.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/kreearra.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/kril_tsutsaroth.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/mimic.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/nightmare.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/obor.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/sarachnis.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/scorpia.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/skotizo.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/the_corrupted_gauntlet.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/the_gauntlet.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/theatre_of_blood.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/thermonuclear_smoke_devil.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/tzkal_zuk.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/tztok_jad.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/venenatis.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/vetion.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/vorkath.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/wintertodt.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/zalcano.png
  runelite-client/src/main/resources/net/runelite/client/plugins/hiscore/bosses/zulrah.png
Labels: enhancement

#12954 XP Globes: add virtual level to config and xp globes
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/xpglobes/XpGlobesPluginTest.java
Labels: feature-request

#12995 Add Low/High Energy notifications to idle notifier
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: feature-request

#12893 timetracking: Add option to show the soonest completion time of a tab
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TimeTrackingConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/TimeTrackingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingTracker.java
Labels: feature-request

#13120 npc indicators: remove tags from minimap npc name
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcMinimapOverlay.java
Labels: bug

#13117 itemstats: Update Soul Wars Bandages healing
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: update-regression
