Repository runelite/runelite, pull requests merged in 2021-08, with the labels that each got.

#12689 Add "Placeholder" withdraw option to the Menu Entry Swapper's "Bank W…
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/ShiftWithdrawMode.java
Labels: feature-request

#13893 Change Grotesque Guardians instance closing time to 5 minutes
  runelite-client/src/main/java/net/runelite/client/plugins/bosstimer/Boss.java
Labels: bug

#13954 itemstats: Add new Gauntlet food
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement

#13977 Cryptic clue: update missing Wizards' Tower fairy code
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues, enhancement

#14003 roof removal: add overrides for Prifddinas
  runelite-client/src/main/resources/net/runelite/client/plugins/roofremoval/overrides.jsonc
Labels: bug, roof-removal

#13890 skillcalculator: Add New Amethyst Items
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_crafting.json
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_fletching.json
Labels: enhancement, skill-calc

#13715 Fix toJagexName removing double spaces in some cases
  runelite-client/src/main/java/net/runelite/client/util/Text.java
  runelite-client/src/test/java/net/runelite/client/util/TextTest.java
Labels: bug

#13723 banktags: Fix bank scroll height with separators hidden
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
Labels: bug

#14031 roof removal: many override fixes
  runelite-client/src/main/resources/net/runelite/client/plugins/roofremoval/overrides.jsonc
Labels: bug, roof-removal

#13907 clues: remove non-existent clues
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#14020 itemstats: Add Corrupted Paddlefish
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement, item-stats

#14039 roof removal: fix ardougne castle 1st floor
  runelite-client/src/main/resources/net/runelite/client/plugins/roofremoval/overrides.jsonc
Labels: bug, roof-removal

#14051 Cryptic Clue - Fix hosidius fruit store crates highlighting
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: bug, clues

#13908 client: update various wordings to use "signed in/out" for RL accounts
  runelite-client/src/main/java/net/runelite/client/account/SessionManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/account/AccountPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/info/InfoPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerConfig.java
Labels: enhancement

#13702 skill calc: added urium remains to the list along with 50% bonus
  runelite-client/src/main/resources/net/runelite/client/plugins/skillcalculator/skill_prayer.json
Labels: enhancement, skill-calc

#14074 loot tracker: add ea display to tooltips
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerBox.java
Labels: feature-request

#14058 roof removal: Fix Ardougne monastery
  runelite-client/src/main/resources/net/runelite/client/plugins/roofremoval/overrides.jsonc
Labels: bug, roof-removal

#14042 roof removal: properly account for instances when applying overrides
  runelite-client/src/main/java/net/runelite/client/plugins/roofremoval/RoofRemovalPlugin.java
Labels: bug, roof-removal

#14073 xp globes: account for progress arc width when deciding overlay bounds
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
Labels: bug
