Repository runelite/runelite, pull requests merged in 2021-03, with the labels that each got.

#13124 Ground Markers: Add toggling for Import/Export and a Clear option
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/groundmarkers/GroundMarkerSharingManager.java
Labels: feature-request

#13297 Specify the number of bars required for shayzien armor set elite clue sherlock step.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: clues, enhancement

#13258 ItemMapping: Add Trouver Parchment items and refunds
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement

#13284 Fix POH altar burners false positive burn message
  runelite-client/src/main/java/net/runelite/client/plugins/cooking/CookingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/cooking/CrowdsourcingCooking.java
  runelite-client/src/test/java/net/runelite/client/plugins/cooking/CookingPluginTest.java
Labels: bug

#13295 Add more plugin search tags
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationPlugin.java
Labels: enhancement

#13305 Prevent to clear object markers on connection lost
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
Labels: bug

#12990 opponentinfo: make health bar more active
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/opponentinfo/OpponentInfoPluginTest.java
Labels: feature-request

#13317 Support trimmed DragDefender and tzhaar-ket-om in FaloTheBeardClue.
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FaloTheBardClue.java
Labels: bug, clues

#13287 Some Discord, worldmap, and agility changes
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/DungeonLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/RareTreeLocation.java
Labels: discord, enhancement, worldmap

#13059 ChatNotificationsPlugin: Added support for regular expression highlights
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/chatnotifications/ChatNotificationsPluginTest.java
Labels: feature-request

#13342 Cluescroll: Remove duplicate clue from MapClue
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/MapClue.java
Labels: bug, clues

#13358 Dedupe GameObjectSpawned events when simulating events
  runelite-client/src/main/java/net/runelite/client/util/GameEventManager.java
Labels: bug

#13061 xpglobes: Add dynamic globe icon sizing
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobe.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpglobes/XpGlobesOverlay.java
Labels: feature-request

#13133 discord: add Tempoross regions
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: discord, enhancement

#13348 item charges: use RSProfiles for items with stored charges
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargeOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemcharges/ItemChargePluginTest.java
Labels: enhancement

#13395 eventbus: preserve priority ordering during unregister
  runelite-client/src/main/java/net/runelite/client/eventbus/EventBus.java
Labels: bug
