Repository runelite/runelite, pull requests merged in 2021-11, with the labels that each got.

#14129 timer plugin: overhaul handling Imbued Heart cooldown
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/timers/TimersPluginTest.java
Labels: enhancement

#14245 roof removal: fix rimmington crafting store roof
  runelite-client/src/main/resources/net/runelite/client/plugins/roofremoval/overrides.jsonc
Labels: bug, roof-removal

#14348 roof removal: fix tolna's rift
  runelite-client/src/main/resources/net/runelite/client/plugins/roofremoval/overrides.jsonc
Labels: bug, roof-removal

#14358 Fix clan hall ground items despawn timer
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: bug

#13212 Move wiki varbit crowdsourcing into default client
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/CrowdsourcingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/varbits/CrowdsourcingVarbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/varbits/VarData.java
Labels: feature-request

#14361 Add tome of water to enchant dragostone as water rune replacement
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: enhancement, clues

#11321 clues: make item requirements work with the runepouch
  runelite-client/src/main/java/net/runelite/client/game/RunepouchRune.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/runepouch/RunepouchOverlay.java
  runelite-client/src/test/java/net/runelite/client/plugins/cluescrolls/ClueScrollPluginTest.java
Labels: feature-request

#14369 special counter: ignore vet'ion hellhounds
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounterPlugin.java
Labels: enhancement

#14372 avoid boxing `Comparator.comparing`s
  cache/src/main/java/net/runelite/cache/fs/flat/FlatStorage.java
  runelite-api/src/main/java/net/runelite/api/geometry/RectangleUnion.java
  runelite-client/src/main/java/net/runelite/client/eventbus/EventBus.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/BankTagsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/devtools/WidgetInspector.java
  runelite-client/src/main/java/net/runelite/client/plugins/fishing/FishingPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/SaradominBrew.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/SuperRestore.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/special/CastleWarsBandage.java
  runelite-client/src/main/java/net/runelite/client/plugins/music/MusicPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/questlist/QuestListPlugin.java
  runelite-client/src/main/java/net/runelite/client/ui/ContainableFrame.java
Labels: enhancement
