Repository runelite/runelite, pull requests merged in 2022-11, with the labels that each got.

#15646 ItemMapping / plugins: Add new locked/imbued items, use ItemVariationMapping
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerOverlay.java
Labels: enhancement

#15888 Slayer: Add alternatives for Ogres task
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#15916 [Menu entry swapper][easy] Remove extra space in MenuEntrySwapper.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug

#15633 item stats: Add Tombs of Amascut consumables
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/Ambrosia.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemstats/ItemStatEffectTest.java
Labels: enhancement

#15344 boosts: panel+compact support for always show buff/debuff timer
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/BoostsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/boosts/CompactBoostsOverlay.java
Labels: bug, regression
