Repository runelite/runelite, pull requests merged in 2022-05, with the labels that each got.

#14923 Add Abyssal Lantern as clue scroll light source
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollOverlay.java
Labels: enhancement, clues

#14927 Perspective: fix clickbox for type 11 objects
  runelite-api/src/main/java/net/runelite/api/Perspective.java
Labels: bug

#14930 clues: Fix capitalization for Dark Mage anagram
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
Labels: clues, update-regression

#14942 chatcommands: consume "clear single word" keypress
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatKeyboardListener.java
Labels: bug

#14939 interfacestyles: 2005-style quest tab headers
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/SpriteOverride.java
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/1297.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/1713.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/2219.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/2276.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/2309.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/835.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/836.png
Labels: interface-styles

#14687 [TINY] TimersPlugin: Added Shadow Veil protection detection to resolve timer showing when not stunned.
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: bug

#14412 Adds most of the item restore/drain information except barbarian poti…
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: enhancement, item-stats

#14324 skillcalculator: fix some small errors in the herblore section
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/skills/HerbloreAction.java
Labels: bug, skill-calc

#14963 clientui: setResizable after setVisible
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: bug

#14951 chat commands: Update clear word and clear line defaults
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsConfig.java
Labels: discussion

#14831 item stats: Add missing consumables
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/special/CaveNightshade.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/special/NettleTeaRunEnergy.java
Labels: item-stats

#4036 itemstats: Add mixed (barbarian) potions
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/MixedPotion.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemstats/ItemStatEffectTest.java
Labels: feature-request, item-stats

#14842 TimerPlugin: track home and minigame teleports cooldown using varps
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TeleportWidget.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: enhancement
