Repository runelite/runelite, pull requests merged in 2022-06, with the labels that each got.

#14764 Add Item id for Desert Treasure diamonds
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
Labels: enhancement

#15014 TimerPlugin: Check stamina effect using varbits
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/timers/TimersPluginTest.java
Labels: enhancement

#15128 Fix kourend elite diary requirement for blood runes task
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/KourendDiaryRequirement.java
Labels: update-regression

#15144 Add lizards to dead NPCs blacklist
  runelite-client/src/main/java/net/runelite/client/game/NpcUtil.java
Labels: bug

#15087 Send username and sessionid when redirecting to /logged-in page
  runelite-client/src/main/java/net/runelite/client/account/SessionManager.java
Labels: enhancement

#15195 Anti drag cox chest
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/antidrag/AntiDragPlugin.java
Labels: enhancement

#15196 Fix Morytania diary cannonball task requirements
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/MorytaniaDiaryRequirement.java
Labels: bug

#15151 plugin manager: don't load builtin externals from hub
  runelite-client/src/main/java/net/runelite/client/externalplugins/ExternalPluginManager.java
Labels: enhancement
