Repository runelite/runelite, pull requests merged in 2022-09, with the labels that each got.

#15564 regen-timer: add lightbearer support
  runelite-client/src/main/java/net/runelite/client/plugins/regenmeter/RegenMeterPlugin.java
Labels: enhancement

#15573 loginscreen: add toa background
  runelite-client/src/main/java/net/runelite/client/plugins/loginscreen/LoginScreenOverride.java
  runelite-client/src/main/resources/net/runelite/client/plugins/loginscreen/toa.jpg
Labels: enhancement

#15671 Fix BA plugin, which was broken in 668d99
  runelite-client/src/main/java/net/runelite/client/plugins/barbarianassault/BarbarianAssaultPlugin.java
Labels: bug, regression

#15699 Fix NPC Util Wall beast transition
  runelite-client/src/main/java/net/runelite/client/game/NpcUtil.java
Labels: bug

#15706 agility: add Necropolis obstacle
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: enhancement
