Repository runelite/runelite, pull requests merged in 2022-07, with the labels that each got.

#15160 npcindicators: isDying checks for menu entries and highlighting
  runelite-client/src/main/java/net/runelite/client/plugins/npchighlight/NpcIndicatorsPlugin.java
Labels: enhancement

#15251 party: getMemberByDisplayName search by jagex name
  runelite-client/src/main/java/net/runelite/client/party/PartyService.java
Labels: bug

#15064 Skill Calculator: Add ensouled hellhounds to prayer tab
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/skills/PrayerAction.java
Labels: skill-calc

#15408 Updated XpTrackerConfig "Hide maxed skills" to an accurate description.
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpTrackerConfig.java
Labels: bug
