Repository runelite/runelite, pull requests merged in 2022-10, with the labels that each got.

#15757 Add Necropolis, Ruins of Ullek, and Tombs of Amascut regions to Discord plugin
  runelite-client/src/main/java/net/runelite/client/plugins/discord/DiscordGameEventType.java
Labels: enhancement, discord

#15581 item identification: Add supplies in Tombs of Amascut
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
Labels: enhancement

#15725 Fix for explorer ring not updating its charge count on login in sometimes.
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
Labels: bug, regression
