Repository runelite/runelite, pull requests merged in 2022-12, with the labels that each got.

#15557 game: Add isDying support for Gadderanks transformations
  runelite-client/src/main/java/net/runelite/client/game/NpcUtil.java
Labels: bug

#16008 clue: add climbing boots (g) to emote steps
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: enhancement, clues

#16045 SkillChallengeClue: Fix Charlie clues update regression
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: clues, update-regression

#16073 Fix antivenom timers expiring too early
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: bug
