Repository runelite/runelite, pull requests merged in 2022-04, with the labels that each got.

#14395 Make group ironman bank value work
  runelite-api/src/main/java/net/runelite/api/ScriptID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
Labels: feature-request

#14779 clues: Support rune crossbow and god book (or) variants
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FaloTheBardClue.java
Labels: clues

#14742 roof removal: Various override additions
  runelite-client/src/main/resources/net/runelite/client/plugins/roofremoval/overrides.jsonc
Labels: roof-removal

#14839 plugins: Rename Sedridor to Archmage Sedridor
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: update-regression

#14145 Status Bars Plugin - Customize width of status bars for resizable mode
  runelite-client/src/main/java/net/runelite/client/plugins/statusbars/BarRenderer.java
  runelite-client/src/main/java/net/runelite/client/plugins/statusbars/StatusBarsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/statusbars/StatusBarsOverlay.java
Labels: feature-request

#14833 npcaggro: fix unintended loss of calibration
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/AggressionTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaPlugin.java
Labels: bug

#14890 github: Add Discussions issue template
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/bug-issue.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: enhancement

#14827 Menu Entry Swapper: Add configurable house teleport swap options
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: feature-request
