Repository runelite/runelite, pull requests merged in 2022-08, with the labels that each got.

#15452 roof removal: Add Barrows Tunnel override
  runelite-client/src/main/resources/net/runelite/client/plugins/roofremoval/overrides.jsonc
Labels: enhancement, roof-removal

#15293 Add Damis first form to isDying block list
  runelite-client/src/main/java/net/runelite/client/game/NpcUtil.java
Labels: bug

#15472 Append Sardine and Herring to the name of Net/Bait Fishing Spots
  runelite-client/src/main/java/net/runelite/client/game/FishingSpot.java
Labels: enhancement

#14217 roof removal: add etceteria overrides
  runelite-client/src/main/resources/net/runelite/client/plugins/roofremoval/overrides.jsonc
Labels: roof-removal

#15382 Adds clown emoji 🤡
  runelite-client/src/main/java/net/runelite/client/plugins/emojis/Emoji.java
  runelite-client/src/main/resources/net/runelite/client/plugins/emojis/clown.png
Labels: enhancement

#14737 HotColdSolver: Simplify temperature change filtering, improve temperature change narrowing
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdSolver.java
  runelite-client/src/test/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdSolverTest.java
Labels: enhancement, clues

#15549 achievementdiary: fix castle wars task's requirements
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/ArdougneDiaryRequirement.java
Labels: update-regression

#15552 achievementdiary: fix fremennik gwd task text
  runelite-client/src/main/java/net/runelite/client/plugins/achievementdiary/diaries/FremennikDiaryRequirement.java
Labels: update-regression
