Repository runelite/runelite, pull requests merged in 2022-02, with the labels that each got.

#9170 widget overlay: Don't draw empty wilderness K/D box
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: bug

#14712 gpu: Fix loading Gluegen natives on Windows with special characters in the username
  runelite-client/src/main/java/net/runelite/client/plugins/gpu/GpuPlugin.java
Labels: gpu

#14716 slayer: Fix name matching
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#14062 ClientUI: Run PluginPanel#onDeactivate when switching panels
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: enhancement
