Repository runelite/runelite, pull requests merged in 2023-04, with the labels that each got.

#16457 timers: fix liquid adrenaline timer being removed on death
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
Labels: bug

#16355 roof removal: add Uzer Oasis override
  runelite-client/src/main/resources/net/runelite/client/plugins/roofremoval/overrides.jsonc
Labels: roof-removal

#16464 Add `EASTFLOOR_SPADE` as a valid spade item in the clue scroll helper overlay
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/ClueScrollOverlay.java
Labels: enhancement, clues

#16519 Fix SpriteIDs from April 2023 updates
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2005/779.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/779.png
Labels: interface-styles, update-regression

#16520 Cluescrolls Plugin: Update emote clue to correctly include all combat bracelet types
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/test/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClueTest.java
Labels: bug, clues

#16505 woodcutting: Add redwood tree at farming guild
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/Tree.java
  runelite-client/src/main/java/net/runelite/client/plugins/woodcutting/WoodcuttingTreesOverlay.java
Labels: enhancement

#16536 Correct Slimy Eel FishingAction experience value
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/skills/FishingAction.java
Labels: bug, skill-calc

#16545 Change Choc-ice healing amount to 7
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: bug
