Repository runelite/runelite, pull requests merged in 2023-03, with the labels that each got.

#16350 Idle Notifier: Add Imcando Hammer Infernal Eel Crushing Animation ID
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: update-regression

#16382 Add Constant for KQ Lair Region ID and add it to Instance Exceptions for Despawn Times
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
Labels: bug

#16393 Rename Ectofunctus to Ectofuntus
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CipherClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperConfig.java
Labels: bug

#16404 Add quest speedrunning graceful inventory vs equipment ids.
  runelite-client/src/main/java/net/runelite/client/game/ItemManager.java
Labels: update-regression

#16414 Add "Phantom Muspah" to the list of available slayer tasks
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: bug

#16441 kourendlibrary: reset state on new gamemessage
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPlugin.java
Labels: enhancement
