Repository runelite/runelite, pull requests merged in 2023-11, with the labels that each got.

#16030 report button: Don't reset login time on connection lost
  runelite-client/src/main/java/net/runelite/client/plugins/reportbutton/ReportButtonPlugin.java
Labels: bug

#16887 clues: Add missing item variations from Poll 78
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/FaloTheBardClue.java
Labels: clues

#17156 Fix screenshots for level 99 messages with level-up dialogs disabled
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: bug

#16749 config: Add default profile linking to config profiles
  runelite-client/src/main/java/net/runelite/client/config/ConfigManager.java
  runelite-client/src/main/java/net/runelite/client/config/ConfigProfile.java
  runelite-client/src/main/java/net/runelite/client/config/ProfileManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/config/ProfilePanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/defaultworld/DefaultWorldPlugin.java
  runelite-client/src/main/resources/util/link.png
Labels: feature-request

#17187 cluescroll: remove quantity check
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/item/MultipleOfItemRequirement.java
  runelite-client/src/test/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClueTest.java
Labels: bug, clues
