Repository runelite/runelite, pull requests merged in 2023-09, with the labels that each got.

#16988 Update barbarian mix heal amounts
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: item-stats

#17020 objectindicators: deduplicate color suggestions
  runelite-client/src/main/java/net/runelite/client/plugins/objectindicators/ObjectIndicatorsPlugin.java
Labels: bug

#16680 fix(timetracking): s/Giant/Big/g
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/CompostTracker.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/FarmingWorld.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/PatchImplementation.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/Produce.java
Labels: enhancement

#16953 Add sprite dialogue widgets to crowdsourcing
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetID.java
  runelite-api/src/main/java/net/runelite/api/widgets/WidgetInfo.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/dialogue/ChatMessageData.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/dialogue/CrowdsourcingDialogue.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/dialogue/DoubleSpriteTextData.java
  runelite-client/src/main/java/net/runelite/client/plugins/crowdsourcing/dialogue/SpriteTextData.java
Labels: enhancement

#17026 Update miscellenia favor GMT time
  runelite-client/src/main/java/net/runelite/client/plugins/kingdomofmiscellania/KingdomPlugin.java
Labels: enhancement, update-regression

#17072 bank: use clientThread.invokeLater for updating vault price
  runelite-client/src/main/java/net/runelite/client/plugins/bank/BankPlugin.java
Labels: bug
