Repository runelite/runelite, pull requests merged in 2023-10, with the labels that each got.

#16524 specialcounter: add accursed sceptre
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounterPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialWeapon.java
  runelite-client/src/test/java/net/runelite/client/plugins/specialcounter/SpecialWeaponTest.java
Labels: enhancement

#17103 worldmap: fix stranglewood rowboats destinations
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPointLocation.java
Labels: bug

#17085 fishingspot: raw karambwanji sprite instead of (cooked) karambwanji
  runelite-client/src/main/java/net/runelite/client/game/FishingSpot.java
Labels: enhancement

#17024 worldmap: add ring of the elements teleport locations
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ring_of_the_elements_teleport_icon.png
Labels: enhancement, worldmap

#17100 worldmap: add ring of shadows teleport locations
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/ring_of_shadows_teleport_icon.png
Labels: enhancement, worldmap

#17055 timers: add mark of darkness timer
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: feature-request

#15765 Implement feature request from discussion #15764 - XP Updater plugin
  runelite-client/src/main/java/net/runelite/client/plugins/xpupdater/XpUpdaterPlugin.java
Labels: enhancement

#17117 Opponent Info plugin: add toggle to only show boss health overlay
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/opponentinfo/OpponentInfoOverlay.java
Labels: feature-request
