Repository runelite/runelite, pull requests merged in 2023-08, with the labels that each got.

#16904 clues: Update Necromancer Tower Master clue hint
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#16917 inventorytags: Add colors of equipped items to Inventory Tag submenu
  runelite-client/src/main/java/net/runelite/client/plugins/inventorytags/InventoryTagsPlugin.java
Labels: enhancement

#16972 Respect "Show precise combat level" config on character summary tab
  runelite-client/src/main/java/net/runelite/client/plugins/combatlevel/CombatLevelPlugin.java
Labels: bug

#16223 loot tracker: Fix chest re-opening detection
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/loottracker/LootTrackerPluginTest.java
Labels: bug

#15495 Clamp color picker window position to screen bounds
  runelite-client/src/main/java/net/runelite/client/plugins/config/ConfigPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/screenmarkers/ui/ScreenMarkerPanel.java
  runelite-client/src/main/java/net/runelite/client/ui/components/colorpicker/RuneliteColorPicker.java
Labels: enhancement
