Repository runelite/runelite, pull requests merged in 2023-05, with the labels that each got.

#16251 timers: Re-add message-detection for thrall creation timer
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/timers/TimersPluginTest.java
Labels: bug

#16592 fix object walk here swap with multilocs
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: bug

#16471 Slayer plugin: Prevent initial task amount getting an incorrect value when disconnecting.
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#16618 clue: moved some arrows to indicate where the player actually should go
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/AnagramClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: enhancement, clues

#16513 grand exchange: Initialize offers panel on startup
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
Labels: enhancement

#16605 specialCounter: fixed bug where 1 tick specs are tracked with the previous spec weapon
  runelite-client/src/main/java/net/runelite/client/plugins/specialcounter/SpecialCounterPlugin.java
Labels: bug

#16422 grand exchange: Fix slot detail panels with wrapped text
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangeOfferSlot.java
Labels: bug
