Repository runelite/runelite, pull requests merged in 2023-01, with the labels that each got.

#14339 slayer: Set streak and points when receiving first task
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: bug

#16037 slayer: cancel task on inferno fail
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/slayer/SlayerPluginTest.java
Labels: enhancement

#16141 entity hider: fix frog random event
  runelite-client/src/main/java/net/runelite/client/plugins/entityhider/EntityHiderPlugin.java
Labels: bug

#16111 worldmap: fix typo for Skavid Caves in DungeonLocation
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/DungeonLocation.java
Labels: bug, worldmap

#16145 chat commands: add short names for Phantom Muspah
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: enhancement

#16154 loot tracker: add support for frozen caches
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: feature-request

#16146 interface styles: add HD healthbars for phantom muspah's shield
  runelite-api/src/main/java/net/runelite/api/SpriteID.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/HealthbarOverride.java
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_back_100px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_back_120px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_back_140px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_back_160px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_back_40px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_back_50px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_back_60px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_back_70px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_back_80px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_front_100px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_front_120px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_front_140px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_front_160px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_front_40px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_front_50px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_front_60px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_front_70px.png
  runelite-client/src/main/resources/net/runelite/client/plugins/interfacestyles/2010/healthbar/purple_front_80px.png
Labels: feature-request

#16079 item stats: Fix Ring of the gods (i) detection
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/PrayerPotion.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemstats/ItemStatEffectTest.java
Labels: bug

#15524 timers: use varbit to track remaining overload time
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/timers/TimersPluginTest.java
Labels: bug

#16157 EmoteClue - updated iorwerth clue to include bowfa as well as crystal bow
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: clues

#16213 Loot Tracker: add VM ore packs
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: enhancement

#16044 Item Charges: Add support for Tombs of Amascut supplies
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemWithCharge.java
Labels: enhancement

#16229 ChatCommandsPlugin: Fixed Al Kharid Return
  runelite-client/src/main/java/net/runelite/client/plugins/chatcommands/ChatCommandsPlugin.java
Labels: bug
