Repository runelite/runelite, pull requests merged in 2024-07, with the labels that each got.

#17658 ammo: dizana's quiver tracking
  runelite-api/src/main/java/net/runelite/api/VarPlayer.java
  runelite-client/src/main/java/net/runelite/client/plugins/ammo/AmmoPlugin.java
Labels: enhancement

#17659 mes: custom swaps for dizana's quiver ammo slot
  runelite-api/src/main/interfaces/interfaces.toml
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
Labels: enhancement

#18013 cannon: adding cannon spot for warped creatures, tested as 55k slayer xp/hr
  runelite-client/src/main/java/net/runelite/client/plugins/cannon/CannonSpots.java
Labels: enhancement

#18040 gpu: regions: add various underground areas
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/regions/regions.txt
Labels: enhancement, gpu

#16973 grandexchange: fuzzy with prefix + jarowinkler
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/FuzzySearchScorer.java
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/GrandExchangePlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/grandexchange/GrandExchangePluginTest.java
Labels: enhancement

#17318 clues: misc changes
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: enhancement, clues

#18065 Added "Bag full of gems" to Loot Tracker.
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: enhancement, loot-tracker

#18031 Fixes NPC aggression timer config loss when switching accounts
  runelite-client/src/main/java/net/runelite/client/plugins/npcunaggroarea/NpcAggroAreaPlugin.java
Labels: bug

#18112 Update Skill Calculator - Making Pyre Logs Firemaking Skilling Actions
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/skills/FiremakingAction.java
Labels: skill-calc, update-regression

#18100 clues: add felling axes to Enchanted Valley step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: enhancement, clues
