Repository runelite/runelite, pull requests merged in 2024-11, with the labels that each got.

#18139 skillcalculator: Add Deadman rug
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/skills/ConstructionAction.java
Labels: enhancement, skill-calc

#18362 gpu: regions: add regions for areas from Shilo Village and What Lies Below
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/regions/regions.txt
Labels: enhancement, gpu

#17962 worldhopper: add Bounty Hunter option to world type filter
  runelite-client/src/main/java/net/runelite/client/plugins/worldhopper/WorldTypeFilter.java
Labels: enhancement, feature-request

#18210 idlenotifier: add Varlamore-related animations
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: enhancement

#18558 clues: Update Aldarin easy clue solution
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: enhancement, clues

#18530 gpu: regions: add KBD lair
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/regions/regions.txt
Labels: bug, gpu

#18564 poh: add civitas illa fortis teleport
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohIcons.java
  runelite-client/src/main/java/net/runelite/client/plugins/poh/PohOverlay.java
  runelite-client/src/main/resources/net/runelite/client/plugins/poh/civitasillafortis.png
Labels: enhancement

#17476 xp tracker: Toggle compact view on click
  runelite-client/src/main/java/net/runelite/client/plugins/xptracker/XpInfoBox.java
Labels: enhancement
