Repository runelite/runelite, pull requests merged in 2024-01, with the labels that each got.

#17297 slayer: Fix initial amount when task changes
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: bug

#17354 overlay manager: revalidate overlays on profile change
  runelite-client/src/main/java/net/runelite/client/ui/overlay/OverlayManager.java
Labels: bug

#17359 world map: add AKR fairy ring
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FairyRingLocation.java
Labels: worldmap

#17363 Prayer: reorder prayers on profile change.
  runelite-client/src/main/java/net/runelite/client/plugins/prayer/PrayerReorder.java
Labels: bug

#17273 Add Team Cape 0/X/I to clue step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: bug, clues

#17364 kourendlibrary: remove dark manuscripts
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Book.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/KourendLibraryPanel.java
  runelite-client/src/main/java/net/runelite/client/plugins/kourendlibrary/Library.java
  runelite-client/src/test/java/net/runelite/client/plugins/kourendlibrary/LibraryTest.java
Labels: bug, update-regression

#17368 World Map: Update minecart locations
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPointLocation.java
Labels: enhancement, update-regression

#17369 World Map: Update fairy rings enum
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FairyRingLocation.java
Labels: enhancement

#17398 clientui: Support Linux WM layout
  runelite-client/src/main/java/net/runelite/client/ui/ClientUI.java
Labels: enhancement, platform:linux

#17385 xp updater: add runetracker support
  runelite-client/src/main/java/net/runelite/client/plugins/xpupdater/XpUpdaterConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/xpupdater/XpUpdaterPlugin.java
Labels: enhancement

#16493 timers: Track god wars altar cooldown via varbit
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timers/TimersPlugin.java
Labels: enhancement
