Repository runelite/runelite, pull requests merged in 2024-10, with the labels that each got.

#18162 Replace "Only show own items" config with new "Ownership Filter" dropdown
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItem.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsOverlay.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/GroundItemsPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/grounditems/config/OwnershipFilterMode.java
  runelite-client/src/test/java/net/runelite/client/plugins/grounditems/GroundItemsPluginTest.java
Labels: enhancement

#18373 add missing varlamore STASH units
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/STASHUnit.java
Labels: enhancement, clues

#18376 idle notifier: add mixology actions
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/idlenotifier/IdleNotifierPlugin.java
Labels: enhancement

#18383 animsmoothing: add cyclops attack animation to blocklist
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/animsmoothing/AnimationSmoothingPlugin.java
Labels: enhancement

#18353 slayer: add araxxor task and lesser nagua alternatives
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#18357 attack styles: fix blue moon spear
  runelite-client/src/main/java/net/runelite/client/plugins/attackstyles/AttackStylesPlugin.java
Labels: bug

#18400 clues: add Villa Lucens hot/cold location
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/hotcold/HotColdLocation.java
Labels: clues

#18408 Skill Calculator: Wyrm Agility XP and icons
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/skills/AgilityAction.java
Labels: skill-calc

#18372 Skill Calculator: Update Mastering Mixology potions' XP and levels
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/skills/HerbloreAction.java
Labels: skill-calc

#18349 worldmap: add spider cave teleport
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
Labels: enhancement, worldmap

#18199 agility: fix wilderness course
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Courses.java
Labels: bug

#18340 login screen: add varlamore 2 login screen
  runelite-client/src/main/java/net/runelite/client/plugins/loginscreen/LoginScreenOverride.java
  runelite-client/src/main/resources/net/runelite/client/plugins/loginscreen/varlamore2.jpg
Labels: enhancement
