Repository runelite/runelite, pull requests merged in 2024-09, with the labels that each got.

#18266 gpu: regions: add Lumbridge underground areas to Chasm of Tears region
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/regions/regions.txt
Labels: bug, gpu

#18275 fix incorrect hunter area label
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/HunterAreaLocation.java
Labels: enhancement

#17930 worldmap: add Lovakenj Minecart destination names to tooltips
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TransportationPointLocation.java
Labels: enhancement, worldmap

#18239 Add blurite bar to item identification
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
Labels: enhancement

#18298 wiki: Add wiki menu option for combat achievement tasks
  runelite-api/src/main/interfaces/interfaces.toml
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/wiki/WikiSearchChatboxTextInput.java
Labels: enhancement

#18321 timetracking: support huasca
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/PatchImplementation.java
  runelite-client/src/main/java/net/runelite/client/plugins/timetracking/farming/Produce.java
Labels: enhancement

#18329 agility: add colossal wyrm courses
  runelite-api/src/main/java/net/runelite/api/Varbits.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/AgilityPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Courses.java
  runelite-client/src/main/java/net/runelite/client/plugins/agility/Obstacles.java
Labels: enhancement

#18327 clues: add varlamore part two steps
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/emote/STASHUnit.java
Labels: enhancement, clues

#18330 skill calculator: add colossal wyrm courses
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/skills/AgilityAction.java
Labels: enhancement, skill-calc
