Repository runelite/runelite, pull requests merged in 2024-08, with the labels that each got.

#18094 skybox: Improve default skybox color
  runelite-client/src/main/resources/net/runelite/client/plugins/skybox/skybox.txt
Labels: enhancement

#18105 Fix: amulet of chemistry notify message
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
Labels: enhancement

#18079 Update Telekinetic room to show one move ahead.
  runelite-client/src/main/java/net/runelite/client/plugins/mta/telekinetic/TelekineticRoom.java
Labels: enhancement

#17869 ItemMapping: add Varlamore and Leagues 4 items
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement

#18127 clues: add emberlight to arclight master step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: enhancement, clues

#18114 grandexchange fuzzy: handle mid-term matches better
  runelite-client/src/main/java/net/runelite/client/plugins/grandexchange/FuzzySearchScorer.java
Labels: enhancement, regression

#18122 clues: add echo boots alternative
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/EmoteClue.java
Labels: enhancement, clues

#18161 Add deadman weapon kit items to item mapping
  runelite-client/src/main/java/net/runelite/client/game/ItemMapping.java
Labels: enhancement

#18170 slayer: fix checking slayer task from inventory with eternal slayer ring
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: bug

#18150 Fix line of sight check for multi-tile `WorldArea`s
  runelite-api/src/main/java/net/runelite/api/coords/WorldArea.java
Labels: bug

#18144 animsmoothing: add Demonbane spells, windmills to blocklist
  runelite-api/src/main/java/net/runelite/api/AnimationID.java
  runelite-client/src/main/java/net/runelite/client/plugins/animsmoothing/AnimationSmoothingPlugin.java
Labels: enhancement

#18099 gpu: regions: add various areas
  runelite-client/src/main/resources/net/runelite/client/plugins/gpu/regions/regions.txt
Labels: enhancement, gpu

#18211 slayer: skeletal mystics count as skeletons
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement
