Repository runelite/runelite, pull requests merged in 2024-02, with the labels that each got.

#17447 worldmap: fix Kourend teleport level
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
Labels: worldmap, update-regression

#17374 Add skillcape teleports to worldmap
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/achievement_cape_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/construction_cape_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/crafting_cape_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/farming_cape_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/fishing_cape_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/hunter_cape_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/music_cape_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/quest_cape_icon.png
  runelite-client/src/main/resources/net/runelite/client/plugins/worldmap/strength_cape_icon.png
Labels: enhancement, worldmap

#17502 fix nightmare loot tracking
  runelite-client/src/main/java/net/runelite/client/game/LootManager.java
Labels: bug, regression

#17514 Add player option condensing to InterfaceStylesPlugin
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesConfig.java
  runelite-client/src/main/java/net/runelite/client/plugins/interfacestyles/InterfaceStylesPlugin.java
Labels: feature-request, interface-styles

#17535 pmd: Run checks against runelite-maven-plugin module, require locale for case conversions
  runelite-maven-plugin/pmd-ruleset.xml
  runelite-maven-plugin/pom.xml
  runelite-maven-plugin/src/main/java/net/runelite/mvn/ComponentMojo.java
Labels: enhancement

#17539 world map: Update outdated DBTableID values
  runelite-api/src/main/java/net/runelite/api/dbtable/DBTableID.java
Labels: bug, regression, worldmap, update-regression
