Repository runelite/runelite, pull requests merged in 2025-04, with the labels that each got.

#18318 item identification: add wines
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentificationConfig.java
Labels: enhancement

#18934 Fix spelling of Prifddinas
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/FishingSpotLocation.java
Labels: enhancement

#18940 jshell: import gameval.*
  runelite-jshell/src/main/resources/net/runelite/jshell/prelude.jsh
Labels: enhancement

#18952 screenshot: add fortis colosseum
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: enhancement

#18950 cluescrolls: correct enemy value for 05.13N 04.16W master step
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CoordinateClue.java
Labels: enhancement, clues

#18931 worldmap: Update worldmap to match in-game name of Emir's Arena
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/MinigameLocation.java
  runelite-client/src/main/java/net/runelite/client/plugins/worldmap/TeleportLocationData.java
Labels: worldmap

#18795 loot tracker: fix grubby chest false positive loot
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/loottracker/LootTrackerPluginTest.java
Labels: bug, loot-tracker
