Repository runelite/runelite, pull requests merged in 2025-02, with the labels that each got.

#18715 Add costume needle as alternate for needle and thread
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: clues

#18718 agility: add royal titans shortcut
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: enhancement

#18719 slayer: add ice/fire giant alternatives
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/Task.java
Labels: enhancement

#18717 Add Varlamore wines to ItemStatChanges.java
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/ItemStatChanges.java
Labels: item-stats

#18724 item identification: update herb abbreviations and add huasca potion
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
Labels: enhancement

#18783 item identification: add moonlight potion
  runelite-client/src/main/java/net/runelite/client/plugins/itemidentification/ItemIdentification.java
Labels: enhancement

#18689 Adding Castle Wars interface ID information and a couple overlays
  runelite-api/src/main/interfaces/interfaces.toml
  runelite-client/src/main/java/net/runelite/client/ui/overlay/WidgetOverlay.java
Labels: enhancement

#18789 loot tracker: capture unique wintertodt rewards
  runelite-client/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/loottracker/LootTrackerPluginTest.java
Labels: bug, loot-tracker

#18787 item stats: fix ancient brew obo
  runelite-client/src/main/java/net/runelite/client/plugins/itemstats/potions/AncientBrew.java
  runelite-client/src/test/java/net/runelite/client/plugins/itemstats/ItemStatEffectTest.java
Labels: bug, item-stats
