Repository runelite/runelite, pull requests merged in 2025-08, with the labels that each got.

#19237 clues: highlight warriors guild doorman after while guthix sleeps
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/CrypticClue.java
Labels: clues

#17153 slayer: display wilderness slayer task streak
  runelite-client/src/main/java/net/runelite/client/plugins/slayer/SlayerPlugin.java
Labels: enhancement

#18929 mes: correctly apply shift deposit swaps to deposit boxes and GIM storage
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/MenuEntrySwapperPlugin.java
  runelite-client/src/main/java/net/runelite/client/plugins/menuentryswapper/ShiftDepositMode.java
Labels: update-regression
