Repository runelite/runelite, pull requests merged in 2025-07, with the labels that each got.

#19030 Skill Calculator: Add Aether Runes to RunecraftAction
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/skills/RunecraftAction.java
Labels: enhancement, skill-calc

#19007 low detail: avoid npe before login
  runelite-client/src/main/java/net/runelite/client/plugins/lowmemory/LowMemoryPlugin.java
Labels: bug

#18138 screenshots: Add doom death screenshots
  runelite-client/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/screenshot/ScreenshotPluginTest.java
Labels: enhancement

#19104 Skill calculator: add pyre fox cooking
  runelite-client/src/main/java/net/runelite/client/plugins/skillcalculator/skills/CookingAction.java
Labels: skill-calc
