Repository runelite/runelite, pull requests merged in 2025-05, with the labels that each got.

#18567 bank tags: support vials in potion storage
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/LayoutManager.java
  runelite-client/src/main/java/net/runelite/client/plugins/banktags/tabs/PotionStorage.java
Labels: update-regression

#18953 maven plugin: add javadoc for deprecated InterfaceID and ComponentID
  runelite-maven-plugin/src/main/java/net/runelite/mvn/ComponentMojo.java
Labels: enhancement

#18785 chat message manager: fix line break unapplying message color
  runelite-client/src/main/java/net/runelite/client/chat/ChatMessageManager.java
Labels: bug

#18993 itemcharges: update binding necklace used pattern to match new message
  runelite-client/src/main/java/net/runelite/client/plugins/itemcharges/ItemChargePlugin.java
Labels: update-regression

#19002 timers: update death charge for yama changes
  runelite-client/src/main/java/net/runelite/client/plugins/timersandbuffs/GameTimer.java
  runelite-client/src/main/java/net/runelite/client/plugins/timersandbuffs/TimersAndBuffsPlugin.java
  runelite-client/src/test/java/net/runelite/client/plugins/timersandbuffs/TimersAndBuffsPluginTest.java
Labels: update-regression

#18994 agility shortcut: add varrock castle garden shortcut
  runelite-client/src/main/java/net/runelite/client/game/AgilityShortcut.java
Labels: enhancement

#19019 clues: Update Anglerfish skill challenge with demonic worms
  runelite-client/src/main/java/net/runelite/client/plugins/cluescrolls/clues/SkillChallengeClue.java
Labels: clues
